{% extends "base.html" %}

{% block title %} Desembolsos {% endblock title %}

{% block content %}

	<div class="Desembolso" ng-app="cooperativa">
		
		<div class="sub-menu" ng-controller="desembolso">	
			<div class="menu-entrada-desembolso-listado">
				<button class="nuevo icon-file" title="Nuevo desembolso"></button>
			</div>
				Listado de Desembolsos
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="listado-reg-desembolsos">
			<span> Factura No. </span>
			<input type="text" id="FacturaNo">

			<table class="listado-table">
				<tr class="listado-table-header">
					<td><input type="checkbox"> </td>
					<td>Estatus</td>
					<td>Cheque</td>
					<td>Distrito</td>
					<td>Fecha</td>
					<td>Valor</td>
					<td>Concepto</td>
					<td>Imprimir</td>
					<td>Eliminar</td>
				</tr>

				<tr class="listado-desembolsos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>SEDE CENTRAL</td>
					<td>08/12/2014</td>
					<td>23,000.34</td>
					<td>Compra de cosmeticos necesarios</td>
					<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-desembolsos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>SEDE CENTRAL</td>
					<td>08/12/2014</td>
					<td>23,000.34</td>
					<td>Compra de cosmeticos necesarios</td>
					<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-desembolsos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>SEDE CENTRAL</td>
					<td>08/12/2014</td>
					<td>23,000.34</td>
					<td>Compra de cosmeticos necesarios</td>
					<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-desembolsos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>SEDE CENTRAL</td>
					<td>08/12/2014</td>
					<td>23,000.34</td>
					<td>Compra de cosmeticos necesarios</td>
					<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-desembolsos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>SEDE CENTRAL</td>
					<td>08/12/2014</td>
					<td>23,000.34</td>
					<td>Compra de cosmeticos necesarios</td>
					<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
			</table>

			<button class="Boton boton-postear-factura"> Postear</button>
		</section>

		<!--DETALLE DESEMBOLSO-->
		<div class="sub-menu">	
				Detalle Desembolso
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="data-entry-section">
			<div class="data-entry-desembolso-header">
				
				<table class="data-entry-header-table">
					<tr>
						<td>Distrito</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Valor</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Concepto</td>
						<td> <input type="text"> </td>
					</tr>
				</table>

				<div class="beneficiario-find-d">
					<span>Beneficiario</span>
					<input type="text">
	
				</div>
				

				<section class="detalle-section">
					<table class="detalle-table">
						<tr class="productos-table-header">
							<td>Concepto</td>
							<td>Valor</td>
							<td>Eliminar</td>
						</tr>
						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
					</table>


					<button class="icon-save Boton boton-guarda-desembolso">Guardar</button>
				</section>

			</div>
		</section>


		
		</div>

		
	</div>


{% endblock content %}