{% extends "base.html" %}

{% block title %} Desembolsos {% endblock title %}

{% block content %}

	<div class="DesembolsoCH" ng-controller="DesembolsosCajasCtrl">
		
		<mensajeerror> </mensajeerror>
		<!-- <mensajeinfo> </mensajeinfo> -->


		<div class="sub-menu">	
			<div class="menu-entrada-desembolso-listado">
				<!-- <button class="nuevo icon-file" title="Nuevo desembolso"></button> -->
			</div>
				Listado de Desembolsos
			<!-- <a class="[[ArrowLD]]" href="#" ng-click="toggleLD()"></a> -->
		</div>

		<div id="listado" class="listado-desembolsos-cajas cssSlideUp" ng-show="showLD" ng-init="listadoDesembolsos()">
			
			<section class="listado-reg-desembolsos">
				<span> Cheque No. </span>
				<input type="text" id="ChequeNo" class="doc-no-ei" ng-model="NoCheque" ng-keypress="buscarCheque($event, NoCheque)">
				
				<a href="#" class="icon-uniE601 icon-buscar" ng-click="filtrarPorNoCheque(NoCheque)"></a>
				
				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoDesembolsos()">Ver todos</a>


				<section class="registrosPanel">
					<table class="listado-table-ld">
						<tr class="listado-table-header">
							<td><input type="checkbox"> </td>
							<td>Estatus</td>
							<td>Cheque</td>
							<td>Localidad</td>
							<td>Fecha</td>
							<td>Valor</td>
							<td>Concepto</td>
							<td>Imprimir</td>
							<td>Eliminar</td>
						</tr>

						<tr class="listado-desembolsos-detail" ng-repeat="item in desembolsos">
							<td><input type="checkbox" name="c[[item.id]]" ng-checked="valoresChk[item.id]" ng-model="reg[item.id]" ng-click="selectedReg(item)"> </td>
							<td class="icon-coin"></td>
							<td> <a href="#" class="sp-field" ng-click="DocFullById(item.id)">[[item.cheque | numberFixedLen: 8]] </a></td>
							<td>[[item.localidad]]</td>
							<td>[[item.fecha | date: 'dd/MM/yyyy']]</td>
							<td class="resaltar-valor align-right">[[item.totalGeneral]]</td>
							<td>[[item.concepto]]</td>
							<td><a href="#" class="icon-printer imprimir-icon" ng-click="printD(item)"></a> </td>
							<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
						</tr>

					</table>
				</section>

			</section>
		</div>


		<!--DETALLE DESEMBOLSO-->
		<!-- 
		<div class="sub-menu">	
				Detalle Desembolso
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="data-entry-section">
			<div class="data-entry-desembolso-header">
				
				<table class="data-entry-header-table">
					<tr>
						<td>Distrito</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Valor</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Concepto</td>
						<td> <input type="text"> </td>
					</tr>
				</table>

				<div class="beneficiario-find-d">
					<span>Beneficiario</span>
					<input type="text">
	
				</div>
				

				<section class="detalle-section">
					<table class="detalle-table">
						<tr class="productos-table-header">
							<td>Concepto</td>
							<td>Valor</td>
							<td>Eliminar</td>
						</tr>
						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		

						<tr class="productos-table-detail">
							<td>Compra de mantel para mesa</td>
							<td>500.00</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
					</table>


					<button class="icon-save Boton boton-guarda-desembolso">Guardar</button>
				</section>

			</div>
		</section>


		
		</div> -->

		
	</div>


{% endblock content %}