<div class="head">

{% extends "base.html" %}
{% block title %} Desembolso (Caja Chica) {% endblock title %}

{% block content %}

</div>

	<div class="Desembolso" ng-controller="ImprimirDesembolsoCtrl">
		<div class="header-f">
			<span class="titulo-f"> COOPERATIVA GERDAUMETALDOM </span>
			<span class="localidad-f"> ZONA IND. LA ISABELA </span>
		</div>

		<section class="cabecera-desembolso">
			<span class="fondo-d">1 Caja Chica </span>
			<span class="a-orden-d">A la orden de: [[dataH.concepto]]</span>
			<span class="paguese-d">Paguese la Suma de *** QUINIENTOS CON 00/100</span> <span class="paguese-valor-d">500.00</span>
			<span class="detalle-d">Detalle : <span class="detalle-d-text"> Asignacion de combustible a Herrero para cotizar puerta y ventana de hierro Cooperativa PID, segun anexo.</span> </span>
		</section>

		<section class="cabecera-desembolso-2">
			<table>
				<tr>
					<td>Numero: 000039[[dataH.id]]</td>
				</tr>
				<tr>
					<td>Fecha: 12/12/2015[[dataH.fecha]]</td>
				</tr>
			</table>
		</section>

		<section class="detalle-desembolso">

			<table class="table-producto-factura">
				<tr>
					<td>Beneficiario</td>
					<td>Concepto</td>
					<td>Valor</td>
				</tr>
				<tr ng-repeat="desembolso in dataD">
					<td>[[desembolso.beneficiario]]</td>
					<td>[[desembolso.concepto]]</td>
					<td>[[desembolso.valor]]</td>
				</tr>
				<tr>
					<td colspan="2">TOTALES:</td>
					<td>[[totalValor_ | number : 2]]</td>
				</tr>
			</table>
		</section>

		<section class="firmas-d">
			<div class="firma1-d">
				<span>____________________________</span>
				<span>Solicitado por</span>
				<span>Asistente Administrativo</span>
			</div>

			<div class="firma2-d">
				<span>Recibido __________________________</span>
				<span>Cedula   __________________________</span>
			</div>

			<div class="firma3-d">
				<span>_____________________________</span>
				<span>Autorizado Por</span>
				<span>Gte. Cooperativa</span>
			</div>

		</section>
		
	</div>

<div class="pie">
{% endblock content %}
	
</div>
