<div class="head">

{% extends "base.html" %}
{% block title %} Desembolso (Caja Chica) {% endblock title %}

{% block content %}

</div>

	<section ng-controller="ImprimirDesembolsoCtrl">
		
		<div class="Desembolso">

			<div class="header-f" ng-init="getDocumentoById(desembolso.id)">
				<span class="titulo-f"> [[empresa]] </span>
				<span class="localidad-f"> [[localidad]] </span>
			</div>

			<section class="cabecera-desembolso">
				<span class="fondo-d">Caja: [[desembolsoDetalle.fondo]]</span>
				<span class="a-orden-d">A la orden de: <span class="detalleHeader">[[desembolsoDetalle.detalleHeader]]</span> </span>
				<span class="paguese-d">Paguese la Suma de ***[[desembolsoDetalle.totalGeneral | NumLetra]]***</span> <span class="paguese-valor-d">[[desembolsoDetalle.totalGeneral | number : 2]]</span>
				<span class="detalle-d">Detalle :</span> <span class="detalle-d-text"> [[desembolsoDetalle.conceptoHeader]]</span>
			</section>

			<span ng-if="desembolsoDetalle.impreso > 0" class="reimpresa">REIMPRESO</span>

			<section class="cabecera-desembolso-2">

				<table>
					<tr>
						<td>Numero: [[desembolsoDetalle.id | numberFixedLen : 8]]</td>
					</tr>
					<tr>
						<td>Fecha: [[desembolsoDetalle.fecha | date : 'dd/MM/yyyy']]</td>
					</tr>
				</table>
			</section>

			<section class="detalle-desembolso">

				<table class="table-producto-factura">
					<tr>
						<td>Beneficiario</td>
						<td>Concepto</td>
						<td class="align-right">Valor</td>
					</tr>
					<tr ng-repeat="item in desglose">
						<td>[[item.beneficiario]]</td>
						<td>[[item.conceptoDescrp]]</td>
						<td class="align-right">[[item.monto | number : 2]]</td>
					</tr>
					<tr>
						<td colspan="2">TOTAL:</td>
						<td>[[totalValor_ | number : 2]]</td>
					</tr>
				</table>
			</section>

			<section class="firmas-d">
				<table>
					<tr>
						<td>_______________________</td>
						<td>Recibido</td>
						<td>_______________________</td>
						<td>_______________________</td>
					</tr>
					<tr>
						<td class="align-center">Solicitado por</td>
						<td></td>
						<td></td>
						<td class="align-center">Autorizado por</td>
					</tr>
					<tr>
						<td class="align-center">Asistente Administrativo</td>
						<td>Cedula</td>
						<td>_______________________</td>
						<td class="align-center">Gte. Cooperativa</td>
					</tr>
				</table>

			</section>
			
		</div>

		<div class="imprimir">
			<button id="printBoton" class="icon-printer Boton boton-imprimir-doc" ng-click="imprimirDesembolso()">IMPRIMIR</button>
		</div>
	</section>

<div class="pie">
{% endblock content %}
	
</div>
