{% extends "base.html" %}

{% block title%} Diario General {% endblock title %}

{% block content%}
<section ng-controller="ContabilidadController" >
	<div class="sub-menu">	
				<a href="#" ng-click="toggleLF()">Diario General</a>
			<!-- <a class="[[ArrowLF]]" href="#" ng-click="toggleLF()"></a> -->
	</div>
	<section class="DiarioSearch" >
		<div ng-init="FillResult()">
			<div class="DiarioHidenTable">
				<table class="cuentas-table-search" ng-show="tableCuentas">
							<tr>
								<td colspan="3" class="cerrar-table">
									<a href="#" class="icon-delete" ng-click="tableCuentas=false"></a>
								</td>
							</tr>
							<tr class="socios-table-header">
								<td>Codigo</td>
								<td>descripcion</td>
							</tr>
							<tr ng-repeat="c in cuentas" class="socios-table-detail-search">
								<td><a href="#" class="select-item" ng-click="selCuenta($event,c)"> [[c.codigo]] </a></td>
								<td><a href="#" class="select-item" ng-click="selCuenta($event,c)"> [[c.descripcion]] </a></td>
							</tr>
						</table>

				<table class="aux-table-search" ng-show="tableAux">
							<tr>
								<td colspan="3" class="cerrar-table">
									<a href="#" class="icon-delete" ng-click="tableAux=false"></a>
								</td>
							</tr>
							<tr class="socios-table-header">
								<td>Codigo</td>
								<td>descripcion</td>
							</tr>
							<tr ng-repeat="a in aux" class="socios-table-detail-search">
								<td><a href="#" class="select-item" ng-click="selAux($event,a)"> [[a.codigo]] </a></td>
								<td><a href="#" class="select-item" ng-click="selAux($event,a)"> [[a.descripcion]] </a></td>
							</tr>
						</table>
			</div>


			<table >
				<tr>
					<td>
						<label for="FechaI">Fecha Inicial</label> 
							<input type="text" ng-model="SFechaI" value="[[SFechaI | date: 'dd/MM/yyyy']]" datepicker style="margin:.5em">
					</td>
					<td>
						<label for="FechaF">Fecha Final</label> 
							<input type="text" ng-model="SFechaF" value="[[SFechaF | date: 'dd/MM/yyyy']]" datepicker style="margin:.5em">
					</td>
				</tr>
				<tr>
					<td colspan="2"><label for="SCuenta">Cuenta</label> 
							<input type="text" ng-model="SCuenta" ng-keyup="getCuenta($event)" ng-focus="tableCuentas=false" ng-click="tableCuentas=false; errorShow=false; getCuenta($event);" class="producto-field-ei" style="margin:.5em">
								
								<span class="error-ei"> [[cuentaNoExiste]]</span>
					</td>
				</tr>
				<tr>
					<td>
						Tipo de Documento
					</td>
					<td>
						<select ng-options="xs as xs.descripcion for xs in  tipoDoc" 
  								 ng-model="doc" ng-change="filtDoc()" class="selectOption">
  						</select>
					</td>
				</tr>

			</table>
			<button class="Boton  BusquedaBtn" ng-click="FillResult()">Buscar <span class="icon-uniE601"></span></button>


			<button class="Boton BusquedaBtn danger" ng-click="Clear()">Limpiar <span class="icon-notification"></span></button>
			<button class="Boton BotonImprimirDiario" ng-click="ImprimirRegistro($event)">Imprimir <span class="icon-printer"></span></button>
						
		</div>
	</section>

	<section class="DiarioPanel" >

		<div>
			<h2 class="RepDiarioTitulo">Reporte Diario General</h2>
			<h3 class="RepDiarioSubtitulo">Desde: [[SFechaI | date :'dd/MM/yyyy']], Hasta: [[SFechaF | date :'dd/MM/yyyy']]</h3>
			<table class="listado-table-f printSali" id="table-lf-listado" >
				<tr class="listado-table-header-f">
					<td>Fecha</td>
					<td>Cuenta</td>
					<td>Cuenta Descripcion</td>
					<td>Ref</td>
					<td class="align-right">Debito</td>
					<td class="align-right">Credito</td>
				</tr>
				<tr ng-repeat="reg in diario" class="listado-diario-detail" > <!-- listado-Dr-detail  -->
					<td >[[reg.fecha |date: 'dd/MM/yyyy' ]]</td>
					<td >[[reg.cuenta ]]</td>
					<td >[[reg.cDescripcion ]]</td>
					<td >[[reg.ref]]</td>
					<td >[[reg.debito | number: 2 ]]</td>
					<td >[[reg.credito | number: 2]]</td>
				</tr>
				<tr class="[[panelTotal]]">
					<td colspan="4"></td>
					<td class="amarillo">[[totalDebito | number:2]]</td>
					<td class="amarillo">[[totalCredito | number:2]]</td>
				</tr>
			</table>
		</div>
	</section>
</section>
{% endblock content%}