{% extends "base.html" %}

{% block title%} Estados de Financiero {% endblock title %}

{% block content%}
<section ng-controller="EstadoFinanController" ng-init="getDate()">
	<form id="depreForm" ng-submit="getData($event)" class="Activo-formulario">
	<div class="repTituloPag"> 
		<h2>Reporte de Estados Financieros</h2>
	</div>
	<div class="ahorroPrint">
			<div class="ConciliacionPanel">
				<table>
					<tr>
						<td>
							Fecha desde:
						</td>
						<td>
							<input type="text" ng-model="fechaI" datepicker>
						</td>
					</tr>
					<tr>
						<td>
							Fecha hasta:
						</td>
						<td>
							<input type="text" ng-model="fechaF" datepicker>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="Boton BusquedaBtn icon-save" type="submit">Generar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="EstadoR-Cuerpo">
			<span class="fecha">
					Desde: [[fechaI]] Hasta: [[fechaF]]
			</span>
			<div ng-repeat="cab in cabeceras" class="repEstadoCab">
				<span>
				 <strong>[[cab.cuenta]] : [[cab.descrip]] </strong>
				</span>
				
				<table class="repEstadoTab">
					<tr>
						<td><strong>Cuenta</strong></td>
						<td><strong>Descripcion</strong></td>
						<td><strong>Debito</strong></td>
						<td><strong>Credito</strong></td>
					</tr>
					<tr ng-repeat="reg in cab.registros">
						<td>[[reg.cuenta]]</td>
						<td>[[reg.descrip]]</td>
						<td>[[reg.debito | number : 2]]</td>
						<td>[[reg.credito |number : 2]]</td>
					</tr>
				</table>
				
			</div>
		</div>
	</form>
</section>

{% endblock content%}
