{% extends "base.html" %}

{% block title %} Facturacion {% endblock title %}

{% block content %}

	<div class="facturas" ng-controller="ListadoFacturasCtrl">

		
		<div class="cssSlideUpError" ng-show="errorShow">
			[[errorMsg]]
			<a href="" class="cerrarError" ng-click="toggleError()">X</a>
		</div>


			
			<div class="sub-menu">	
				<div class="menu-entrada-inventario-listado">
					<button class="nuevo icon-file" title="Nueva factura"></button>
				</div>
					Listado de Facturas
				<a class="[[ArrowLF]]" href="#" ng-click="toggleLF()"></a>
			</div>
			
		<div class="facturacion cssSlideUp" ng-show="showLF" ng-init="listadoFacturas()">

			<section class="listado-reg-facturas">
				<span> Factura No. </span>
				<input type="text" id="FacturaNo" class="doc-no-ei" ng-model="NoFact" ng-keypress="buscarFact($event, NoFact)">
				<a href="#" class="icon-uniE601 icon-buscar" ng-click="filtrarPorNoFact(NoFact)"></a>
				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoFacturas()">Ver todos</a>

				<div class="posteo-ei">
					<span>Posteadas</span>
					<select name="posteo" id="posteo" ng-model="posteof" ng-change="filtrarPosteo()">
						<option value="*">TODOS</option>
						<option value="S">SI</option>
						<option value="N">NO</option>
					</select>
				</div>

			<section class="registrosPanel">

				<table class="listado-table" id="table-lf-listado">
					<tr class="listado-table-header">
						<td><input type="checkbox" ng-model-"regAll" ng-click="seleccionAll()"> </td>
						<td>Estatus</td>
						<td>Fecha</td>
						<td>Factura</td>
						<td>Orden C.</td>
						<td>Prestamo</td>
						<td>NCF</td>
						<td>Socio</td>
						<td>Valor</td>
						<td>Imprimir</td>
						<td>Eliminar</td>
					</tr>

					<tr ng-repeat="factura in facturas" class="listado-facturas-detail" ng-init="total=0">
						<td><input type="checkbox" name="c[[factura.id]]" ng-disabled="[[factura.posteo | posteo]]" ng-checked="valoresChk[factura.id]" ng-model="reg[factura.id]" ng-click="selectedReg(factura)"> </td>
						<td class="icon-coin posteo-[[factura.posteo]]"></td>
						<td>[[factura.fecha]]</td>
						<td><a href="#" class="sp-field" ng-click="FactFullById(factura.id)"> [[factura.id | numberFixedLen: 8]] </a></td>
						<td>[[factura.orden]]</td>
						<td>[[factura.prestamo]]</td>
						<td>[[factura.ncf]]</td>
						<td>[[factura.socio]]</td>
						<td>[[factura.valor]]</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>
								
				</table>

			</section>

			<button class="Boton boton-postear-factura"> Postear</button>
			</section>
		
		</div>

		<div class="detalle-factura" ng-controller="DetalleFacturaCtrl">
			<!--DETALLE FACTURA-->
			<div class="sub-menu">	
					Detalle Factura
			</div>

			<section class="data-entry-section">
				<div class="data-entry-factura-header">
					
					<table class="data-entry-header-table">
						<tr>
							<td>Fecha</td>
							<td> <input type="text" value="[[fecha | date: 'dd-MM-yyyy']]"> </td>
						</tr>
						<tr>
							<td>Terminos</td>
							<td> <input type="text"> </td>
						</tr>
						<tr>
							<td>Vendedor</td>
							<td> <input type="text" value="{{user}}" readonly class="input-no-editable"> </td>
						</tr>
					</table>

					<div class="producto-find">
						<span>Producto</span>
						<input type="text">
		
					</div>
					

					<section class="productos-section">
						<table class="productos-table">
							<tr class="productos-table-header">
								<td>Codigo</td>
								<td>Descripcion</td>
								<td>Cantidad</td>
								<td>Precio</td>
								<td>% Desc.</td>
								<td>Importe</td>
								<td>Eliminar</td>
							</tr>
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
						</table>

						<div class="totales-section">
							<ul class="totales-ul">
								<li><span>SubTotal</span> <input type="text"></li>
								<li><span>Descuento</span> <input type="text"></li>
								<li><span>Total</span> <input type="text"></li>
							</ul>
						</div>

						<button class="icon-save Boton boton-guarda-inventario">Guardar</button>
					</section>

				</div>
			</section>


			
			</div>
	
		</div>

	</div>


{% endblock content %}