{% extends "base.html" %}

{% block title %} Facturacion {% endblock title %}

{% block content %}

	<div class="facturas">

		<div class="Facturacion" ng-controller="ListadoFacturasCtrl">
			
			<div class="sub-menu">	
				<div class="menu-entrada-inventario-listado">
					<button class="nuevo icon-file" title="Nueva factura"></button>
				</div>
					Listado de Facturas
				<a class="DownArrow" href="#" ng-click="toggleLF()"></a>
			</div>

			<section class="listado-reg-facturas" ng-show="showLF">
				<span> Factura No. </span>
				<input type="text" id="FacturaNo">

				<table class="listado-table">
					<tr class="listado-table-header">
						<td><input type="checkbox"> </td>
						<td>Estatus</td>
						<td>Factura</td>
						<td>Orden C.</td>
						<td>Prestamo</td>
						<td>NCF</td>
						<td>Socio</td>
						<td>Valor</td>
						<td>Imprimir</td>
						<td>Eliminar</td>
					</tr>

					<tr class="listado-facturas-detail">
						<td><input type="checkbox"> </td>
						<td class="icon-coin"></td>
						<td>0002344</td>
						<td>0003234</td>
						<td>0045596</td>
						<td>A00203948588570031</td>
						<td>Jose Rafael Montero Nolasco</td>
						<td>43,500.66</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>
					<tr class="listado-facturas-detail">
						<td><input type="checkbox"> </td>
						<td class="icon-coin"></td>
						<td>0002344</td>
						<td>0003234</td>
						<td>0045596</td>
						<td>A00203948588570031</td>
						<td>Jose Rafael Montero Nolasco</td>
						<td>43,500.66</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>
					<tr class="listado-facturas-detail">
						<td><input type="checkbox"> </td>
						<td class="icon-coin"></td>
						<td>0002344</td>
						<td>0003234</td>
						<td>0045596</td>
						<td>A00203948588570031</td>
						<td>Jose Rafael Montero Nolasco</td>
						<td>43,500.66</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>
					<tr class="listado-facturas-detail">
						<td><input type="checkbox"> </td>
						<td class="icon-coin"></td>
						<td>0002344</td>
						<td>0003234</td>
						<td>0045596</td>
						<td>A00203948588570031</td>
						<td>Jose Rafael Montero Nolasco</td>
						<td>43,500.66</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>
					<tr class="listado-facturas-detail">
						<td><input type="checkbox"> </td>
						<td class="icon-coin"></td>
						<td>0002344</td>
						<td>0003234</td>
						<td>0045596</td>
						<td>A00203948588570031</td>
						<td>Jose Rafael Montero Nolasco</td>
						<td>43,500.66</td>
						<td><a href="#" class="icon-printer imprimir-factura"></a> </td>
						<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
					</tr>								
				</table>

				<button class="Boton boton-postear-factura"> Postear</button>
			</section>
		
		</div>

		<div class="detalle-factura" ng-controller="DetalleFacturaCtrl">
			<!--DETALLE FACTURA-->
			<div class="sub-menu">	
					Detalle Factura
			</div>

			<section class="data-entry-section">
				<div class="data-entry-factura-header">
					
					<table class="data-entry-header-table">
						<tr>
							<td>Fecha</td>
							<td> <input type="text" value="[[fecha | date: 'dd-MM-yyyy']]"> </td>
						</tr>
						<tr>
							<td>Terminos</td>
							<td> <input type="text"> </td>
						</tr>
						<tr>
							<td>Vendedor</td>
							<td> <input type="text" value="{{user}}" readonly class="input-no-editable"> </td>
						</tr>
					</table>

					<div class="producto-find">
						<span>Producto</span>
						<input type="text">
		
					</div>
					

					<section class="productos-section">
						<table class="productos-table">
							<tr class="productos-table-header">
								<td>Codigo</td>
								<td>Descripcion</td>
								<td>Cantidad</td>
								<td>Precio</td>
								<td>% Desc.</td>
								<td>Importe</td>
								<td>Eliminar</td>
							</tr>
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td>500</td>
								<td>0.00</td>
								<td>1,000</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
						</table>

						<div class="totales-section">
							<ul class="totales-ul">
								<li><span>SubTotal</span> <input type="text"></li>
								<li><span>Descuento</span> <input type="text"></li>
								<li><span>Total</span> <input type="text"></li>
							</ul>
						</div>

						<button class="icon-save Boton boton-guarda-inventario">Guardar</button>
					</section>

				</div>
			</section>


			
			</div>
	
		</div>

	</div>


{% endblock content %}