<div class="head">

{% extends "base.html" %}
{% block title %} Reporte de Utilidades {% endblock title %}

{% block content %}

</div>

<section class="Factura" ng-controller="ImprimirReporteUtilidadCtrl">
	
	<div class="rptUtilidad">
		<div class="align-center">
			<h3>COOPERATIVA INDUSTRIAS NACIONALES </h3>
			<p class="titulo-utilidad"> Reporte de Utilidades </p>
			<p class="fecha-utilidad"> Desde: [[fechaInicio | date : 'dd/MM/yyyy']] Hasta [[fechaFin | date : 'dd/MM/yyyy']] </p>
		</div>

		<div class="busqueda-vd">
			<span>Fecha Inicio</span>
			<input type="text" class="fecha-solicitud-field-t" ng-model="fechaInicio" datepicker>
			<span>Fecha Fin</span>
			<input type="text" class="fecha-solicitud-field-t" ng-model="fechaFin" datepicker>
			<button class="Boton" ng-click="reporteUtilidades()">Buscar</button>
		</div>

		<section class="detalle-utilidad">
			<span ng-if="dataH.impresa > 0" class="reimpresa">REIMPRESA</span>
			<table class="table-producto-factura">
				<tr>
					<td>Categoria</td>
					<td>Producto</td>
					<td>Cantidad</td>
					<td>Precio</td>
					<td>Costo</td>
					<td>% Vtas</td>
					<td>Margen Valor</td>
					<td>Margen %</td>
					<td>Precio Promedio</td>
					<td>Costo Promedio</td>
				</tr>
				<tr ng-repeat="registro in registros">
					<td>[[registro.categoriaDescrp]]</td>
					<td>[[registro.productoDescrp]]</td>
					<td>[[registro.cantidad | number : 2]]</td>
					<td>[[registro.precio | number : 2]]</td>
					<td>[[registro.costo | number : 2]]</td>
					<td>0</td>
					<td>[[registro.margen | number : 2]]</td>
					<td>0%</td>
					<td>[[registro.precio / registro.cantidad | number : 2]]</td>
					<td>[[registro.costo / registro.cantidad | number : 2]]</td>
				</tr>
				<tr>
					<td colspan="3">TOTALES:</td>
					<td>[[totalDescuento_ | number : 2]]</td>
					<td>[[totalValor_ | number : 2]]</td>
					<td>[[totalValor_ | number : 2]]</td>
					<td>[[totalValor_ | number : 2]]</td>
					<td>[[totalValor_ | number : 2]]</td>
				</tr>
			</table>
		</section>

	</div>
	
</section>


<div class="pie">
{% endblock content %}
	
</div>
