{% extends "base.html" %}

{% block title %} Cheques {% endblock title %}

{% block content %}
	<div class="cheques" ng-controller="ChequeCtrl">
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>
		<div class="cheque-botons">
			<button class="Boton BusquedaBtn icon-file" type="submit" ng-click="listSolicitud($event)">Solicitudes</button>
			<button class="Boton BusquedaBtn icon-banknote" type="submit" ng-click="listCheques($event)">Cheques</button>

		</div>
		<div class="cheque-lista" ng-show="ToggleSl">
			<table class="listado-table-f">
				<tr class="listado-table-header-f">
					<td>Registro</td>
					<td>Fecha</td>
					<td>Beneficiario</td>
					<td>Concepto</td>
					<td>Monto</td>
					<td>Estatus</td>
					<td>Convertir a cheque</td>
				</tr>
				<tr class="listado-csol-detail" ng-repeat="s in LsSolicitud">
					<td>[[s.id]]</td>
					<td>[[s.fecha |date: 'dd/MM/yyyy']]</td>
					<td>[[s.socio]] [[s.suplidor]]</td>
					<td>[[s.concepto]]</td>
					<td>$[[s.monto | number: 2]]</td>
					<td>
						<div ng-if="s.estatus == 'P' ">
							<strong>En Proceso</strong>
						</div>
						<div ng-if="s.estatus == 'A' ">
							<strong>Aprobado</strong>
						</div>
						<div ng-if="s.estatus == 'R' ">
							<strong>Rechazada</strong>
						</div>
						<div ng-if="s.estatus == 'E' ">
							<strong>Cheque Emitido</strong>
						</div>

					</td>
					<td> <a href="#" class="utils-noDecoration icon-banknote" ng-click="NewCheque($event,s)"></a></td>
				</tr>
			</table>
		</div>

		<div class="cheque-lista-ch" ng-show="ToggleCh">
		<!-- <button class="Boton  BusquedaBtn  danger icon-delete" type="reset" ng-click="cancelRegistro($event)"> -->
			<button class="Boton BusquedaBtn icon-banknote" ng-click="emitirCheque($event)">Emitir Cheque Directo</button>
			<table  class="listado-table-f">
				<tr class="listado-table-header-f">
					<td>Registro</td>
					<td>Solicitud</td>
					<td>No Cheque</td>
					<td>Fecha</td>
					<td>Beneficiario</td>
					<td>Estatus</td>
					<td>Imprimir</td>
				</tr>
				<tr class="listado-chk-detail" ng-repeat="ch in LsCheques">
					<td>[[ch.id]]</td>
					<td>[[ch.solicitud]]</td>
					<td>[[ch.noCheque]]</td>
					<td>[[ch.fecha | date: 'dd/MM/yyyy']]</td>
					<td>[[ch.beneficiario]]</td>
					<td>
						<div ng-if="ch.estatus == 'P' ">
							Posteada
						</div>
						<div ng-if="ch.estatus == 'R' ">
							Registrado
						</div>
						<div ng-if="ch.estatus == 'N' ">
							Nulo
						</div>
						<div ng-if="ch.estatus == 'T' ">
							Transito
						</div>
					</td>
					<td> <a href="#" class="utils-noDecoration icon-printer" ng-click="printChk($event, ch)"></a></td>
				</tr>
			</table>
		</div>

		<div class="cheque-nw" ng-show="ToggleNCh">
			<br>
			
			<form action="" id="ChequeForm" ng-submit="setConCheque($event)" class="cheque-formulario">
				<table>
					<tr>
						<td>
							Registro
						</td>
						<td>
							<input type="text"  ng-model="reCheque.id" ng-disabled="true">
						</td>
					</tr>
					<tr>
						<td>Solicitud</td>
						<td><input type="text"   ng-model="reCheque.solicitud" ng-disabled="true"></td>
					</tr>
					<tr>
						<td>Beneficiario</td>
						<td>
							<input type="text" id="Beneficiario"  ng-model="reCheque.beneficiario" ng-disabled="true">
						</td>
					</tr>
					<tr>
						<td>No Cheque</td>
						<td><input type="text" ng-model="reCheque.noCheque" require></td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td><input type="text" ng-model="fecha" value="[[reCheque.fecha | date: 'dd/MM/yyyy']]" datepicker require></td>
					</tr>
					<tr>
						<td ng-if="emitido == true">
							Concepto
						</td>
						<td ng-if="emitido == true">
							<textarea name="" id="" cols="45" rows="8" ng-model="reCheque.concepto" ></textarea>	
						</td>
					</tr>
					<tr>
						<td ng-if="emitido == true">
							Monto
						</td>
						<td ng-if="emitido == true">
							<textarea name="" id="" cols="45" rows="8" ng-model="reCheque.monto" ></textarea>	
						</td>
					</tr>
					<tr>
						<td>
							<div ng-if="reCheque.id != null">
							Estatus
							</div>
						</td>
						<td>
							<div ng-if="reCheque.id != null">
								<select name="" ng-model="reCheque.estatus">
									<option value="T">En Transito</option>
									<option value="P">Posteado</option>
									<option value="R">Registrado</option>
									<option value="C">Cancelado</option>
									<option value="D">Devueltos</option>
								</select>
							</div>
							</td>
					</tr>
					<tr>
						<td>
							<button class="Boton  BusquedaBtn icon-save" type="submit" >Guardar</button>
							<button class="Boton  BusquedaBtn  danger icon-delete" type="reset" ng-click="cancelRegistro($event)">Limpiar</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>

{% endblock content %}