
{% extends "base.html" %}

{% block title %} Reporte de Conciliacion {% endblock title %}

{% block content %}

<section ng-controller="repConciliacion" ng-init="getDate()">
	<form id="depreForm" ng-submit="getData($event)" class="Activo-formulario">
		<div class="ahorroPrint">
			<div class="ConciliacionPanel">
				<table>
					<tr>
						<td>
							Fecha desde:
						</td>
						<td>
							<input type="text" ng-model="fechaI" datepicker>
						</td>
					</tr>
					<tr>
						<td>
							Fecha hasta:
						</td>
						<td>
							<input type="text" ng-model="fechaF" datepicker>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<button class="Boton BusquedaBtn icon-save" type="submit">Generar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div id="Resultados" class="ConsImpresion" ng-show="printArea"> 
			<div class="Titulo">
				<h3>Cooperativa AceroCoop</h3>
				Conciliacion Bancaria
			</div>
			<div class="ConsDiv-opt1">
				<label for="DesBanco">BANCO</label>
				<strong><span id="DesBanco">[[regData.descripcion]]</span></strong>
			</div>

			<div class="ConsDiv-opt2">
				<label for="coCuenta">CUENTA No.</label>
				<strong><span id="coCuenta">[[regData.cuenta]] </span></strong>
			</div>

			<div class="ConsDiv-opt3">
				<span class="conSubTitulo">
					SEGUN LIBRO
				</span>

				<div class="sub1">
					<div>
						<label for="">Saldo Mes Anterior</label>
						<span>[[regData.mesAnt |number : 2]]</span>
					</div>
					<br>
					<strong>Mas:</strong>
					<div>
						<label for="">Depositos Realizados</label>
						<span>[[regData.DepRealizados |number : 2]]</span>
					</div>
					<div>
						<label for="">Otros Creditos</label>
						<span>[[regData.Creditos |number : 2]]</span>
					</div>
					<div class="subTotal">
						<strong>
							<label for="">Disponible</label>
						</strong>
						<span class="ln1">______________________</span>
						<span>[[Disponible |number : 2]]</span>
						<span class="ln2">______________________</span>
						<span class="ln3">______________________</span>
					</div>
					<br>
					<br>
					<strong>Menos:</strong>
					<div>
						<label for="">Cheques emitidos</label>
						<span>[[regData.chkEmitidos |number : 2]]</span>
					</div>
					<div>
						<label for="">Depositos Devueltos</label>
						<span>[[regData.chkDevueltos |number : 2]]</span>
					</div>
					<div>
						<label for="">Otros Debitos</label>
						<span>[[regData.OtrosDebitos |number : 2]]</span>
					</div>
					<div>
						<label for="">Comisiones</label>
						<span>[[regData.Comisiones |number : 2]] </span>
					</div>
					<div>
						<label for="">Prestamos</label>
						<span>[[regData.Prestamos |number : 2]]</span>
					</div>
					<div>
						<label for="">Nomina</label>
						<span>[[regData.Nomina |number : 2]]</span>
					</div>
					<div>
						<label for="">Otros</label>
						<span>[[regData.Otros |number : 2]]</span>
					</div>

				</div>
				<div class="consLibroTotal">
					<strong>
						<label for=""> Balance Segun Libros</label>
						<span>[[total |number : 2]] </span>
						<span>______________________</span>
					</strong>
				</div>
			</div>

			<div class="ConsDiv-opt4">
				<span class="conSubtitulo2">
					SEGUN BANCO
				</span>
				<div>
					<div>
						<label for="">Balance Segun Banco</label>
						<span>[[regData.BalanceBanco |number : 2]]</span>	
					</div>
					<br>
					<strong>Mas :</strong>
					<div>
						<label for="">Depositos en Transito</label>
						<span>[[regData.DepTransito |number : 2]] </span>
					</div>
					<div>
						<label for="">Credito en Transito</label>
						<span>[[CregData.CredTransito |number : 2]]</span>
					</div>
					<strong>Menos :</strong>
					<div>
						<label for="">Cheques en Transito</label>
						<span>[[regData.ChkTransito |number : 2]]</span>
					</div>
					<div>
						<label for="">Debitos en transito</label>
						<span>[[regData.DebTransito |number : 2]]</span>
					</div>
				</div>
				<div class="consBancoTotal">
						<strong>
							<label for="">Balance Segun Conciliacion</label>
							<span>[[bancoTotal |number : 2]]</span>
							<span class="ln1">______________________</span>
						</strong>
				</div>
			</div>

			<div class="ConsDiv-opt5">
				<div>
					<span class="lineaA">________________________</span> 
					<span class="lineaB">________________________</span>
				</div>
				<div>
					<span class="parr1A">Preparado por</span>
					<span class="parr1B">Aprobado por</span>
				</div>
				<div>
					<span class="parr2A">Contabilidad</span>
					<span class="parr2B">Gte. Cooperativa</span>
				</div>
			</div>


		</div>

	</form>
</section>

{% endblock %}