{% extends "base.html" %}

{% block title %} Solicitud Cheque {% endblock title %}

{% block content %}
<div class="SolicitudCon" ng-controller="SolicitudChCtrl" ng-init="solicitudList()"> 
	
	<section id="SearchData">
		<div class="content-socios-table">
			<table class="Solsocios-table-search-panel" ng-show="tableSocio">
				<tr>
					<td colspan="3" class="cerrar-table">
						<a href="#" class="icon-delete" ng-click="tableSocio=false"></a>
					</td>
				</tr>
				<tr class="socios-table-header">
					<td>Codigo</td>
					<td>Nombre</td>
					<td>Departamento</td>
				</tr>
				<tr ng-repeat="s in socios" class="socios-table-detail-search">
					<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.codigo]] </a></td>
					<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.nombreCompleto]] </a></td>
					<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.departamento]] </a></td>
				</tr>
			</table>
		</div>

		<div class="content-suplidor-table">
					<table class="Solsuplidor-table-search" ng-show="tableSuplidor">
						<tr>
							<td colspan="3" class="cerrar-table">
								<a href="#" class="icon-delete" ng-click="tableSuplidor=false"></a>
							</td>
						</tr>
						<tr class="socios-table-header">
							<td>Codigo</td>
							<td>Nombre</td>
						</tr>
						<tr ng-repeat="s in suplidor" class="socios-table-detail-search">
							<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.id]] </a></td>
							<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.nombre]] </a></td>
							
						</tr>
					</table>
				</div>

	</section>

	<div class="SolicitudCon-estatus"  ng-show="toggleLs">
		<strong>Estatus de Solicitud:</strong>
		 <select name="status" ng-model="DEstatus" >
							  <option value="A">Aprobadas</option>
							  <option value="R">Rechazadas</option>
							  <option value="P">En Proceso</option> 
		</select>
		<a href="#" class="icon-uniE601 icon-search srFile" ng-click="solicitudEstatus($event)" tooltip="Filtrar" title="Filtrar Solicitudes"></a>
		<div >
			<button class="nuevo notasNW icon-file" ng-click="nwRegistro()" title="Nuevo Registro" tooltip="Nuevo Registro" ></button>
		</div>
	</div>
	
	<div class="Solicitud-Flap" ng-show="flap">
		<div>
			<a href="#" class="icon-delete flapClose" ng-click="flap=false"></a>
			<p>Desea Aprobar ó rechazar Orden</p>
			<button class="Boton BusquedaBtn icon-check" type="submit" ng-click="ActEstatus($event,'aceptado')">Aprobar</button> 
			<button class="Boton BusquedaBtn danger icon-delete" type="reset" ng-click="ActEstatus($event,'cancelado')">Rechazar</button>
		</div>
		
	</div>

	<div class="SolicitudCon-lista"  ng-show="toggleLs">
		<table class="listado-table-f">
			<tr class="listado-table-header-f">
				<td>ID</td>
				<td>Fecha</td>
				<td>Socio</td>
				<td>Suplidor</td>
				<td>Concepto</td>
				<td>Monto</td>
				<td>Estatus</td>
				<td></td>
				<td></td>
			</tr>
			<tr class="listado-Sol-detail" ng-repeat="s in lsSolicitud">
				<td>[[s.id]]</td>
				<td>[[s.fecha |date: 'dd/MM/yyyy']]</td>
				<td>[[s.socio]]</td>
				<td>[[s.suplidor]]</td>
				<td>[[s.concepto]]</td>
				<td>[[s.monto |number:2]]</td>
				<td>
					<div ng-if="s.estatus =='P' ">
						<strong>En Proceso</strong>
					</div>
					<div ng-if="s.estatus =='A' ">
						<strong>Aprobado</strong>
					</div>
					<div ng-if="s.estatus =='R' ">
						<strong>Rechazada</strong>
					</div>
				</td>
				<td><a href="#" class="icon-printer workflow2" ng-click="printSol($event,s.id)"></a></td>
				<td><a href="#" class="icon-moneybag workflow" ng-click="workflow($event,s.estatus,s.id)"></a></td>
			</tr>
		</table>
	</div>
	
	<div class="SolicitudCon-Crear"  ng-show="toggleCr">
		<form action="" id="SolicitudForm" ng-submit="setSolicitud($event)" class="SolicitudCon-formulario">
			<table>
				<tr>
					<td>Socio</td>
					<td>
						<input type="text" ng-model="solicitud.socioId" ng-disable="true" class="disable" readonly="">
						<input type="text" ng-keyup="getSocio($event)" ng-model="socioNombre" ng-focus="tableSocio=false" placeholder="Código o nombre del Socio"  ng-click="tableSocio=false; errorShow=false;" >
					</td>
				</tr>
				<tr>
					<td>Suplidor</td>
					<td>
						<input type="text" ng-model="solicitud.suplidorId" ng-disable="true" class="disable" readonly="">
						<input type="text" ng-model="suplidorNombre" ng-keyup="getSuplidor($event)" ng-focus="tableSup=false" ng-click="tableSup=false; errorShow=false; getSuplidor($event)" class="producto-field-ei" >
					</td>
				</tr>
				<tr>
					<td>Fecha</td>
					<td><input type="text" ng-model="fecha"  value="[[solicitud.fecha | date: 'dd/MM/yyyy']]" datepicker required></td>
				</tr>
				<tr>
					<td>Concepto</td>
					<td>
						<textarea name="" id="" cols="45" rows="8" ng-model="solicitud.concepto" required></textarea>
					</td>
				</tr>
				<tr>
					<td>Monto</td>
					<td><input type="text" ng-model="solicitud.monto" value="[[solicitud.monto | number: 2 ]"></td>
				</tr>
				<tr>
					<td>
						<button class="Boton BusquedaBtn icon-save" type="submit">Guardar</button>
					</td>
					<td>
						<button class="Boton BusquedaBtn danger icon-delete" type="reset" ng-click="cancelarSolicitud()">Cancelar</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
</div>

{% endblock content %}