@import 'nib/vendor'
@import 'nib/gradients'
@import '../css/normalize.css'

vendor-prefixes = o ms webkit moz

verde = #084C0B
verdeClarito = #2BC42D
rojoOscuro = #A81E1A
mamey = #E5442D
amarillo = #FFF676

body
	font-family "Arial", "serif"
	font-size 16px

// CLASES GENERICAS

.Boton
	background verdeClarito
	border 0
	border-bottom .3em solid green
	border-radius 3px 3px 3px 3px
	color white
	height 2.2em
	transition .1s
	outline none
	
	&:hover
		background mamey
		border-bottom .3em solid rojoOscuro
		transform

//Fecha hacia abajo
.DownArrow
	border-color verde transparent verde transparent
	border-style solid
	border-width .9em .9em 0 .9em 
	cursor pointer
	display block
	float right
	height 0
	margin 0 .5em 0 0
	right 0
	width 0

// FIN CLASES GENERICAS

// PAGINA PRINCIPAL
.headerP
	display block
	margin 0
	padding 0
	
.nav-menu
	background verde
	padding .25em 0
	overflow hidden

.ul-menu
	padding 0
	margin 0
	// border-bottom 2px solid transparent

.menu-item
	display block
	float left	

	&:last-child a
		color amarillo
	 	font-weight 300
 							
.menu-opcion
	color white
	margin 0
	padding .29em .5em
	text-decoration none
	transition .4s
	
	&:hover
		background mamey
		// border-bottom 2px solid black

.header
	padding 0 
	background amarillo
	overflow hidden
	display block
	
.content-logo
	margin 0 0 0 .5em
	padding 0
	float left

.logo
	margin .25em 0 0 .3em
	width 80px

.content-title
	display inline-block
	
&.titleCoop
	font-size 1.3em
	font-weight bold
	margin .9em 0 0 .2em
	&.titleCoop2
		margin 0 0 0 .2em
		
.usuario
	float right
	top 0
	margin 1.4em 1em 0 0

.footer
	width 100%
	height 4em
	background gray
	position absolute
	bottom 0
	border-top 1px solid black
	opacity .3

.copyright
	text-align center
	line-height 4em
	font-size .8em

.OpcionSeleccionada
	background mamey
	transform scale(1.1,1.1)
	transition .2s

.OpcionNoSeleccionada
	background transparent
	

// MODULO DE NOMINA
.nomina-menu
	background lightgreen
	padding .2em 0 .2em .4em 
	color verde
	border-top 1px solid verde
	border-bottom 1px solid verde

.genera-nomina
	& ul
		list-style none
		display inline-block
		
.nomina-sel-header
	margin 0
	padding 0
	& li 
		display block
		float left
		border 1px solid black
		padding .1em .3em
		background green
		color white
		
	&.nomina-sel-detail
		color rojoOscuro
		display inline-block
		
		& li 
			margin 0
			padding 0
			padding .1em .3em
			background white
			color rojoOscuro
			
			