@import 'nib/vendor'
@import 'nib/gradients'
@import '../css/normalize.css'

vendor-prefixes = o ms webkit moz

verde = #53B222
mamey = #FF500A
amarillo = #FFF042

body
	background lightgreen
	font-family "Arial", "serif"
	font-size 16px

.headerP
	display block
	margin 0
	padding 0
	
.nav-menu
	background green
	padding .2em 0

.ul-menu
	padding 0
	margin 0
	border-bottom 3px solid transparent

.menu-item
	display inline-block

	&:last-child a
		color yellow
	 	font-weight 300
 							
.menu-opcion
	color white
	margin 0
	padding .2em .5em
	text-decoration none
	
	&:hover
		background mamey
		border-bottom 3px solid black

.header
	padding 0 
	background amarillo
	overflow hidden
	
.content-logo
	margin 0
	padding 0
	float left

.logo
	margin .3em 0 0 .3em
	width 80px

.titleCoop
	font-size 1.3em
	font-weight bold
	margin .9em 0 0 4.4em
	&.titleCoop2
		margin 0 0 0 4.4em
