@import 'nib/vendor'
@import 'nib/gradients'
@import '../css/normalize.css'

vendor-prefixes = o ms webkit moz

verde = #084C0B
mamey = #E5442D
amarillo = #FFF676

body
	font-family "Arial", "serif"
	font-size 16px

.headerP
	display block
	margin 0
	padding 0
	
.nav-menu
	background verde
	padding .25em 0

.ul-menu
	padding 0
	margin 0
	// border-bottom 2px solid transparent

.menu-item
	display inline-block

	&:last-child a
		color yellow
	 	font-weight 300
 							
.menu-opcion
	color white
	margin 0
	padding .25em .5em
	text-decoration none
	
	&:hover
		background mamey
		// border-bottom 2px solid black

.header
	padding 0 
	background amarillo
	overflow hidden
	display block
	
.content-logo
	margin 0 0 0 .5em
	padding 0
	float left

.logo
	margin .25em 0 0 .3em
	width 80px

.content-title
	display inline-block
	
&.titleCoop
	font-size 1.3em
	font-weight bold
	margin .9em 0 0 .2em
	&.titleCoop2
		margin 0 0 0 .2em
		
.usuario
	float right
	top 0
	margin 1.4em 1em 0 0

.footer
	width 100%
	height 4em
	background gray
	position absolute
	bottom 0
	border-top 1px solid black
	opacity .3

.copyright
	text-align center
	line-height 4em
	font-size .8em
