@import 'normalize'

//CLASES GENERICAS
@media print
	.head, .pie
		display none

.displayNone
	display none
	
.boton-imprimir-doc
	position absolute
	bottom 3em
	right 1em
	width 10em
	height 4em
	&:before
		margin-right .3em
		font-size 1.4em
		color darkgreen

	
//MODULO INVENTARIO
// Entrada de Inventario

.titulo, .localidad, .numeracion
	display block
	text-align center
	font-size 12px
.tituloRPT
	text-align center
	font-weight bold
	font-size 1.2em
	
.entradaInventario
	font-family "courier"
	font-size 12px
	padding 1em
	
.cabecera
	margin-bottom 1.5em
	font-size 12px
	
.table-cabecera
	font-size 12px
	width 100%
	margin-bottom 1em
	
.table-productos
	width 100%
	font-size 12px
	
	& tr
		&:first-child
			background gray
			font-weight bold
		& td
			border 1px solid black
			padding .3em
		
		& td 
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7)
				text-align right
		
		&:last-child
			background lightgray
			font-weight bold
			
			& td
				&:nth-child(2),
				&:nth-child(3)
					text-align right

.firma
	float left
	margin-top 3em
	text-align center
.linea
	display block
			


//MODULO FACTURACION
// Factura


.FacturaVenta
	position relative
	padding 1em
	font-size 12px
	font-family "courier"
	
.titulo-f, .localidad-f
	display block

.numeracion-f
	float left
	
.rnc-f
	margin-left 23em
	
.cabecera-factura
	display block
	background lightgray

.cabecera-factura-2
	float right
	top 0
	right 0
	position absolute
	& table
		font-size 12px
		margin-right 1em
		margin-top 1em
		
		& tr
			&:first-child
				& td
					&:nth-child(1)
						text-align center
						font-weight bold
		& tr
			& td
				&:nth-child(odd)
					width 6em
				&:nth-child(even)
					text-align right
					width 4em		
		
.vendido-f
	margin-top 1em
	display block
	font-size 1.1em
.socio-f
	font-size 1.1em
	display block
	padding .4em 0 1em 0
.vendedor-f
	display block
	
.hora
	margin-right .5em
	float right
	
.table-producto-factura
	font-size 12px
	width 100%
	margin-top .5em
	& tr
		&:first-child
			background gray
			font-weight bold
		& td
			border 1px solid
			padding .3em
		
		&:last-child
			background lightgray
			font-weight bold
			
.totales-f
	float right
	margin 1em 1em 0 0
	
	& table
		font-size 12px
		& tr
			& td
				&:first-child
					width 6em
				&:last-child
					width 4em
			&:nth-child(4)
				& td
					font-weight bold
.firmas-f
	float left
	margin-top 3em
	display inline-block
				
.firma1-f,.firma2-f
	
	text-align center
	float left
	margin-right 3em
	& span
		font-size 12px
		display block

.reimpresa
	font-size 10em
	margin-top 1em
	margin-left .3em
	position absolute
	opacity .1
	-webkit-transform rotate(55deg)

// MODULO FONDO DE CAJAS (DESEMBOLSO)
.Desembolso 
	margin 1em
	font-family "courier"
	font-size 12px
	position relative
	
	.cabecera-desembolso
		margin 1em 0 0 0 

	.fondo-d, .a-orden-d, .detalle-d
		display block
	
	.detalleHeader
		margin-left 2.5em

	.paguese-valor-d
		margin-left 5em

	.detalle-d
		margin-top .8em
		width 25em

	.detalle-d-text
		margin-left 5.5rem
		display inline-block
		position relative
		top -1rem
		margin-left 8.7rem
		width 40em
		
	.cabecera-desembolso-2
		font-family "courier"
		position absolute
		top 0
		right 0
		table
			font-size 12px

	.firmas-d
		margin 3em 0 0 0 
		table
			font-size 12px
			tr
				td
					padding 0 .5em
		


// SOLICITUD DE PRESTAMO
.PrintSolicitudP
	font-family "Courier"
	font-size 12px
	
	h4
		margin 0
	
.cabecera-sp
	font-size 12px
	
	h3
		margin 0
		text-align center
	
.sol-prest
	margin 0
	padding 0
	display block
	text-align center
	
.sol-estatus
	text-align center
	display block

.subtitulo-sp
	text-align center
	display block
	margin-top 1em
	
.datos-personales
	
	.datos-personales-desglose
		border 1px solid black
		padding .3em

.table-datos-personales
	font-size 12px
	width 90%
	& tr
		& td
			&:nth-child(odd)
				font-weight bold

.datos-prestamo-sp
	width 98%
	padding .3em
	border 1px solid black
	
	h5
		margin 0
			
	.table-datos-prestamo
		width 99%
		font-size 12px
		& tr
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7),
			&:nth-child(8),
			&:nth-child(9)
				& td
					&:nth-child(1), 
					&:nth-child(3),
					&:nth-child(5),
					&:nth-child(7),
					&:nth-child(9)
						font-weight bold
	.table-datos-prestamo-2
		width 99%
		font-size 12px
		& tr
			&:nth-child(1)
				& td
					font-weight bold
			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6)
				& td
					&:nth-child(even)
						text-align right
			&:nth-child(4)
				& td
					&:nth-child(2),
					&:nth-child(3)
						text-decoration underline
.datos-garante-texto
	border 1px solid black
	padding .3em
	
	.carnet, .nombre
		font-weight bold
		margin-right 6em
		
	.table-firmas
		width 100%
		font-size 12px
		& tr
			&:first-child
				& td
					padding 0 4em
			&:last-child
				& td
					text-align center
.descripcion-garantia
	width 99%
	height 5em
	border 1px solid black

.observacion-sp
	margin-top .4em
	display block
	font-weight bold	

.table-firmas-finales
	margin-top 3em
	width 100%
	font-size 12px
	& tr
		& td
			padding 0 .4em
			text-align center
	
.table-firmas-finales-2
	margin-top 3em
	font-size 12px
	width 100%
	& tr
		& td
			padding 0 .4em
			text-align center
			
		
// PRINT DESEMBOLSO RECIBIDO CONFORME
.PrintDesembRecibidoConforme
	font-family "courier"
	
.cabecera-rc
	position relative
	
	h3
		margin 0
	
	span
		&:last-child
			position absolute
			top 0
			right 0
.rc-titulo
	font-weight bold
	display block
	text-align center

.datos-recibido-conforme
	position relative
	margin-left .4em
	
	& li
		list-style-type none
		padding 0
		margin 0
		
.prestamo-rc-desglose
	margin 0
	span
		display block
.socio-rc
	position absolute
	top 0
	left 15em
	
.fechas-rc
	position absolute
	top 0
	right 0

.bancario
	background peru
	margin-top 1em
	position relative
	
	span
		&:first-child
			position absolute
			top 0
			left 0
		&:last-child
			position absolute
			top 0
			right 0

.detalle-recibido-conforme
	margin-top 3em
	
	table
		width 100%
		& tr
			&:first-child
				& td
					border-top 1px solid black
					border-bottom 1px solid black
			& td
				padding .2em

.firmantes-recibido-conforme
	margin-top 5em
	table
		margin-left auto
		margin-right auto
		tr
			&:first-child
				& td
					padding 0 1em

//REPORTE CONTEO FISICO
.titulo-reporte-conteo-fisico
	display none
	
@media print
	font-size 
	.titulo-reporte-conteo-fisico
		display block
		text-align center

	.ExistenciaArticulo
		
		.sub-menu
			display none
		.busqueda-existencia-inventario
			display none
		.busqueda-categoria
			display none
		
		button
			display none

//REPORTE DE UTILIDAD
.cabecera-utilidades
	text-align center


//REPORTE DE VENTAS DIARIAS
.rptUtilidad
	margin 1em
	
@media print
	.busqueda-vd
		display none


//LISTADO DE DESEMBOLSOS ELECTRONICOS
.pieFirmas, .cabecera-rc, .totalNeto
	display none
	
@media print
	.DesembolsoPrestamos
		font-size 12px
		font-family "courier"
	
	.pieFirmas, .cabecera-rc
		display block
	
	.totalNeto
		display block
		& span
			&:last-child
				float right
				
	
	
	.botones-acciones-desembolso, .header, .nav-menu, .sub-menu, .busqueda-by-field
		display none
	
	.listado-table-desembolso
		& tr
			& td
				&:nth-child(1),
				&:nth-child(3),
				&:nth-child(6),
				&:nth-child(9)
					display none
		
	.registrosPanel--grande
		border none
			
		

	