@import 'normalize'

//CLASES GENERICAS
@media print 
		
	.head,.pie
		display none

//MODULO INVENTARIO
// Entrada de Inventario

.titulo,.localidad,.numeracion
	display block
	text-align center
	font-size 12px
.tituloRPT
	text-align center
	font-weight bold
	font-size 1.2em
	
.entradaInventario
	font-size 12px
	padding 1em
	
.cabecera
	margin-bottom 1.5em
	font-size 12px
	
.table-cabecera
	font-size 12px
	width 100%
	margin-bottom 1em
	
.table-productos
	width 100%
	font-size 12px
	
	& tr
		&:first-child
			background gray
			font-weight bold
		& td
			border 1px solid black
			padding .3em
		
		& td 
			&:nth-child(4),
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7)
				text-align right
		
		&:last-child
			background lightgray
			font-weight bold
			
			& td
				&:nth-child(2),
				&:nth-child(3)
					text-align right

.firma
	float left
	margin-top 3em
	text-align center
.linea
	display block
			


//MODULO FACTURACION
// Factura

.FacturaVenta
	padding 1em
	font-size 12px
	
.table-producto-factura
	font-size 12px
	width 100%
	margin-top .5em
	& tr
		
		&:first-child
			background gray
			font-weight bold
			& td
				&:nth-child(1)
					text-align right
		
		&:last-child
			& td
				&:nth-child(1)
					text-align right
		& td
			border 1px solid
			padding .3em
			
		
		& td 
			&:nth-child(1),
			&:nth-child(5),
			&:nth-child(6)
				text-align right
		
		&:last-child
			background lightgray
			font-weight bold
			
			& td
				&:nth-child(2),
				&:nth-child(3)
					text-align right