{% extends "base.html" %}

{% block title %} Desembolso Eletronico {% endblock title %}

{% block content %}

	<div class="DesembolsoPrestamos" ng-controller="DesembolsoPrestamosCtrl">
		
		<mensajeerror> </mensajeerror>

		<div class="cabecera-rc">
			<span class="align-center"><h3>COOPERATIVA INDUSTRIAS NACIONALES</h3></span>
			<span class="rc-titulo">Desembolsos Electronicos</span>
			<span>[['' | currentdate]]</span>
		</div>

		<div class="sub-menu">	
			Prestamos para generar desembolsos electronicos
		</div>

		<section class="listado-reg-prestamos">
			<div class="busqueda-by-field">
				<div class="by-prestamo">
					<span> Prestamo No. </span>
					<input type="text" ng-model="prestamoNo" class="field-short" ng-keyup="buscarPrestamo($event, prestamoNo)">		
				</div>	
				<div class="by-socio">
					<span> Socio </span>
					<input type="text" ng-model="socioCod" placeholder="Codigo" class="field-short" ng-keyup="buscarPrestamoBySocio($event, socioCod)">
				</div>
				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoPrestamos()">Ver todos</a>
			</div>

			<div class="registrosPanel--grande">
				<table class="listado-table-desembolso" ng-init="listadoPrestamos()">
					<tr class="listado-table-header desembolso-header">
						<td><input type="checkbox" ng-model="regAll" ng-click="seleccionAll()"> </td>
						<td>Prestamo</td>
						<td>Codigo Socio</td>
						<td>Nombre Socio</td>
						<td>Cuenta Banco</td>
						<td>Banco Codigo</td>
						<td>Banco Nombre</td>
						<td>Monto</td>
						<td>Imprimir</td>
					</tr>

					<tr class="listado-prestamos-desembolso-detail" ng-repeat="prestamo in prestamos">
						<td class="align-center"><input type="checkbox" name="c[[prestamo.noPrestamo]]" ng-checked="valoresChk[prestamo.noPrestamo]" ng-model="reg[prestamo.noPrestamo]" ng-click="selectedReg(prestamo)"> </td>
						<td>[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
						<td>[[prestamo.socioCodigo]]</td>
						<td>[[prestamo.socioNombre]]</td>
						<td>[[prestamo.socioCuentaBancaria]]</td>
						<td>[[prestamo.bancoCodigo]]</td>
						<td>[[prestamo.bancoNombre]]</td>
						<td class="resaltar-valor align-right"><span ng-if="prestamo.fechaDesembolso.length > 0 " class="icon-document desembolso-ejecutado" title="Este prestamo fue generado en un archivo para el banco."></span>[[prestamo.netoDesembolsar | number : 2]]</td>
						<td class="align-center"><a href="#" class="icon-printer imprimir-icon" ng-click="imprimirRC(prestamo)"></a></td>

					</tr>
				</table>

				<div class="totalNeto">
					<span>TOTAL ----></span>
					<span class="resaltar-valor align-right">[[netoTotal | number : 2]]</span>
				</div>

			</div>

			<div class="botones-acciones-desembolso">
				<button class="Boton botones-desembolso-electr" ng-click="marcarPrestamoDC($event,'D')">Marcar como Desembolso</button>
				<button class="Boton botones-desembolso-electr" ng-click="GeneraArchivoBanco($event)">Preparar Archivo para Enviar</button>
				<button class="icon-document Boton botones-desembolso-electr" ng-click="imprimirListado($event)">Imprimir Listado</button>	
			</div>

			<div class="firmantes-recibido-conforme pieFirmas">
				<table>
					<tr>
						<td class="align-center">______________________________</td>
						<td class="align-center">______________________________</td>
						<td class="align-center">______________________________</td>
					</tr>
					<tr>
						<td class="align-center">Solicitado Por</td>
						<td class="align-center">Revisado Por</td>
						<td class="align-center">Aprobado Por</td>
					</tr>
					<tr>
						<td class="align-center">Analista Cooperativa</td>
						<td class="align-center">Contador General</td>
						<td class="align-center">Gerente Cooperativa</td>
					</tr>
				</table>
			</div>

		</section>
		
	</div>

{% endblock content %}