{% extends "base.html" %}

{% block title %} Desembolso Eletronico {% endblock title %}

{% block content %}

	<div class="DesembolsoPrestamos" ng-controller="DesembolsoPrestamosCtrl">
		
		<div class="sub-menu">	
			Prestamos para generar desembolsos electronicos
		</div>

		<section class="listado-reg-prestamos">
			<div class="busqueda-by-field">
				<div class="by-prestamo">
					<span> Prestamo No. </span>
					<input type="text" id="PrestamoNo" class="field-short">		
				</div>	
				<div class="by-socio">
					<span> Socio </span>
					<input type="text" id="Socio" class="field-short">
				</div>
			</div>
			

			<table class="listado-table-desembolso" ng-init="listadoPrestamos()">
				<tr class="listado-table-header desembolso-header">
					<td><input type="checkbox"> </td>
					<td>Prestamo</td>
					<td>Monto</td>
					<td>Socio</td>
					<td>Cuenta Banco</td>
				</tr>

				<tr class="listado-prestamos-desembolso-detail" ng-repeat="prestamo in prestamos">
					<td><input type="checkbox"> </td>
					<td>[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
					<td>[[prestamo.netoDesembolsar | number : 2]]</td>
					<td>[[prestamo.socioNombre]]</td>
					<td>[[prestamo.socioCuentaBancaria]]</td>
				</tr>
				
			</table>

			<div class="botones-acciones-desembolso">
				<button class="Boton boton-generar-desembolso"> Generar Desembolso</button>
				<button class="Boton boton-preparar-archivo"> Preparar Archivo para Enviar</button>
				<button class="Boton boton-recibido-conforme"> Recibido Conforme</button>	
			</div>

		</section>
		
	</div>

{% endblock content %}