
{% extends "base.html" %}

{% block title %} Estado de Cuenta {% endblock title %}

{% block content %}
	<div class="distribucion-intereses" ng-controller="EstadoCuentaCtrl">
		<h1>ESTADO DE CUENTA</h1>

		<form name="EstadoCuentaForm" novalidate>
			<div>
				<table class="table-estado-cuenta">
					<tr>
						<td colspan="4"> <span> <h4>DATOS DEL SOCIO</h4></span></td>
					</tr>
					<tr>
						<td>Codigo</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="codigoSocio" autocomplete="on">
							<a class="icon-uniE601 icon-buscar" href="#" ng-click="datos.codigoEmpleado = ''; getData($event);"></a>
						</td>
					</tr>
					<tr>
						<td>Nombre</td>
						<td><input type="text" class="prestamo-categoria-field-t resaltar-valor verde" ng-model="datos.nombreCompleto"></td>
						<td>Fecha Ingreso Cia.</td>
						<td><input type="text" class="prestamo-prestamo-field-t" ng-model="datos.fechaIngresoEmpresa"></td>
					</tr>
					<tr>
						<td>Departamento</td>
						<td><input type="text" class="prestamo-categoria-field-t resaltar-valor verde" ng-model="datos.departamento"></td>
						<td>Fecha Ingreso Coop.</td>
						<td><input type="text" class="prestamo-prestamo-field-t" ng-model="datos.fechaIngresoCoop"></td>
					</tr>
					<tr>
						<td>Ahorros</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="ahorroTotal" readonly>
							Fecha Ultimo Ahorro
							<input type="text" class="resaltar-valor align-right" ng-model="ta.cantidadCuotas" readonly>
						</td>
					</tr>
					<tr>
						<td>Prestamos</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="prestamosTotal" readonly>
						</td>
					</tr>
				</table>
			</div>

			<!-- <div class="botones-acciones-distribucion-intereses">
				<button class="Boton boton-aprobar-sp" ng-click="calcularAmortizacion()">Visualizar</button>
			</div> -->

			<section>
				<h4>PRESTAMOS</h4>
				<table class="listado-table">
					<tr class="listado-table-header">
						<td>Numero</td>
						<td>Monto</td>
						<td>Emision</td>
						<td>Vence</td>
						<td>Para el 75%</td>
						<td>Categoria</td>
						<td>Balance</td>
					</tr>
					<tr ng-repeat="prestamo in prestamos" class="listado-entrada-inventario-detail">
						<td>[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
						<td class="align-right">[[prestamo.montoInicial | number : 2 ]]</td>
						<td>[[prestamo.fechaAprobacion | date : 'dd/MM/yyyy']]</td>
						<td>[[prestamo.fechaVencimiento | date : 'dd/MM/yyyy']]</td>
						<td class="align-right">[[(prestamo.montoInicial * 75)/100 | number : 2]]</td>
						<td>[[prestamo.categoriaPrestamo]]</td>
						<td class="align-right resaltar-valor">[[prestamo.balance | number : 2]]</td>
					</tr>
				</table>
			</section>

			<table class="table-datos-prestamo-2">
				<tr>
					<td colspan="2" class="align-right">Primera Quincena</td>
					<td class="align-right">Segunda Quincena</td>
				</tr>

				<tr>
					<td colspan="3"><hr/></td>
				</tr>

				<tr>
					<td>Cuota de Ahorros</td>
					<td class="align-right">500[[dataSolicitante.cuotaAhorroQ1 | number: 2]]</td>
					<td class="align-right">600[[dataSolicitante.cuotaAhorroQ2 | number: 2]]</td>
				</tr>
				<tr>
					<td>Cuota de Prestamos</td>
					<td class="align-right">7000[[varCuotaPrestamo | number: 2]]</td>
					<td class="align-right">6500[[varCuotaPrestamo | number: 2]]</td>
				</tr>
				
				<tr>
					<td>Total</td>
					<td class="padding-right-6">[[totalQ1 | number: 2]]</td>
					<td class="align-right">[[totalQ2 | number: 2]]</td>
				</tr>
				
			</table>
			
		</form>
		
	</div>

{% endblock content %}