
{% extends "base.html" %}

{% block title %} Estado de Cuenta {% endblock title %}

{% block content %}
	<div class="distribucion-intereses" ng-controller="EstadoCuentaCtrl">
		<h1>ESTADO DE CUENTA</h1>

		<form name="EstadoCuentaForm" novalidate>
			<div>
				<table class="table-estado-cuenta">
					<tr>
						<td colspan="4"> <span> <h4>DATOS DEL SOCIO</h4></span></td>
					</tr>
					<tr>
						<td>Codigo</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="codigoSocio" autocomplete="on" ng-keypress="keyGetData($event)">
							<a class="icon-uniE601 icon-buscar" href="#" ng-click="datos.codigoEmpleado = ''; getData($event);"></a>
							
							<figure class="fig-load2 [[mostrar]]">
								<img class="img-load2" src="/static/images/loading.gif" alt="">
							</figure>
						</td>
					</tr>
					<tr>
						<td>Nombre</td>
						<td><input type="text" class="prestamo-categoria-field-t resaltar-valor verde" ng-model="datos.nombreCompleto"></td>
						<td>Fecha Ingreso Cia.</td>
						<td><input type="text" class="prestamo-prestamo-field-t" ng-model="datos.fechaIngresoEmpresa"></td>
					</tr>
					<tr>
						<td>Departamento</td>
						<td><input type="text" class="prestamo-categoria-field-t resaltar-valor verde" ng-model="datos.departamento"></td>
						<td>Fecha Ingreso Coop.</td>
						<td><input type="text" class="prestamo-prestamo-field-t" ng-model="datos.fechaIngresoCoop"></td>
					</tr>
					<tr>
						<td>Ahorros</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="ahorroTotal" readonly>
							Fecha Ultimo Ahorro
							<input type="text" class="resaltar-valor align-right" ng-model="ta.cantidadCuotas" readonly>
							<figure class="fig-load2 [[mostrar3]]">
								<img class="img-load2" src="/static/images/loading.gif" alt="">
							</figure>
						</td>
					</tr>
					<tr>
						<td>Prestamos</td>
						<td>
							<input type="text" class="resaltar-valor align-right" ng-model="prestamosTotal" readonly>
						</td>
					</tr>
				</table>
			</div>

			<!-- <div class="botones-acciones-distribucion-intereses">
				<button class="Boton boton-aprobar-sp" ng-click="calcularAmortizacion()">Visualizar</button>
			</div> -->

			<figure class="fig-load2 [[mostrar2]]">
				<img class="img-load2" src="/static/images/loading.gif" alt="">
			</figure>

			<section ng-if="prestamos.length > 0">
				<h4>PRESTAMOS</h4>
				

				<table class="listado-table">
					<tr class="listado-table-header">
						<td>Numero</td>
						<td>Monto</td>
						<td>Emision</td>
						<td>Vence</td>
						<td>Para el 75%</td>
						<td>Categoria</td>
						<td>Balance Capital</td>
					</tr>
					<tr ng-repeat="prestamo in prestamos" class="listado-entrada-inventario-detail">
						<td>[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
						<td class="align-right">[[prestamo.montoInicial | number : 2 ]]</td>
						<td>[[prestamo.fechaAprobacion | date : 'dd/MM/yyyy']]</td>
						<td>[[prestamo.fechaVencimiento | date : 'dd/MM/yyyy']]</td>
						<td class="align-right">[[(prestamo.montoInicial * 75)/100 | number : 2]]</td>
						<td>[[prestamo.categoriaPrestamo]]</td>
						<td class="align-right resaltar-valor">[[prestamo.balance | number : 2]]</td>
					</tr>
					<tr>
						<td><strong>TOTAL</strong></td>
						<td colspan="6" class="align-right resaltar-valor verde"><strong>[[prestamosTotal]]</strong></td>
					</tr>
				</table>
			</section>

			<table class="table-datos-prestamo-2" ng-if="dataSolicitante.codigo > 0">
				<tr>
					<td></td>
					<td class="align-right">1ra. Quincena</td>
					<td class="align-right">&nbsp;&nbsp; 2da. Quincena</td>
				</tr>

				<tr>
					<td colspan="3"><hr/></td>
				</tr>

				<tr>
					<td>Cuota de Ahorros</td>
					<td class="align-right">[[dataSolicitante.cuotaAhorroQ1 | number: 2]]</td>
					<td class="align-right">[[dataSolicitante.cuotaAhorroQ2 | number: 2]]</td>
				</tr>
				<tr>
					<td>Aportes</td>
					<td class="align-right">0.00</td>
					<td class="align-right">0.00</td>
				</tr>
				<tr>
					<td>Cuota de Prestamos</td>
					<td class="align-right">[[cuotasQ1Prestamos | number: 2]]</td>
					<td class="align-right">[[cuotasQ2Prestamos | number: 2]]</td>
				</tr>
				<tr>
					<td>Servicios Multiples</td>
					<td class="align-right">[[cuotasQ1Ordenes | number: 2]]</td>
					<td class="align-right">[[cuotasQ2Ordenes | number: 2]]</td>
				</tr>
				<tr>
					<td class="padding-right-6"></td>
					<td><hr/></td>
					<td><hr/></td>
				</tr>
				<tr>
					<td><strong>Total</strong></td>
					<td class="align-right"><strong>[[totalQ1 | number: 2]]</strong></td>
					<td class="align-right"><strong>[[totalQ2 | number: 2]]</strong></td>
				</tr>
				
			</table>
			
		</form>
		
	</div>

{% endblock content %}