{% extends "base.html" %}

{% block title %} Maestra de Prestamos {% endblock title %}

{% block content %}

	<div class="MaestraPrestamo" ng-controller="MaestraPrestamosCtrl">

		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>
		
		<div class="sub-menu">	
				<a href="#" ng-click="toggleLP()">Maestra de Prestamos</a>
			<!-- <a class="[[ArrowLP]]" href="#" ng-click="toggleLP()"></a> -->
		</div>

		<div id="listado" class="listado-maestra-prestamo cssSlideUp--Maestra" ng-show="showLP" ng-init="listadoPrestamos()">
			
			<section class="listado-reg-prestamos">
				<div class="busqueda-by-field">
					<div class="by-prestamo">
						<span> Prestamo No. </span>
						<input type="text" id="PrestamoNo" ng-model="NoPrestamo" class="doc-no-ei" ng-keypress="buscarPrestamo($event, NoPrestamo)">		
					</div>	
					<div class="by-socio">
						<span> Socio </span>
						<input type="text" id="Socio" ng-model="codigoSocio" placeholder="Codigo de Empleado" ng-keypress="buscarPrestamoBySocio($event, codigoSocio)">
					</div>

					<span class="error-ei"> [[NoFoundDoc]]</span>
					<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoPrestamos(undefined)">Ver todos</a>

				</div>

				<section id="prestamosContainer" class="registrosPanel--grande">
					<table class="listado-table-maestraprestamo">
						<tr class="listado-table-header">
							<td><input type="checkbox" ng-model="regAll" ng-click="seleccionAll()"></td>
							<td>Estatus</td>
							<td>Prestamo</td>
							<td>Sol.</td>
							<td>Factura</td>
							<td>Codigo</td>
							<td>Socio</td>
							<td>Monto Inicial</td>
							<td>Balance</td>
							<td>Tipo Prestamo</td>
							<td>Cheque</td>
						</tr>

						<tr class="listado-prestamos-detail" ng-repeat="prestamo in prestamos">
							<td class="align-center">
								<input type="checkbox" name="c[[prestamo.noPrestamo]]" ng-disabled="[[prestamo.estatus | posteoMP]]" ng-checked="valoresChk[prestamo.noPrestamo]" ng-model="reg[prestamo.noPrestamo]" ng-click="selectedReg(prestamo)">
							</td>
							
							<td class="[[prestamo.estatus | OpenCloseMP]] posteo-[[prestamo.estatus]] align-center"></td>
							<td>
								<a class="prestamo-field-detalle" href="#" ng-click="PrestamoFullById($event, prestamo.noPrestamo)">[[prestamo.noPrestamo | numberFixedLen : 8]]</a>
							</td>
							<td class="align-center">
								<span ng-if="prestamo.noSolicitudPrestamo > 0" class="icon-dollar icon-prestamo" title="Solicitud de Prestamo: [[prestamo.noSolicitudPrestamo | numberFixedLen : 8]]"></span>
								<span ng-if="prestamo.noSolicitudOD > 0" class="icon-truck icon-OD" title="Solicitud Orden de Despacho: [[prestamo.noSolicitudOD | numberFixedLen : 8]]"></span>
							</td>
							<td>[[prestamo.factura | numberFixedLen : 8]]</td>
							<td>[[prestamo.codigoSocio]]</td>
							<td>[[prestamo.socio]]</td>
							<td class="resaltar-valor align-right">[[prestamo.montoInicial | number : 2]]</td>
							<td class="resaltar-valor align-right verde">[[prestamo.balance | number : 2]]</td>
							<td>[[prestamo.categoriaPrestamo]]</td>
							<td class="align-center">
								<a ng-if="prestamo.estatus == 'E' && prestamo.noSolicitudPrestamo > 0" href="#" class="icon-coin icon-imprimir toolTip" ng-click="marcarPrestamoDC(prestamo, 'C')" data-info="Generar como cheque Prestamo No. [[prestamo.noPrestamo | numberFixedLen : 9]]"></a> 
							</td>
						</tr>
					</table>
				</section>
			</section>
			
			<button class="Boton boton-postear-prestamos" ng-click="Postear($event)"> Postear Prestamos</button>
		</div>
		

		<section class="detalle-prestamo" ng-hide="showLP">

			<!--DETALLE DEL PRESTAMO-->
			<div class="sub-menu">	
					Detalle del Prestamo
			</div>

			<section class="data-detalle-section">
				<div class="data-detalle-prestamo-header">
					
					<div class="data-detalle-prestamo">
						<table>
							<tr>
								<td>Prestamo No.</td>
								<td><input type="text" class="prestamo-prestamo-field-t resaltar-valor" ng-model="dataH.noPrestamo" readonly></td>
								<td class="align-right">Tipo Nomina</td>
								<td class="align-right">
									<select name="tipoNomina" id="tnom" ng-model="dataH.tipoPrestamoNomina" class="field-choices">
										<option value="RE">Regular</option>
										<option value="VA">Vacaciones</option>
										<option value="BO">Bonificacion</option>
										<option value="RG">Regalia</option>
										<option value="RI">Rifa</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Categoria</td>
								<td colspan="3"><input type="text" class="prestamo-categoria-field-t" ng-model="dataH.categoriaPrestamoDescrp" readonly></td>
							</tr>
							<tr>
								<td>Representante</td>
								<td colspan="3">
									<input type="text" class="prestamo-representanteCod-field-t" ng-model="dataH.representanteCod" readonly>
									<input type="text" class="prestamo-representanteDescrp-field-t" ng-model="dataH.representanteDescrp" readonly>
								</td>
							</tr>
							<tr>
								<td>Oficial</td>
								<td><input type="text" class="prestamo-oficial-field-t" ng-model="dataH.oficial" readonly></td>
								<td class="align-right">Localidad</td>
								<td class="align-right"><input type="text" class="prestamo-oficial-field-t" ng-model="dataH.localidad" readonly></td>
							</tr>
						</table>
					</div>


					<div class="data-detalle-prestamo">
						<table>
							<tr>
								<td>Codigo</td>
								<td><input type="text" class="prestamo-codigo-field-t" ng-model="dataH.socioCodigo" readonly></td>
							</tr>
							<tr>
								<td>Nombre</td>
								<td><input type="text" class="prestamo-categoria-field-t" ng-model="dataH.socioNombre" readonly></td>
							</tr>
							<tr>
								<td>Cedula</td>
								<td><input type="text" class="prestamo-cedula-field-t" ng-model="dataH.socioCedula" readonly></td>
							</tr>
							<tr>
								<td>Departamento</td>
								<td><input type="text" class="prestamo-categoria-field-t" ng-model="dataH.socioDepartamento" readonly></td>
							</tr>
						</table>
					</div>
				</div>
			</section>

			<section class="mas-datos-prestamo-sec">
				<div class="datos-prestamo">
					<div class="datos-prestamo-title">
						<span>Detalle del prestamo</span>
					</div>

					<table class="datos-prestamo-table">
						<tr>
							<td>Monto Prestamo</td>
							<td><input type="text" ng-model="prestamo.monto" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Tasa de Interes Anual</td>
							<td><input type="text" ng-model="prestamo.tasaInteresAnual" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Tasa de Interes Mensual</td>
							<td><input type="text" ng-model="prestamo.tasaInteresMensual" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Pago Prestamo Anterior</td>
							<td><input type="text" ng-model="prestsamo.pagoPrestamoAnterior" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Cantidad Cuotas</td>
							<td><input type="text" ng-model="prestamo.cantidadCuotas" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Monto de Cuota Q1</td>
							<td><input type="text" class="resaltar-valor align-right" ng-model="prestamo.montoCuotaQ1" class="align-right"></td>
						</tr>
						<tr>
							<td>Monto de Cuota Q2</td>
							<td><input type="text" class="resaltar-valor align-right" ng-model="prestamo.montoCuotaQ2" class="align-right"></td>
						</tr>
					</table>
				</div>


				<div class="garante">
					<div class="garante-title">
						mas...
					</div>

					<table class="garante-table">
						<tr>
							<td>Fecha de Desembolso</td>
							<td><input type="text" ng-model="prestamo.fechaDesembolso" readonly></td>
						</tr>
						<tr>
							<td>Fecha de Entrega</td>
							<td><input type="text" ng-model="prestamo.fechaEntrega" readonly></td>
						</tr>
						<tr>
							<td>Fecha de Vencimiento</td>
							<td><input type="text" class="align-right" ng-model="prestamo.fechaVencimiento" readonly></td>
						</tr>
						<tr>
							<td>Solicitud No.</td>
							<td><input type="text" class="align-right" ng-model="prestamo.noSolicitud" readonly></td>
						</tr>
						<tr>
							<td>Cheque No.</td>
							<td><input type="text" ng-model="prestamo.chequeNo" readonly></td>
						</tr>
						<tr>
							<td>Valor de la Garantia</td>
							<td><input type="text" ng-model="prestamo.valorGarantizado" class="align-right" readonly></td>
						</tr>
						<tr>
							<td>Balance a la fecha</td>
							<td><input type="text" class="prestamo-balance-actual resaltar-valor align-right" ng-model="prestamo.balance" readonly></td>
						</tr>					
					</table>
					
				</div>

				<button class="icon-save Boton boton-guarda-cambios" ng-click="GuardarCambiosPrestamo($event)">Guardar Cambios</button>

			</section>

		</section>
		
	</div>

{% endblock content %}