{% extends "base.html" %}

{% block title %} Maestra de Prestamos {% endblock title %}

{% block content %}

</style>


	<div class="MaestraPrestamo" ng-app="cooperativa">
		
		<div class="sub-menu" ng-controller="facturacion">	

				Maestra de Prestamos
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="listado-reg-prestamos">
			<div class="busqueda-by-field">
				<div class="by-prestamo">
					<span> Prestamo No. </span>
					<input type="text" id="PrestamoNo">		
				</div>	
				<div class="by-socio">
					<span> Socio </span>
					<input type="text" id="Socio">
				</div>
			</div>
			

			<table class="listado-table">
				<tr class="listado-table-header">
					<td><input type="checkbox"> </td>
					<td>Estatus</td>
					<td>Prestamo</td>
					<td>Factura</td>
					<td>Codigo</td>
					<td>Socio</td>
					<td>Monto Prestamo</td>
					<td>Tipo Prestamo</td>
					<td>Cancelar</td>
				</tr>

				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td>0002344</td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
			</table>

			<div class="botones-acciones-prestamos">
				<button class="Boton boton-generar-solicitud-cheque"> Generar Solicitud Cheque</button>
				<button class="Boton boton-postear-prestamos"> Postear Prestamos</button>
				<button class="Boton boton-postear-prestamos-od"> Postear Prestamos por Ordenes</button>	
			</div>
			
		</section>

		<!--DETALLE FACTURA-->
		<div class="sub-menu">	
				Detalle Factura
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="data-entry-section">
			<div class="data-entry-factura-header">
				
				<table class="data-entry-header-table">
					<tr>
						<td>Fecha</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Terminos</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Vendedor</td>
						<td> <input type="text"> </td>
					</tr>
				</table>

				<div class="producto-find">
					<span>Producto</span>
					<input type="text">
	
				</div>
				

				<section class="productos-section">
					<table class="productos-table">
						<tr class="productos-table-header">
							<td>Codigo</td>
							<td>Descripcion</td>
							<td>Cantidad</td>
							<td>Precio</td>
							<td>% Desc.</td>
							<td>Importe</td>
							<td>Eliminar</td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
						<tr class="productos-table-detail">
							<td>AC003</td>
							<td>Aceite Crisol 20 oz. del bueno</td>
							<td>2</td>
							<td>500</td>
							<td>0.00</td>
							<td>1,000</td>
							<td><a class="icon-delete icon-eliminar" href=""></a></td>
						</tr>		
					</table>

					<div class="totales-section">
						<ul class="totales-ul">
							<li><span>SubTotal</span> <input type="text"></li>
							<li><span>Descuento</span> <input type="text"></li>
							<li><span>Total</span> <input type="text"></li>
						</ul>
					</div>

					<button class="icon-save Boton boton-guarda-inventario">Guardar</button>
				</section>

			</div>
		</section>


		
		</div>

		
	</div>



{% endblock content %}