{% extends "base.html" %}

{% block title %} Maestra de Prestamos {% endblock title %}

{% block content %}

</style>


	<div class="MaestraPrestamo" ng-app="cooperativa">
		
		<div class="sub-menu" ng-controller="facturacion">	

				Maestra de Prestamos
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="listado-reg-prestamos">
			<div class="busqueda-by-field">
				<div class="by-prestamo">
					<span> Prestamo No. </span>
					<input type="text" id="PrestamoNo">		
				</div>	
				<div class="by-socio">
					<span> Socio </span>
					<input type="text" id="Socio">
				</div>
			</div>
			

			<table class="listado-table">
				<tr class="listado-table-header">
					<td><input type="checkbox"> </td>
					<td>Estatus</td>
					<td>Prestamo</td>
					<td>Factura</td>
					<td>Codigo</td>
					<td>Socio</td>
					<td>Monto Prestamo</td>
					<td>Tipo Prestamo</td>
					<td>Cancelar</td>
				</tr>

				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td><a class="prestamo-field-detalle" href="#">00034453</a></td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td><a class="prestamo-field-detalle" href="#">00034453</a></td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td><a class="prestamo-field-detalle" href="#">00034453</a></td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td><a class="prestamo-field-detalle" href="#">00034453</a></td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
				<tr class="listado-prestamos-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td><a class="prestamo-field-detalle" href="#">00034453</a></td>
					<td>0003234</td>
					<td>241099</td>
					<td>Jose Rafael Montero Nolasco</td>
					<td>43,500.66</td>
					<td>PRESTAMO PERSONAL</td>
					<td><a href="#" class="icon-delete icon-eliminar"></a> </td>
				</tr>
			</table>

			<div class="botones-acciones-prestamos">
				<button class="Boton boton-generar-solicitud-cheque"> Generar Solicitud Cheque</button>
				<button class="Boton boton-postear-prestamos"> Postear Prestamos</button>
				<button class="Boton boton-postear-prestamos-od"> Postear Prestamos por Ordenes</button>	
			</div>
			
		</section>

		<!--DETALLE DEL PRESTAMO-->
		<div class="sub-menu">	
				Detalle del Prestamo
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="data-detalle-section">
			<div class="data-detalle-prestamo-header">
				
				<div class="data-detalle-prestamo-1">
					<span>Prestamo</span>
					<span><input type="text"></span>
					<span>Categoria</span>
					<span><input type="text"></span>
				</div>
				
				<div class="data-detalle-prestamo-2">
					<span>Socio</span>
					<span><input type="text"></span>
					<span><input type="text"></span>
					<span>Cedula</span>
					<span><input type="text"></span>
				</div>
				
			</div>
		</section>

		
	</div>



{% endblock content %}