{% extends "base.html" %}

{% block title %} Nota de Credito Especial {% endblock title %}

{% block content %}

	<div class="NotaCreditoEspecial" ng-controller="NotaCreditoEspecialCtrl">

		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>
		
		<div class="sub-menu">	
			<div class="menu-entrada-nce-listado">
				<button class="nuevo icon-file" title="Nueva Nota de Credito Especial"></button>
			</div>
				<a href="#" ng-click="toggleLNCE()">Listado de Notas de Credito Especiales</a>
			<a class="[[ArrowLNCE]]" href="#"></a>
		</div>

		<div class="facturacion cssSlideUp" ng-show="showLNCE" ng-init="listadoNCE()">

			<section class="listado-reg-nce">
				<span>Orden No. </span>
				<input type="text" id="PrestamoNo" class="doc-no-ei" ng-model="NoPrestamo" ng-keyup="filtrarPorNoOrden($event, NoPrestamo)">
				<span>Socio</span>
				<input type="text" placeholder="Nombre del Socio" ng-model="nombreSocio" ng-keyup="filtrarPorSocio($event, nombreSocio)">

				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoNCE()">Ver todos</a>

				<div class="posteo-ei">
					<span>Posteadas</span>
					<select class="field-choices" name="posteo" id="posteo" ng-model="posteof" ng-change="filtrarPosteo()">
						<option value="*">TODOS</option>
						<option value="S">SI</option>
						<option value="N">NO</option>
					</select>
				</div>

				<section class="registrosPanel">	

					<table class="listado-table">
						<tr class="listado-table-nce-header">
							<td>Estatus</td>
							<td>Postear</td>
							<td>Numero</td>
							<td>Fecha</td>
							<td title="Orden Despacho">Orden</td>
							<td>Socio</td>
							<td>Valor Orden</td>
							<td>Valor Ahorro</td>
							<td>Val. CxP</td>
							<td>Anular</td>
							<td>Imprimir</td>
							<!-- <td>Eliminar</td> -->
						</tr>
						<tr ng-repeat="nce in notascreditoE" class="listado-nce-detail">
							<td class="[[nce.posteado | posteoFolderIcon]] posteo-[[nce.posteado]] align-center"></td>
							<td class="align-center"><a class="icon-cog icon-imprimir" href="#"></a></td>
							<td> <a class="sp-field" title="Ver detalle..." href="#" ng-click="NCEFullById(nce.id)">[[nce.id | numberFixedLen: 8]]</a> </td>
							<td>[[nce.fecha | date: 'dd/MM/yyyy']]</td>
							<td>[[nce.ordenDespacho | numberFixedLen: 8]]</td>
							<td>[[nce.getSocio]]</td>
							<td class="align-right">[[nce.totalMontoOrden | number : 2]]</td>
							<td class="align-right">[[nce.getMontoAhorro | number : 2]]</td>
							<td class="align-right">[[nce.montoConsumido | number : 2]]</td>
							<td class="align-center"><a class="icon-delete icon-eliminar" href="#"></a></td>
							<td class="align-center"><a class="icon-printer icon-imprimir" href="#"></a></td>
							<!-- <td class="align-center"><a class="icon-delete icon-eliminar" href="#"></a></td> -->
						</tr>
						
					</table>
				</section>

				<div class="botones-acciones-solicitud-prestamo-listado">
					<button class="Boton boton-aprobar-sp" ng-click="listadoNCE()">Refrescar</button>
					<!-- <button class="Boton boton-rechazar-sp"> Anular</button> -->
				</div>
			</section>
		</div>

		<!--DETALLE NCE-->
		<div class="detalleNCE" ng-hide="showLNCE">
			
			<div class="sub-menu">	
					Nota de Credito
			</div>

			<div class="detalle-nce-sec">
				
				<section class="nce-section-1">
					<div class="nce-sub-1">	
						<span>Numero</span>
						<input type="text">
						<span>Fecha</span>
						<input type="text">
					</div>
					
					<div class="nce-sub-2">
						<span>Socio</span>
						<input type="text">
					</div>

					<div class="nce-table">
						<table class="nce-table-1">
							<tr>
								<td>Capital</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>Interes</td>
								<td><input type="text"></td>
							</tr>
						</table>

						<span>Balance Pendiente</span>
						<table class="nce-table-2">
							<tr>
								<td>Capital</td>
								<td><input type="text"></td>
							</tr>
							<tr>
								<td>Interes</td>
								<td><input type="text"></td>
							</tr>
						</table>
					</div>

					<div class="nce-detalle-sec">
						<span class="nce-detalle-span">Detalle</span>
						<input type="text">
					</div>

					<table class="nce-table-cuotas">
						<tr class="nce-header-table-cuotas">
							<td>Cuota</td>
							<td>Tipo</td>
							<td>Fecha</td>
							<td>Val.</td>
							<td>Capital</td>
							<td>Interes</td>
							<td>Total</td>
						</tr>
						<tr class="nce-detail-table-cuotas">
							<td>1</td>
							<td>CT</td>
							<td>08/12/2014</td>
							<td>2,300</td>
							<td>1,500</td>
							<td>800</td>
							<td>2,300</td>					
						</tr>
						<tr class="nce-detail-table-cuotas">
							<td>1</td>
							<td>CT</td>
							<td>08/12/2014</td>
							<td>2,300</td>
							<td>1,500</td>
							<td>800</td>
							<td>2,300</td>					
						</tr>
						<tr class="nce-detail-table-cuotas">
							<td>1</td>
							<td>CT</td>
							<td>08/12/2014</td>
							<td>2,300</td>
							<td>1,500</td>
							<td>800</td>
							<td>2,300</td>					
						</tr>
						<tr class="nce-detail-table-cuotas">
							<td>1</td>
							<td>CT</td>
							<td>08/12/2014</td>
							<td>2,300</td>
							<td>1,500</td>
							<td>800</td>
							<td>2,300</td>					
						</tr>
					</table>

				</section>
				
				<section class="nce-section-2">
					
					<table>
						<tr>
							<td>Orden No.</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Total Monto Orden</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Monto de la Orden consumido por el socio</td>
							<td><input type="text"></td>
						</tr>
					</table>
					
					<hr>

					<span><h3>Cuentas por Pagar</h3> </span>
					<span>Suplidor</span>
					<input type="text">
					<input type="text">
					
					<table>
						<tr>
							<td>Valor Pendiente</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Valor a Acreditar</td>
							<td><input type="text"></td>
						</tr>
					</table>
					
					<hr>

					<span><h3>Ahorros</h3></span>

					<table>
						<tr>
							<td>Valor Ahorros</td>
							<td><input type="text"></td>
						</tr>
					</table>
					
				</section>
			</div>

			<section class="acciones-botones">
				<button class="Boton boton-guardar-nce">Guardar</button>
			</section>
		</div>
				
	</div>


{% endblock content %}