{% extends "base.html" %}

{% block title %} Nota de Credito Especial {% endblock title %}

{% block content %}

	<div class="NotaCreditoEspecial" ng-controller="NotaCreditoEspecialCtrl">
		
		<div class="sub-menu">	
			<div class="menu-entrada-nce-listado">
				<button class="nuevo icon-file" title="Nueva Nota de Credito Especial"></button>
			</div>
				Listado de Notas de Credito Especiales
			<a class="DownArrow" href="#"></a>
		</div>

		<section class="listado-reg-nce">
			<span>Socio</span>
			<input type="text">
			<span class="prestamo-field-nce">Prestamo</span>
			<input type="text">

			<div class="filtro-posteadas">
				<span>Posteadas</span>
				<select name="posteadas" id="posteadas">
					<option value="Todas">Todas</option>
					<option value="Si">Si</option>
					<option value="No">No</option>
				</select>
			</div>

			<table class="listado-table">
				<tr class="listado-table-nce-header">
					<td><input type="checkbox"> </td>
					<td>Estatus</td>
					<td>Numero</td>
					<td>Fecha</td>
					<td>Prestamo</td>
					<td>Socio</td>
					<td>Valor Prestamo</td>
					<td>Valor Ahorro</td>
					<td>Val. CxP</td>
					<td>Imprimir</td>
					<td>Eliminar</td>
				</tr>
				<tr class="listado-nce-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td> <a class="sp-field" title="Ver detalle..." href="">0003922</a> </td>
					<td>08/12/2014</td>
					<td>00007344</td>
					<td>Rafael Mercedes Santana Perez</td>
					<td>8,948.45</td>
					<td>4,240.54</td>
					<td>1,240.54</td>
					<td><a class="icon-printer icon-imprimir" href=""></a></td>
					<td><a class="icon-delete icon-eliminar" href=""></a></td>
				</tr>
				<tr class="listado-nce-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td> <a class="sp-field" title="Ver detalle..." href="">0003922</a> </td>
					<td>08/12/2014</td>
					<td>00007344</td>
					<td>Rafael Mercedes Santana Perez</td>
					<td>8,948.45</td>
					<td>4,240.54</td>
					<td>1,240.54</td>
					<td><a class="icon-printer icon-imprimir" href=""></a></td>
					<td><a class="icon-delete icon-eliminar" href=""></a></td>
				</tr>
				<tr class="listado-nce-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td> <a class="sp-field" title="Ver detalle..." href="">0003922</a> </td>
					<td>08/12/2014</td>
					<td>00007344</td>
					<td>Rafael Mercedes Santana Perez</td>
					<td>8,948.45</td>
					<td>4,240.54</td>
					<td>1,240.54</td>
					<td><a class="icon-printer icon-imprimir" href=""></a></td>
					<td><a class="icon-delete icon-eliminar" href=""></a></td>
				</tr>
				<tr class="listado-nce-detail">
					<td><input type="checkbox"> </td>
					<td class="icon-coin"></td>
					<td> <a class="sp-field" title="Ver detalle..." href="">0003922</a> </td>
					<td>08/12/2014</td>
					<td>00007344</td>
					<td>Rafael Mercedes Santana Perez</td>
					<td>8,948.45</td>
					<td>4,240.54</td>
					<td>1,240.54</td>
					<td><a class="icon-printer icon-imprimir" href=""></a></td>
					<td><a class="icon-delete icon-eliminar" href=""></a></td>
				</tr>
										
			</table>

			<div class="botones-acciones-solicitud-prestamo-listado">
				<button class="Boton boton-aprobar-sp"> Postear</button>
				<button class="Boton boton-rechazar-sp"> Anular</button>
				
			</div>
		</section>

		<!--DETALLE NCE-->
		<div class="sub-menu">	
				Nota de Credito
		</div>

		<div class="detalle-nce-sec">
			
			<section class="nce-section-1">
				<div class="nce-sub-1">	
					<span>Numero</span>
					<input type="text">
					<span>Fecha</span>
					<input type="text">
				</div>
				
				<div class="nce-sub-2">
					<span>Socio</span>
					<input type="text">
				</div>

				<div class="nce-table">
					<table class="nce-table-1">
						<tr>
							<td>Capital</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Interes</td>
							<td><input type="text"></td>
						</tr>
					</table>

					<span>Balance Pendiente</span>
					<table class="nce-table-2">
						<tr>
							<td>Capital</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Interes</td>
							<td><input type="text"></td>
						</tr>
					</table>
				</div>

				<div class="nce-detalle-sec">
					<span class="nce-detalle-span">Detalle</span>
					<input type="text">
				</div>

				<table class="nce-table-cuotas">
					<tr class="nce-header-table-cuotas">
						<td>Cuota</td>
						<td>Tipo</td>
						<td>Fecha</td>
						<td>Val.</td>
						<td>Capital</td>
						<td>Interes</td>
						<td>Total</td>
					</tr>
					<tr class="nce-detail-table-cuotas">
						<td>1</td>
						<td>CT</td>
						<td>08/12/2014</td>
						<td>2,300</td>
						<td>1,500</td>
						<td>800</td>
						<td>2,300</td>					
					</tr>
					<tr class="nce-detail-table-cuotas">
						<td>1</td>
						<td>CT</td>
						<td>08/12/2014</td>
						<td>2,300</td>
						<td>1,500</td>
						<td>800</td>
						<td>2,300</td>					
					</tr>
					<tr class="nce-detail-table-cuotas">
						<td>1</td>
						<td>CT</td>
						<td>08/12/2014</td>
						<td>2,300</td>
						<td>1,500</td>
						<td>800</td>
						<td>2,300</td>					
					</tr>
					<tr class="nce-detail-table-cuotas">
						<td>1</td>
						<td>CT</td>
						<td>08/12/2014</td>
						<td>2,300</td>
						<td>1,500</td>
						<td>800</td>
						<td>2,300</td>					
					</tr>
				</table>

			</section>
			
			<section class="nce-section-2">
				
				<table>
					<tr>
						<td>Orden No.</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>Total Monto Orden</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>Monto de la Orden consumido por el socio</td>
						<td><input type="text"></td>
					</tr>
				</table>
				
				<hr>

				<span><h3>Cuentas por Pagar</h3> </span>
				<span>Suplidor</span>
				<input type="text">
				<input type="text">
				
				<table>
					<tr>
						<td>Valor Pendiente</td>
						<td><input type="text"></td>
					</tr>
					<tr>
						<td>Valor a Acreditar</td>
						<td><input type="text"></td>
					</tr>
				</table>
				
				<hr>

				<span><h3>Ahorros</h3></span>

				<table>
					<tr>
						<td>Valor Ahorros</td>
						<td><input type="text"></td>
					</tr>
				</table>
				
			</section>
		</div>
	
		<section class="acciones-botones">
			<button class="Boton boton-guardar-nce">Guardar</button>
		</section>
				
	</div>


{% endblock content %}