{% extends "base.html" %}

{% block title %} Notas de Debito {% endblock title %}

{% block content %}

	<div class="NotasDeDebito" ng-controller="NotaDebitoCtrl">
		
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>
			
		<div class="sub-menu">	
			<div class="menu-entrada-inventario-listado">
				<button class="nuevo icon-file" title="Nueva Nota de Debito" ng-click="nuevaEntrada('{{user}}')"></button>
			</div>
				<a href="#" ng-click="toggleLND()">Listado de Notas de Debito</a>
			<a class="[[ArrowLND]]" href="#" ng-click="toggleLND()"></a>
		</div>
			
		<div class="facturacion cssSlideUp" ng-show="showLND" ng-init="listadoND()">

			<section class="listado-reg-facturas">
				<span> Nota de Debito No. </span>
				<input type="text" id="NoND" class="doc-no-ei" ng-model="NoND" ng-keypress="buscarND($event, NoND)">
				<a href="#" class="icon-uniE601 icon-buscar" ng-click="filtrarPorNoND(NoND)"></a>
				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoND()">Ver todos</a>

				<div class="posteo-ei">
					<span>Posteadas</span>
					<select class="field-choices" name="posteo" id="posteo" ng-model="posteof" ng-change="filtrarPosteo()">
						<option value="*">TODOS</option>
						<option value="S">SI</option>
						<option value="N">NO</option>
					</select>
				</div>

				<section class="registrosPanel">

					<table class="listado-table-f" id="table-lf-listado">
						<tr class="listado-table-header-f">
							<td><input type="checkbox" ng-model="regAll" ng-click="seleccionAll()"> </td>
							<td>Estatus</td>
							<td>Fecha</td>
							<td>No. Doc.</td>
							<td>Prestamo</td>
							<td class="align-right">Valor Capital</td>
							<td class="align-right">Valor Interes</td>
							<td>Concepto</td>
							<td>Estatus</td>
							<td>Imprimir</td>
						</tr>

						<tr ng-repeat="nd in notasdebito" class="listado-nd-detail" ng-init="total=0">
							<td class="align-center">
								<input type="checkbox" name="c[[nd.id]]" ng-disabled="[[nd.posteado | posteo]]" ng-checked="valoresChk[nd.id]" ng-model="reg[nd.id]" ng-click="selectedReg(nd)"> 
							</td>
							<td class="[[nd.posteado | posteoFolderIcon]] posteo-[[nd.posteado]] align-center"></td>
							<td>[[nd.fecha | date: 'dd/MM/yyyy']]</td>
							<td><a href="#" class="sp-field" ng-click="NDFullById(nd.id)"> [[nd.id | numberFixedLen: 8]] </a></td>
							<td>[[nd.noPrestamo | numberFixedLen: 8]]</td>
							<td class="align-right resaltar-valor verde">[[nd.valorCapital | number : 2]]</td>
							<td class="align-right resaltar-valor verde">[[nd.valorInteres | number : 2]]</td>
							<td>[[nd.concepto]]</td>
							<td class="align-center">[[nd.estatus]]

								<!-- <a ng-if="factura.borrado == false" href="#" class="icon-printer imprimir-icon" ng-click="ImprimirFactura(factura)"></a> 
								<span ng-if="factura.borrado == true">Eliminada</span> -->
							</td>
							<td class="align-center"><a href="#" class="icon-printer imprimir-icon"></a></td>
						</tr>
									
					</table>

				</section>

				<button class="icon-cog Boton boton-postear-factura" ng-click="postear()"> Postear</button>
			</section>
		
		</div>


		<!--DETALLE ND-->
		<div class="detalleND" ng-hide="showLND">
			<div class="sub-menu">	
					Detalle Nota de Debito
				<a class="DownArrow" href="#"></a>
			</div>

			<form name="NDForm" class="nd-sec data-entry-section" ng-submit="guardaNotaDebito($event)" novalidate>
				<table class="data-entry-header-table-nd">
					<tr>
						<td>Numero del Debito</td>
						<td> <input type="text" class="input-disabled align-right" ng-model="ND.noND" readonly> </td>
					</tr>
					<tr>
						<td>Fecha</td>
						<td> <input type="text" ng-model="ND.fecha" datepicker readonly> </td>
					</tr>
					<tr>
						<td>Prestamo No.</td>
						<td> 
							<div class="prestamo-field"> 
								<input type="text" ng-model="ND.prestamo"><a class="icon-uniE601 icon-buscar" href=""></a>
							</div>  
						</td>
					</tr>
					<tr>
						<td>Valor de Capital</td>
						<td><input type="text" ng-model="ND.valorCapital" required></td>
					</tr>
					<tr>
						<td>Valor de Interes</td>
						<td><input type="text" ng-model="ND.valorInteres" required></td>
					</tr>
				</table>

				<span class="concepto-field">Concepto</span>

				<textarea name="concepto" id="concepto" cols="45" rows="4" ng-model="ND.concepto" required></textarea>

				<div class="botones-acciones">
					<button class="icon-save Boton boton-guarda-nd" type="submit">Guardar</button>
					<!-- <button class="icon-spinner Boton boton-cancelar-nd" ng-click="nuevaEntrada('{{user}}')">Cancelar</button> -->
					
				</div>
			</form>
		</div>
		
		
	</div>



{% endblock content %}