<div class="head">

{% extends "base.html" %}
{% block title %} Solicitud de Prestamo {% endblock title %}

{% block content %}

</div>

<section class="PrintSolicitudP" ng-controller="ImprimirSolicitudPCtrl">

	<div class="cabecera-sp">
		<span><h3>COOPERATIVA GERDAUMETALDOM</h3></span>
		<span class="sol-prest">SOLICITUD DE PRESTAMO</span>
		<span class="sol-estatus">EN PROCESO</span>
	</div>

	<div class="datos-personales">
		<span class="subtitulo-sp"><h4>DATOS PERSONALES</h4></span>
		<div class="datos-personales-desglose">
			<table class="table-datos-personales">
				<tr>
					<td>Apellidos</td>
					<td>[[dataSolicitante.apellidos]]</td>
					<td>Cedula</td>
					<td>[[dataSolicitante.cedula]]</td>
				</tr>
				<tr>
					<td>Nombres</td>
					<td>[[dataSolicitante.nombres]]</td>
					<td>Telefono</td>
					<td>[[dataSolicitante.telefono]]</td>
				</tr>
				<tr>
					<td>Codigo</td>
					<td>[[dataSolicitante.codigo]]</td>
					<td>Localidad</td>
					<td>[[dataSolicitante.localidad]]</td>
				</tr>
				<tr>
					<td>Departamento</td>
					<td>[[dataSolicitante.departamento]]</td>
					<td>Fecha Ing. Coop.</td>
					<td>[[dataSolicitante.fechaIngresoCoop | date: 'MM/dd/yyyy']]</td>
				</tr>
				<tr>
					<td>Fecha Ing. Cia.</td>
					<td>[[dataSolicitante.fechaIngresoEmpresa | date: 'MM/dd/yyyy']]</td>
				</tr>
			</table>
		</div> <!-- FIN Seccion de Datos Personales -->

		<span class="subtitulo-sp"><h4>DATOS DEL PRESTAMO</h4></span>
		<div class="datos-prestamo-sp">
			<table class="table-datos-prestamo">
				<tr>
					<td>Categoria</td>
					<td>[[solicitudP.codigoCategoria]] [[solicitudP.categoriaPrestamo]]</td>
					<td>Tasa Interes Mensual</td>
					<td class="align-right">[[solicitudP.tasaInteresMensual]]</td>
				</tr>
				<tr>
					<td>Representante</td>
					<td>[[solicitudP.codigoRepresentante]] [[solicitudP.representante]]</td>
					<td>Interes Base Ahorro Mens.</td>
					<td class="align-right">[[solicitudP.interesBaseAhorroMensual]]</td>
				</tr>
				<tr>
					<td>Auxiliar</td>
					<td>**** ***************************</td>
					<td>Cantidad Cuotas</td>
					<td class="align-right">[[solicitudP.cantidadCuotas]]</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td>Valor de las Cuotas Quin.</td>
					<td class="align-right">[[solicitudP.valorCuotasCapital | number: 2]]</td>
				</tr>
				<tr>
					<td colspan="4"> <hr/> </td>
				</tr>
				<tr>
					<td>Ahorros Capitalizados</td>
					<td class="align-right padding-right-6">[[solicitudP.ahorrosCapitalizados | number: 2]]</td>
					<td>Monto Solicitado</td>
					<td class="align-right">[[solicitudP.montoSolicitado | number: 2]]</td>
				</tr>
				<tr>
					<td>Prestaciones Laborales</td>
					<td class="align-right padding-right-6">[[solicitudP.prestacionesLaborales | number: 2]]</td>
					<td>Bce. Otros Prestamos</td>
					<td class="align-right">********</td>
				</tr>
				<tr>
					<td>Garantizado por Garante</td>
					<td class="align-right padding-right-6">[[solicitudP.valorGarantizado | number: 2]]</td>
					<td>Garantia Disponible</td>
					<td class="align-right">********</td>
				</tr>
				<tr>
					<td>Menos Deudas Prestamos</td>
					<td class="align-right padding-right-6">[[solicitudP.deudasPrestamos | number: 2]]</td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>MONTO AL QUE APLICA</td>
					<td class="align-right padding-right-6">[[montoAplica | number: 2]]</td>
					<td>NETO A DESEMBOLSAR</td>
					<td class="align-right">[[solicitudP.netoDesembolsar | number: 2]]</td>
				</tr>
				<tr>
					<td colspan="4"><h5>*** [[solicitudP.netoDesembolsar | NumLetra]] ***</h5></td>
				</tr>
				<tr>
					<td colspan="4"> <hr/> </td>
				</tr>
			</table>

			<table class="table-datos-prestamo-2">
				<tr>
					<td colspan="2" class="align-right padding-right-6">Primera Quincena</td>
					<td class="align-right">Segunda Quincena</td>
					<td class="align-right">Sueldo Mensual</td>
				</tr>
				<tr>
					<td colspan="4"><hr/></td>
				</tr>
				<tr>
					<td>Cuota de Ahorros</td>
					<td class="padding-right-6">[[dataSolicitante.cuotaAhorroQ1 | number: 2]]</td>
					<td class="align-right">[[dataSolicitante.cuotaAhorroQ2 | number: 2]]</td>
					<td>[[dataSolicitante.salario | number: 2]]</td>
				</tr>
				<tr>
					<td>Cuota de Prestamos</td>
					<td class="padding-right-6">[[varCuotaPrestamo | number: 2]]</td>
					<td class="align-right">[[varCuotaPrestamo | number: 2]]</td>
					<td></td>
				</tr>
				<tr>
					<td>Intereses</td>
					<td class="padding-right-6">[[solicitudP.interesesValor | number: 2]]</td>
					<td class="align-right">[[solicitudP.interesesValor | number: 2]]</td>
					<td></td>
				</tr>
				<tr>
					<td>Total</td>
					<td class="padding-right-6">[[totalQ1 | number: 2]]</td>
					<td class="align-right">[[totalQ2 | number: 2]]</td>
					<td></td>
				</tr>
				<tr>
					<td>% Endeudamiento</td>
					<td class="padding-right-6">[[porcentajeEndeuda1 | number: 0]]%</td>
					<td class="align-right">[[porcentajeEndeuda2 | number: 0]]%</td>
				</tr>
			</table>
		</div> 

		<div class="datos-garante">
			<span class="subtitulo-sp"><h4>DATOS DEL GARANTE</h4></span>
			<div class="datos-garante-texto">
				<span class="carnet">[[dataSolicitante.codigo]]</span> <span class="nombre">Nombre y Apellidos</span>
				<p>El(los) Garante(s) arriba firmante(s) garantiza(n) solidariamente con su(s) ahorros las sumas indicadas, en el entendido de que dichos ahorros quedan automaticamente congelados por monto garantizado. Hasta la liberacion de dicha garantia.</p>
				<p>NOTA. De ser aprobada la presente solicitud acepto que hasta la cancelacion de la misma queden afectadas las cuotas mensuales de mi cheque de nomina regalia pascual, bonificacion y/o las prestaciones laborales que reciba o pudiera recibir de la empresa.</p>

				<table class="table-firmas">
					<tr>
						<td>_______________________________</td>
						<td>_______________________________</td>
					</tr>
					<tr>
						<td>Firma del Garante</td>
						<td>Firma y Sello GM</td>
					</tr>
				</table>
			</div>
		</div>

		<span class="subtitulo-sp"><h4>DESCRIPCION DE GARANTIA</h4></span>
		<div class="descripcion-garantia">
			
		</div>
		<span class="observacion-sp">Observacion:</span>

		<div class="firmas-finales">

			<table class="table-firmas-finales">
				<tr>
					<td>___________________________</td>
					<td>___________________________</td>
				</tr>
				<tr>
					<td>Solicitante</td>
					<td>Auxiliar de Contabilidad</td>
				</tr>
			</table>

			<table class="table-firmas-finales-2">
				<tr>
					<td>___________________________</td>
					<td>___________________________</td>
					<td>___________________________</td>
				</tr>
				<tr>
					<td>Consejo Administrativo</td>
					<td>Comite de Credito</td>
					<td>Comite de Vigilancia</td>
				</tr>
			</table>

		</div>
	</div>

</section>	


<div class="pie">
{% endblock content %}
	
</div>
