<div class="head">

{% extends "base.html" %}
{% block title %} Solicitud de Prestamo {% endblock title %}

{% block content %}

</div>

<section class="PrintSolicitudP" ng-controller="ImprimirSolicitudPCtrl">

	<div class="cabecera-sp">
		<span><h2>COOPERATIVA INDUSTRIAS NACIONALES</h2></span>
		<span>SOLICITUD DE PRESTAMO</span>
		<span>EN PROCESO</span>
	</div>

	<article>
		<div class="titulo">Datos Personales</div>
	</article>
	

</section>	


<div class="pie" ng-class="[[displayClass]]">
{% endblock content %}
	
</div>
