<div class="head">

{% extends "base.html" %}
{% block title %} Orden de Despacho {% endblock title %}

{% block content %}

</div>

<section class="OrdenDespacho" ng-controller="ImprimirODCtrl">
	
	<div class="FacturaVenta" id="FacturaDocumento">
		<div class="header-f">
			<span class="titulo-f"> [[empresa]] </span>
			<span class="localidad-f"> [[localidad]] </span>
			<span class="numeracion-f"> [[telefono]] </span>
			<span class="rnc-f">RNC [[rnc]]</span>
		</div>

		<div class="ORDEN-COMPRA">====================================== O R D E N &nbsp;&nbsp;D E&nbsp;&nbsp; C O  M P R A  =====================</div>

		<table class="cabecera-orden-despacho">
			<tr>
				<td>SEÑORES:</td>
				<td>SOCIO: [[datos.socioCodigo]]</td>
			</tr>
			<tr>
				<td><strong> [[datos.suplidorNombre]] </strong></td>
				<td><strong> [[datos.socioNombre]] </strong></td>
			</tr>
			<tr>
				<td>[[solicitudP.direccionSuplidor]]</td>
				<td>[[datos.socioDepto]]</td>
			</tr>
			
		</table>
		<br/>

		<p class="align-center"><strong>AUTORIZAMOS DESPACHAR POR NUESTRA CUENTA, ESTOS EFECTOS A LOS PRECIOS CONVENIDOS</strong></p>

		<section class="cabecera-factura-2">
			<table>
				<tr>
					<td class="align-right">ORDEN:</td>
					<td>[[datos.noSolicitud | numberFixedLen : 10]]</td>
				</tr>
				<tr>
					<td class="align-right">FECHA:</td>
					<td>[[datos.fechaAprobacion | date : 'dd/MM/yyyy']]</td>
				</tr>
			</table>

		</section>
		<section class="detalle-factura">
			<span ng-if="datos.impresa > 0" class="reimpresa">REIMPRESA</span>
			
			<table class="table-producto-factura">
				<tr>
					<td class="align-right">CANT.</td>
					<td>DESCRIPCION DE LOS ARTICULOS</td>
					<td class="align-right">PRECIO/U</td>
					<td class="align-right">TOTAL</td>
				</tr>
				<tr ng-repeat="articulo in datos.articulos">
					<td class="align-right">[[articulo.cantidad | number : 2]]</td>
					<td>[[articulo.articulo]]</td>
					<td class="align-right">[[articulo.precio | number : 2]]</td>
					<td class="align-right">[[articulo.cantidad * articulo.precio | number : 2]]</td>
				</tr>
				<tr><td colspan="4">==================================================== ULTIMA LINEA ======================</td></tr>
				<tr>
					<td colspan="3">TOTAL DE LA ORDEN</td>
					<td class="align-right">[[totalValor_ | number : 2]]</td>
				</tr>
			</table>
		</section>
		<p><strong>Esta orden sera Cargada con un [[datos.tasaInteresAnual]]% de interes</strong></p>
		
		<section class="firmas-f">
			<div class="firma1-f">
				<span>____________________________</span>
				<span>Firma del Socio</span>
			</div>

			<div class="firma2-f">
				<span>____________________________</span>
				<span>Firma Autorizada</span>
			</div>
		</section>

	</div>
	
	<div class="imprimir">
		<button id="printBoton" class="icon-printer Boton boton-imprimir-doc" ng-click="imprimirSol()">IMPRIMIR</button>
		
	</div>
</section>


<div class="pie">
{% endblock content %}
	
</div>