<div class="head">

{% extends "base.html" %}
{% block title %} Desembolso Electronico {% endblock title %}

{% block content %}

</div>

<section class="PrintDesembRecibidoConforme" ng-controller="ImprimirDesembolsoElectronicoCtrl">

	<div class="cabecera-rc">
		<span class="align-center"><h3>COOPERATIVA INDUSTRIAS NACIONALES</h3></span>
		<span class="rc-titulo">Desembolso Electronico</span>
		<span>[['' | currentdate]]</span>
	</div>
	<hr/>

	<div class="datos-recibido-conforme">
		<div class="prestamo-rc-desglose">
			<span>Prestamo No. <strong>[[dataH.noPrestamo | numberFixedLen : 9]]</strong></span> <span class="socio-rc">[[dataH.socioNombre]]</span>
			<span>Monto del Prestamo <strong>[[dataH.netoDesembolsar | number : 2]]</strong></span>
			<span>44 Cuotas de : <strong>[[dataH.cuotas]]</strong></span>
			<span>Tasa de Interes <strong>[[dataH.tasaInteresMensual]]</strong></span>
		</div>
		<ul class="fechas-rc">
			<li class="align-right">Fecha Desembolso [['' | currentdate]]</li>
			<li class="align-right">Fecha Vencimiento [[fechaVencimiento]]</li>
		</ul>

		<div class="bancario">
			<span><strong>BANCO:</strong> [[dataH.bancoCodigo]] - [[dataH.bancoNombre]]</span>
			<span><strong>CUENTA:</strong> [[dataH.socioCuentaBancaria]]</span>
		</div>

		<div class="detalle-recibido-conforme">
			<table>
				<tr>
					<td>Cuenta</td>
					<td>Detalle</td>
					<td>Debitos</td>
					<td>Creditos</td>
				</tr>
				<tr>
					<td>[[dataH.cuentaDesembolsoCodigo]]</td>
					<td>[[dataH.cuentaDesembolsoDescrp]]</td>
					<td></td>
					<td>[[dataH.netoDesembolsar | number : 2]]</td>
				</tr>
				<tr>
					<td>[[dataH.cuentaDesembolsoAuxiliar]]</td>
					<td>[[dataH.socioNombre]]</td>
					<td>[[dataH.netoDesembolsar | number : 2]]</td>
					<td></td>
				</tr>
				<tr><td colspan="4"><hr/></td></tr>
				<tr>
					<td colspan="2">Totales</td>
					<td>[[dataH.netoDesembolsar | number : 2]]</td>
					<td>[[dataH.netoDesembolsar | number : 2]]</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="firmantes-recibido-conforme">
		<table>
			<tr>
				<td class="align-center">______________________________</td>
				<td class="align-center">______________________________</td>
				<td class="align-center">______________________________</td>
			</tr>
			<tr>
				<td class="align-center">Solicitado Por</td>
				<td class="align-center">Revisado Por</td>
				<td class="align-center">Aprobado Por</td>
			</tr>
			<tr>
				<td class="align-center">Analista Cooperativa</td>
				<td class="align-center">Contador General</td>
				<td class="align-center">Gerente Cooperativa</td>
			</tr>
		</table>
	</div>

</section>	


<div class="pie">
{% endblock content %}
	
</div>
