<div class="head">

{% extends "base.html" %}
{% block title %} Reporte de Prestamos {% endblock title %}

{% block content %}

</div>

<section class="Prestamos" ng-controller="ConsultarPrestamoCtrl">
	
	<div class="rptUtilidad">
		<div class="align-center">
			<h3>[[empresa]]</h3>
			<p class="titulo-utilidad"> Reporte de Prestamos </p>
			<p class="fecha-utilidad"> Desde: [[fechaInicio | date : 'dd/MM/yyyy']] Hasta [[fechaFin | date : 'dd/MM/yyyy']] </p>
		</div>

		<div class="busqueda-vd">
			<span>Fecha Inicio</span>
			<input type="text" class="fecha-solicitud-field-t" ng-model="fechaInicio" datepicker>
			<span>Fecha Fin</span>
			<input type="text" class="fecha-solicitud-field-t" ng-model="fechaFin" datepicker>
			
			<span>Estatus</span>
			<select class="field-choices" name="posteo" id="posteo" ng-model="estatus">
				<option value="P" selected="selected">Posteados</option>
				<option value="E">En proceso</option>
				<option value="S">Saldados</option>
			</select>

			<span>Tipo Socio</span>
			<select class="field-choices" name="posteo" id="tipoSocio" ng-model="tipoSocio">
				<option value="S" selected="selected">Socios</option>
				<option value="E">Empleados</option>
				<option value="I">Inactivos</option>
			</select>			

			<input type="checkbox" ng-model="agrupar">
			<span>Agrupados por clasificacion</span>
			
			<p>
				<button class="Boton boton-postear-inventario" ng-click="buscarPrestamos($event)">Buscar</button>

			</p>

		</div>

		<section ng-if="agrupar == false" class="detalle-utilidad">
			<table class="table-prestamo-listado">
				<tr>
					<td>Prestamo</td>
					<td>Nombre Socio</td>
					<td class="align-right">Monto Original</td>
					<td>Fecha Prestamo</td>
					<td>Fecha Vencimiento</td>
					<td class="align-right">Balance Actual</td>
					<td class="align-right">Tasa de Interes Anual</td>
				</tr>
				<tr ng-repeat="prestamo in registros">
					<td>[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
					<td>[[prestamo.socio]]</td>
					<td class="align-right">[[prestamo.montoInicial | number: 2]]</td>
					<td>[[prestamo.fechaAprobacion | date : 'dd/MM/yyyy']]</td>
					<td>[[prestamo.fechaVencimiento | date : 'dd/MM/yyyy']]</td>
					<td class="align-right">[[prestamo.balance | number : 2]]</td>
					<td class="align-right">[[prestamo.tasaInteresMensual * 12 | number : 0]]</td>
				</tr>
				<tr>
					<td colspan="2">TOTALES:</td>
					<td class="align-right">[[totalMontoOriginal | number : 2]]</td>
					<td colspan="2"></td>
					<td class="align-right">[[totalBalance | number : 2]]</td>
					<td></td>
				</tr>
			</table>
		</section>

		<!-- PRESENTAR PRESTAMOS AGRUPADOS POR CATEGORIA -->
		<section ng-if="agrupar == true" class="detalle-utilidad">
			<table class="table-prestamo-listado-agrupados">
				<tr>
					<td>Codigo Concepto</td>
					<td>Categoria</td>
					<td class="align-right">Cantidad</td>
					<td class="align-right">Monto</td>
					<td class="align-right">% Prestamo</td>
				</tr>
				<tr ng-repeat="grupo in registrosAgrupados">
					<td>[[grupo.id]]</td>
					<td>[[grupo.categoriaPrestamo]]</td>
					<td class="align-right">[[grupo.totalCantidad | number : 0]]</td>
					<td class="align-right">[[grupo.totalMonto | number : 2]]</td>
					<td class="align-right">[[grupo.porcentaje | number : 2]] %</td>
				</tr>
				<tr>
					<td colspan="2">TOTALES:</td>
					<td class="align-right">[[totalCantidadAgrupado | number : 0]]</td>
					<td class="align-right">[[totalMontoAgrupado | number : 2]]</td>
					<td class="align-right">[[totalPorcentaje | number : 0]]</td>
				</tr>
			</table>
		</section>

	</div>
	
</section>


<div class="pie">
{% endblock content %}
	
</div>
