{% extends "base.html" %}

{% block title %} Solicitud de Prestamo {% endblock title %}

{% block content %}

	<div class="SolicitudPrestamo" ng-controller="SolicitudPrestamoCtrl">
		
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>		

		<div class="sub-menu">	
			<div class="menu-entrada-sp-listado">
				<button class="nuevo icon-file" title="Nueva Solicitud de Prestamo" ng-click="nuevaEntrada('{{user}}')"></button>
			</div>
				<a href="#" ng-click="toggleLSP()">Listado de Solicitudes de Prestamos</a>
			<a class="DownArrow" href="#" ng-click="toggleLSP()"></a>
		</div>

		<section id="panelPrestamos" class="listado-reg-sp cssSlideUp" ng-show="showLSP" ng-init="listadoSolicitudes(undefined)">
				<span>Codigo</span>
				<input type="text" class="doc-no-ei" ng-model="socioCodigo" ng-keypress="solicitudesprestamosBySocio($event, socioCodigo)">

				<span>Socio</span>
				<input type="text" class="socio-field-sp" ng-model="socioNombre" ng-keypress="solicitudesprestamosBySocio($event, socioNombre)">

				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoSolicitudes()">Ver todos</a>
				
			<div class="filtro-posteadas">
				<span>Estatus</span>
				<select name="estatus" id="estatus" ng-change="solicitudesprestamosEstatus(estatus)" ng-model="estatus" class="field-choices">
					<option value="T">Todas</option>
					<option value="P">En Proceso</option>
					<option value="A">Aprobados</option>
					<option value="R">Rechazados</option>
					<option value="C">Cancelados</option>
				</select>
			</div>

			<section class="registrosPanel">
				<figure class="fig-load [[mostrar]]">
					<img class="img-load" src="/static/images/loading.gif" alt="">
				</figure>

				<table class="listado-table">
					<tr class="listado-table-nc-header">
						<td><input type="checkbox" ng-model="regAll" ng-click="seleccionAll()"> </td>
						<td>Estatus</td>
						<td>Solicitud #</td>
						<td>Fecha</td>
						<td>Codigo</td>
						<td>Socio</td>
						<td>Solicitado</td>
						<td>Desembolsar</td>
						<td>Imprimir</td>
						<td title="Cancelar Prestamo">Cancelar</td>
					</tr>

					<tr class="listado-sp-detail" ng-repeat="solicitud in solicitudes">
						<td class="align-center"><input type="checkbox" name="c[[solicitud.id]]" ng-checked="valoresChk[solicitud.id]" ng-model="reg[solicitud.id]" ng-click="selectedReg(solicitud)" ng-disabled="[[solicitud.estatus | estatusSolicitud]]"> </td>
						<td class="estatus-[[solicitud.estatus | lowercase]] align-center">[[solicitud.estatus | estatusName]]</td>
						<td> <a class="sp-field" title="Ver mas detalle..." href="#" ng-click="SolicitudFullById($event,solicitud.noSolicitud)">[[solicitud.noSolicitud | numberFixedLen : 8]]</a> </td>
						<td>[[solicitud.fechaSolicitud | date : 'dd/MM/yyyy']]</td>
						<td>[[solicitud.codigoSocio]]</td>
						<td>[[solicitud.socio]]</td>
						<td class="align-right">[[solicitud.montoSolicitado | number : 2]]</td>
						<td class="align-right">[[solicitud.netoDesembolsar | number : 2]]</td>
						<td class="align-center"><a class="icon-printer icon-imprimir" href="#" ng-click="ImprimirSolicitud(solicitud)"></a></td>
						<td class="align-center">
							<div ng-if="solicitud.estatus == 'P'"> <a class="icon-delete icon-eliminar" href="#" ng-click="AprobarRechazarSolicitudesPrestamos($event,'C', solicitud)"></a> </div>
							<div ng-if="solicitud.estatus != 'P'"> <a class="icon-delete icon-eliminar disabled" href="#"></a> </div>
							
						</td>
					</tr>
											
				</table>
			</section>

				<div class="botones-acciones-solicitud-prestamo-listado">
					<button class="icon-cog Boton boton-aprobar-sp" ng-click="AprobarRechazarSolicitudesPrestamos($event,'A', undefined)"> Aprobar</button>
					<button class="icon-blocked Boton boton-rechazar-sp" ng-click="AprobarRechazarSolicitudesPrestamos($event,'R', undefined)"> Rechazar</button>
					
				</div>
		</section>


		<form name="SolicitudForm" class="datosprestamos" ng-hide="showLSP" ng-submit="guardarSolicitud($event)" novalidate>
			<!--DETALLE SP-->
			<div class="sub-menu">	
					Solicitud de Prestamo
			</div>

			<section class="data-entry-section-sp">
				<div class="sub-menu-sp">	
					Datos del Solicitante
				</div>
					<div class="content-socios-table">
						<table class="socios-table-search-prestamo" ng-show="tableSocio">
							<tr>
								<td class="cerrar-table" colspan="3">
									<a  href="#" class="icon-delete" ng-click="tableSocio=false">  </a>
								</td>
							</tr>
							<tr class="socios-table-header">
								<td>Codigo</td>
								<td>Nombre</td>
								<td>Departamento</td>
							</tr>
							<tr ng-repeat="s in socios" class="socios-table-detail-search">
								<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.codigo]] </a></td>
								<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.nombreCompleto]] </a></td>
								<td><a href="#" class="select-item" ng-click="selSocio($event,s)"> [[s.departamento]] </a></td>
							</tr>
						</table>
					</div>

				<table class="sp-header-table-solicitante">
					<tr>
						<td>Codigo de empleado</td>
						<td>
							<div class="codigo-empleado-field"> 
								<input type="text" ng-model="solicitante.codigoEmpleado" ng-keyup="getSocio($event);" ng-focus="tableSocio=false" ng-click="tableSocio=false; errorShow=false;" required>

								<a class="icon-uniE601 icon-buscar" href="#" ng-click="solicitante.codigoEmpleado = ''; getSocio($event);"></a>
							</div>
						</td>
					</tr>
					<tr>
						<td>Nombre</td>
						<td> 
							<input type="text" class="nombre-empleado-prestamo" ng-model="solicitante.nombreEmpleado" readonly>
						</td>
					</tr>
					<tr>
						<td>Representante</td>
						<td>
							<select class="descrp-repr" ng-model="solicitante.representanteCodigo" ng-init="getRepresentantes()" required>
								<option ng-repeat="representante in representantes" value="[[representante.id]]"> [[representante.nombre]] </option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Autorizado por</td>
						<td>
							<select name="autorizador" id="autorizador" ng-model="solicitante.autorizadoPor" ng-change="selectAutorizador()" ng-init="autorizadores()" required>
								<option ng-repeat="autorizador in autorizadores" value="[[autorizador.userName]]">[[autorizador.userName]]</option>
							</select>
							<input type="password" placeholder="PIN" ng-model="solicitante.autorizadorPin" ng-keypress="validaAutorizadorKey($event)" class="field-short" autocomplete="off" ng-disabled="solicitante.pinValido">
						</td>
					</tr>
				</table>

				<table class="sp-header-table-solicitante2">
					<tr>
						<td>Cedula</td>
						<td><input type="text" ng-model="solicitante.cedula" readonly></td>
					</tr>
					<tr>
						<td>Salario</td>
						<td><input type="text" ng-model="solicitante.salario" readonly></td>
					</tr>
					<tr>
						<td>Cobrador</td>
						<td><input type="text" ng-model="solicitante.cobrador" readonly></td>
					</tr>
					<tr>
						<td>Validado</td>
						<td><input type="text" ng-model="solicitante.validado" readonly></td>
					</tr>
				</table>

			</section>			
		
			<section class="sp-datos-prestamo">
				<div class="sub-menu-sp">	
					Datos de Solicitud de Prestamo
				</div>

				<div class="datos-prestamo-content">

					<div class="datos-prestamo-1">
						<table class="datos-prestamo-1-table">
							<tr>
								<td>
									<input type="text" class="monto-field" ng-model="solicitud.montoSolicitado" ng-change="montoNeto()" format="number" required>
									<span class="icon-help ayuda-monto-solicitar" title="Este es el monto a solicitar."></span>
								</td>
								<td>
									<div class="fecha-prestamo">
										<span class="fecha-solicitud-field">Fecha Solicitud</span>
										<input class="fecha-solicitud-field-t" type="text" ng-model="solicitud.fechaSolicitud" required readonly>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">Disponible para garantia</td>
							</tr>
							<tr>
								<td>Ahorros Capitalizados</td>
								<td><input type="text" class="align-right" ng-model="solicitud.ahorrosCapitalizados" readonly></td>
							</tr>
							<tr>
								<td>Deudas Prestamos</td>
								<td><input type="text" class="align-right" ng-model="solicitud.deudasPrestamos" readonly></td>
							</tr>
							<tr>
								<td>Prestaciones Laborales</td>
								<td><input type="text" class="align-right" ng-model="solicitud.prestacionesLaborales" ng-change="montoNeto()" format="number"></td>
							</tr>
							<tr>
								<td>Garante</td>
								<td><input type="text" class="align-right" ng-model="solicitud.garante" placeholder="Código del garante"></td>
							</tr>
							<tr>
								<td>Valor garantizado</td>
								<td><input type="text" class="align-right" ng-model="solicitud.valorGarantizado" ng-change="montoNeto()" format="number"></td>
							</tr>
							<tr>
								<td>Disponible</td>
								<td><input class="monto-desembolsar-field monto-disponible-field" type="text" ng-model="solicitud.montoDisponible" readonly></td>
							</tr>
							<tr>
								<td>Neto a desembolsar</td>
								<td class="align-right"><input class="monto-desembolsar-field" type="text" ng-model="solicitud.netoDesembolsar" readonly required></td>
							</tr>
							<tr>
								<td colspan="2">Nota/Observacion</td>
							</tr>
							<tr>
								<td colspan="3"><textarea class="nota-field" name="nota" id="nota"  rows="3" ng-model="solicitud.nota"></textarea></td>
							</tr>

							<tr>
								<td colspan="2">

									<button class="icon-save boton-guardar-solicitud [[disabledButton]]" ng-disabled="solicitud.estatus != 'P' && disabledButtonBool" type="submit">Guardar</button>

									<button class="Boton icon-delete boton-cancelar-solicitud" ng-click="cancelarSolicitud($event)">Cancelar</button>
								</td>
							</tr>

						</table>
					</div>

						

					<div class="datos-prestamo-2">

						<div class="content-table-categorias-prestamos" ng-show="showCP">

							<table class="categorias-prestamos-table">
								<tr>
									<td colspan="2" class="cerrar-table">
										<a href="#" class="icon-delete" ng-click="showCP=false"></a>
									</td>
								</tr>
								<tr>
									<td>ID</td>
									<td>Categoria de Prestamo</td>
								</tr>
								<tr ng-repeat="categoria in categoriasP">
									<td><a class="select-item" href="#" ng-click="selCP($event, categoria)">[[categoria.id]]</a></td>
									<td><a class="select-item" href="#" ng-click="selCP($event, categoria)">[[categoria.descripcion]]</a></td>
								</tr>
							</table>

						</div>
					

						<!-- <div class="descontar">
							<span>Descontar</span>
							<select name="descontar" id="descontar" ng-model="solicitud.descontar">
								<option value="Quincenal">Quincenal</option>
								<option value="Mensual">Mensual</option>
							</select>
							
							<div class="descuento-mensual">
								<input type="radio" ng-model="solicitud.q1"> 1ra
								<input type="radio" ng-model="solicitud.q2"> 2da								
							</div>

						</div> -->


						<div class="otros-datos">

							<div class="otros-datos-info">
								<table class="otros-datos-info-table">

									<tr>
										<td>Categoria Prestamo</td>
										<td colspan="2">											
											<input type="text" class="categoria-prestamo-id cod-repr input-disabled" ng-model="solicitud.categoriaPrestamoId" readonly required>
											<input type="text" class="categoria-prestamo-field" ng-model="solicitud.categoriaPrestamo" ng-keyup="categoriasPrestamos(undefined,$event)" select-on-click> 

										</td>
										<td>
											<a href="#" class="icon-uniE601 icon-buscar buscar-categoria-prestamo" ng-click="categoriasPrestamos(undefined, $event)"></a>										
										</td>
									</tr>
									<tr>
										<td>Fecha para descuento</td>
										<td><input type="text" class="fecha-descuento-field" ng-model="solicitud.fechaDescuento" readonly required></td>
									</tr>

									<tr>
										<td>Tasa de interes anual</td>
										<td><input type="text" class="field-short" ng-model="solicitud.tasaInteresAnual" readonly></td>
									</tr>
									<tr>
										<td>Tasa de interes mensual</td>
										<td><input type="text" class="field-short" ng-model="solicitud.tasaInteresMensual" readonly></td>
									</tr>
									<tr>
										<td>Cantidad de cuotas mens.</td>
										<td><input type="text" class="field-short" ng-model="solicitud.cantidadCuotas" readonly required></td>
									</tr>
									<tr>
										<td>Valor de Cuotas capital</td>
										<td><input type="text" ng-model="solicitud.valorCuotas" readonly required></td>
									</tr>

									<tr>
										<td>Fecha Aprobacion</td>
										<td><input type="text" ng-model="solicitud.fechaAprobacion" readonly></td>
									</tr>
									
									<tr>
										<td> 
											<span ng-if="solicitud.estatus == 'C'">Fecha Cancelación </span>
											<span ng-if="solicitud.estatus != 'C'">Fecha Rechazo</span>
										</td>
										<td><input type="text" ng-model="solicitud.fechaRechazo" readonly></td>
									</tr>
									<tr>
										<td>Solicitud #</td>
										<td><input type="text" ng-model="solicitud.solicitudNo" readonly></td>
									</tr>
									<tr>
										<td>Prestamo #</td>
										<td><input type="text" ng-model="solicitud.prestamo" readonly></td>
									</tr>
								</table>
							</div>
						</div>
						<div class="unificar-prestamos-sec" ng-if="prestamosSocio.length > 0">
							<div class="unificar-prestamos-title">
								Unificar Prestamos
							</div>

							<table class="unificar-prestamos-table">
								<tr>
									<td title="Seleccionar">Sel.</td>
									<td>Prestamo</td>
									<td>Capital</td>
								</tr>
								<tr ng-repeat="p in prestamosSocio">
									<td class="align-center">
										<input type="checkbox" name="c[[p.noPrestamo]]" ng-checked="valoresChk[p.noPrestamo]" ng-model="reg[p.noPrestamo]" ng-click="selectedRegPU(p)"> 
									</td>
									<td>[[p.noPrestamo | numberFixedLen : 9]]</td>
									<td>[[p.balance | number : 2]]</td>
								</tr>
									
							</table>
							<!-- <button class="Boton boton-unificar-prestamos">Unificar</button> -->
							
						</div>


					</div>

				</section> 
		</form>				

	</div>


{% endblock content %}