
{% extends "base.html" %}

{% block title %} Tabla de Amortizacion {% endblock title %}

{% block content %}
	<div class="distribucion-intereses" ng-controller="DistribucionInteresesPrestamosCtrl">
		<h1>TABLA DE AMORTIZACION</h1>

		<form name="OrdenForm" novalidate>
			<div>
				<table class="table-orden-factura">
					<tr>
						<td colspan="2"> <span>TABLA DE AMORTIZACION</span></td>
					</tr>
					<tr>
						<td>Para el año</td>
						<td><input type="text" ng-model="di.agno"></td>
					</tr>
					<tr>
						<td>Al</td>
						<td><input type="text" ng-model="di.fecha" datepicker readonly></td>
					</tr>
					<tr>
						<td>% Prestamos</td>
						<td><input type="text" ng-model="di.porcentaje"></td>
						
					</tr>
					<tr>
						<td>Fecha Posteo</td>
						<td>
							<input type="text" ng-model="di.fechaPosteo" datepicker readonly>
						</td>
					</tr>
				</table>
			</div>

			<div class="botones-acciones-distribucion-intereses">
				<button class="icon-uniE601 Boton boton-aprobar-sp" ng-click="VisualizarDistribucion($event)">Visualizar</button>
				<button class="icon-cog Boton boton-rechazar-sp" ng-click="ProcesarDistribucion($event)">Procesar</button>
			</div>
			
		</form>
		
	</div>

{% endblock content %}