{% extends "base.html" %}

{% block title %} Actualiza Descuentos de Nominas {% endblock title %}

{% block content %}

	<div class="Nomina" ng-controller="NominaDescuentosCtrl">
	
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>

		<div class="sub-menu">
			Nomina de Prestamos y Ahorros
		</div>

		<div class="nomina-descuentos-panel">
			<span class="fecha-nomina-descuento">Fecha de Nomina:</span> <input type="text" class="fecha-nomina-t" ng-model="fechaNomina" datepicker readonly>
			<span>Prestamos:</span>			
			<select name="tipoNomina" id="tnom" ng-model="tipoPrestamoNomina" class="field-choices">
				<option value="RE">Regulares</option>
				<option value="VA">Vacaciones</option>
				<option value="BO">Bonificacion</option>
				<option value="RG">Regalia</option>
				<option value="RI">Rifa</option>
			</select>
			
			<button class="icon-dollar Boton boton-postear-inventario boton-nomina" ng-click="listadoPrestamos($event, tipoPrestamoNomina)" title="Presionar este boton para ver el listado de Prestamos.">Prestamos</button>

			<button class="icon-moneybag Boton boton-postear-inventario boton-nomina" ng-click="listadoAhorros($event)" title="Presionar este boton para ver el listado de Ahorros.">Ahorros</button>

			<span class="mensajePrestamosAhorros"><strong>[[mensaje]]</strong></span>
		</div>

		<form name="FormPrestamos" class="form-prestamos-regulares [[extiendePrestamos]] [[encogePrestamos]]" ng-submit="generarNomina()" novalidate>
			<a href="#" class="resaltar-valor verde" ng-click="ocultarAhorros($event)">PRESTAMOS </a>
			
			<div class="section-prestamo">
				<section class="acciones-pr">
					<button id="GAPS" class="Boton icon-document boton-aplicar-prestamos [[GenerarArchivoPrestamosStatus]]" title="Generar archivo del tipo de prestamo seleccionado arriba." ng-click="archivoPrestamos()">Generar</button>

					<button id="VAPS" class="Boton-azul icon-uniE601 boton-aplicar-prestamos [[VerificarArchivoPrestamosStatus]]" title="Ver archivo del tipo de prestamo seleccionado arriba." ng-click="verArchivo(tipoPrestamoNomina)">Verificar</button>
					
					<button id="APS" class="Boton icon-cog boton-aplicar-prestamos [[AplicarPrestamosStatus]]" title="Lleva los prestamos a contabilidad." ng-click="aplicarPrestamos()">Aplicar</button>
					
					<button id="BPS" class="Boton-azul icon-document boton-aplicar-prestamos [[BalancesPrestamosStatus]]" title="Generar archivo con Balances Prestamos." ng-click="archivoBalancePrestamos($event)">Balances</button>

					<button id="vBPS" class="Boton-azul icon-uniE601 boton-aplicar-prestamos [[verBalancesPrestamosStatus]]" title="Generar archivo para nomina." ng-click="verBalancesPrestamos($event)">ver Balances</button>

					<a href="#" class="icon-document reporte-nomdesc" title="Ver Reporte Prestamos" ng-click="reporteDescPrestamos($event)"></a>

				</section>

				<div class="registrosPanel--grande" id="panelPrestamos">
					<table class="listado-table">
						<tr class="suplidores-table-header">
							<td>Quitar</td>
							<td>Socio</td>
							<td>Nombre</td>
							<td>Prestamo</td>
							<td class="align-right">Capital</td>
							<td class="align-right">Interes</td>
							<td class="align-right">Total</td>
						</tr>
						<tr class="listado-entrada-inventario-detail" ng-repeat="prestamo in prestamos">
							<td class="align-center"><a href="#" class="icon-delete icon-eliminar" ng-click="quitarPrestamo(prestamo)"></a></td>
							<td>[[prestamo.codigoSocio]]</td>
							<td>[[prestamo.socio]]</td>
							<td title="[[prestamo.balance]]">[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
							<td class="align-right">[[prestamo.montoCuotaQ | number : 2]]</td>
							<td class="align-right">[[prestamo.cuotaInteresQ | number : 2]]</td>
							<td class="align-right">[[prestamo.cuotaMasInteresQ | number : 2]]</td>
						</tr>
						<tr class="listado-entrada-inventario-detail">
							<td colspan="4"><strong>TOTALES</strong></td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalMontoCuota | number : 2]]</td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalCuotaInteres | number : 2]]</td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalCuotaMasInteres | number : 2]]</td>
						</tr>
							
					</table>
				</div>

			</div>
		</form>

		<!-- FORMULARIO DE AHORROS -->
		<form name="FormAhorros" class="form-prestamos-regulares [[extiendeAhorros]] [[encogeAhorros]]" ng-submit="generarNomina()" ng-show="showAHORROS" novalidate>
			<a href="#" class="resaltar-valor verde" ng-click="ocultarPrestamos($event)">AHORROS</a>

			<div class="section-ahorro">
				<section class="acciones-pr">
					<button id="GAAS" class="Boton icon-document boton-aplicar-prestamos [[GenerarArchivoAhorrosStatus]]" ng-click="generarArchivoAhorros()">Generar</button>

					<button id="VAAS" class="Boton-azul icon-uniE601 boton-aplicar-prestamos [[VerificarArchivoAhorrosStatus]]" title="Ver archivo para nomina." ng-click="verArchivo('AH')">Verificar</button>	

					<button id="AAS" class="Boton icon-cog boton-aplicar-prestamos [[AplicarAhorrosStatus]]" ng-click="aplicarAhorros()">Aplicar</button>

					<button id="BAS" class="Boton-azul icon-document boton-aplicar-prestamos [[BalancesAhorrosStatus]]" title="Generar archivo de balances Ahorros." ng-click="archivoBalancesAhorros($event)">Balances</button>

					<button id="vBAS" class="Boton-azul icon-uniE601 boton-aplicar-prestamos [[verBalancesAhorrosStatus]]" title="Ver archivo de balances de ahorros." ng-click="verBalancesAhorros($event)">ver Balances</button>

					<a href="#" class="icon-document reporte-nomdesc" title="Ver Reporte Ahorros" ng-click="reporteDescAhorros($event)"></a>	

				</section>

				<div class="registrosPanel--grande" id="panelAhorros">
					<table class="listado-table">
						<tr class="suplidores-table-header">
							<td>Socio</td>
							<td>Nombre</td>
							<td class="align-right">Ahorro</td>
						</tr>
						<tr class="listado-entrada-inventario-detail" ng-repeat="ahorro in ahorros">
							<td>[[ahorro.codigo]]</td>
							<td>[[ahorro.nombreCompleto]]</td>
							<td class="align-right resaltar-valor">[[ahorro.cuotaAhorro | number : 2]]</td>
						</tr>
						<tr class="listado-entrada-inventario-detail">
							<td colspan="2"><strong>TOTAL</strong></td>
							<td class="align-right resaltar-valor verde">[[ahorroTotalCuotaAhorro | number : 2]]</td>
						</tr>
							
					</table>
				</div>
				
			</div>
		</form>

	</div>


{% endblock content %}