{% extends "base.html" %}

{% block title %} Actualiza Descuentos de Nominas {% endblock title %}

{% block content %}

	<div class="Nomina" ng-controller="NominaDescuentosCtrl">
	
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>

		<div class="sub-menu">
			<a href="#">Nomina de Prestamos y Ahorros</a>
		</div>

		<div class="nomina-descuentos-panel">
			<span class="fecha-nomina-descuento">Fecha de Nomina:</span> <input type="text" class="fecha-nomina-t" ng-model="fechaNomina" datepicker readonly>
			<span>Prestamos:</span>			
			<select name="tipoNomina" id="tnom" ng-model="tipoPrestamoNomina" class="field-choices">
				<option value="RE">Regulares</option>
				<option value="VA">Vacaciones</option>
				<option value="BO">Bonificacion</option>
				<option value="RG">Regalia</option>
				<option value="RI">Rifa</option>
			</select>
			
			<button class="icon-cog Boton boton-nomina" ng-click="listadoPrestamos($event, tipoPrestamoNomina)">Refrescar</button>
			<span class="mensajePrestamosAhorros"><strong>[[mensaje]]</strong></span>
		</div>

		<form name="FormPrestamos" class="form-prestamos-regulares [[extiendePrestamos]] [[encogePrestamos]]" ng-submit="generarNomina()" novalidate>
			<a href="#" class="resaltar-valor verde" ng-click="ocultarAhorros($event)">PRESTAMOS </a>
			
			<div class="section-prestamo">
				<div class="registrosPanel--grande" id="panelPrestamos">
					<table class="listado-table">
						<tr class="suplidores-table-header">
							<td>Quitar</td>
							<td>Socio</td>
							<td>Nombre</td>
							<td>Prestamo</td>
							<td>Capital</td>
							<td>Interes</td>
							<td>Total</td>
						</tr>
						<tr class="listado-entrada-inventario-detail" ng-repeat="prestamo in prestamos">
							<td class="align-center"><a href="#" class="icon-delete icon-eliminar" ng-click="quitarPrestamo(prestamo)"></a></td>
							<td>[[prestamo.codigoSocio]]</td>
							<td>[[prestamo.socio]]</td>
							<td title="[[prestamo.balance]]">[[prestamo.noPrestamo | numberFixedLen : 9]]</td>
							<td class="align-right">[[prestamo.montoCuotaQ | number : 2]]</td>
							<td class="align-right">[[prestamo.cuotaInteresQ | number : 2]]</td>
							<td class="align-right">[[prestamo.cuotaMasInteresQ | number : 2]]</td>
						</tr>
						<tr class="listado-entrada-inventario-detail">
							<td colspan="4"><strong>TOTALES</strong></td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalMontoCuota | number : 2]]</td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalCuotaInteres | number : 2]]</td>
							<td class="align-right resaltar-valor verde">[[prestamoTotalCuotaMasInteres | number : 2]]</td>
						</tr>
							
					</table>
				</div>

				<section class="acciones-pr">
					<button class="Boton icon-document boton-aplicar-prestamos" title="Generar archivo para nomina." ng-click="archivoPrestamos()">Generar Archivo</button>	
					<button class="Boton-azul icon-uniE601 boton-aplicar-prestamos" title="Ver archivo para nomina." ng-click="verArchivo(tipoPrestamoNomina)">Verificar Archivo</button>	
					
					<button class="Boton-azul icon-document boton-aplicar-prestamos" title="Generar archivo para nomina.">Balances</button>	

					<button class="Boton icon-cog boton-aplicar-prestamos" title="Lleva los prestamos a contabilidad." ng-click="aplicarPrestamos()">Aplicar</button>	

				</section>
			</div>
		</form>

		<!-- FORMULARIO DE AHORROS -->
		<form name="FormAhorros" class="form-prestamos-regulares [[extiendeAhorros]] [[encogeAhorros]]" ng-submit="generarNomina()" ng-show="showAHORROS" novalidate>
			<a href="#" class="resaltar-valor verde" ng-click="ocultarPrestamos($event)">AHORROS</a>

			<div class="section-ahorro">
				<div class="registrosPanel--grande" id="panelAhorros">
					<table class="listado-table">
						<tr class="suplidores-table-header">
							<td>Socio</td>
							<td>Nombre</td>
							<td>Ahorro</td>
						</tr>
						<tr class="listado-entrada-inventario-detail" ng-repeat="ahorro in ahorros">
							<td>[[ahorro.codigo]]</td>
							<td>[[ahorro.nombreCompleto]]</td>
							<td class="align-right resaltar-valor">[[ahorro.cuotaAhorro | number : 2]]</td>
						</tr>
						<tr class="listado-entrada-inventario-detail">
							<td colspan="2"><strong>TOTAL</strong></td>
							<td class="align-right resaltar-valor verde">[[ahorroTotalCuotaAhorro | number : 2]]</td>
						</tr>
							
					</table>
				</div>
				
				<section class="acciones-pr">
					<button class="Boton icon-document boton-aplicar-prestamos" ng-click="generarArchivoAhorros()">Generar Archivo</button>
					<button class="Boton-azul icon-uniE601 boton-aplicar-prestamos" title="Ver archivo para nomina." ng-click="verArchivo('AH')">Verificar Archivo</button>	
					<button class="Boton-azul icon-document boton-aplicar-prestamos" title="Generar archivo para nomina.">Balances</button>	
					<button class="Boton icon-cog boton-aplicar-prestamos" ng-click="AplicarPrestamos()">Aplicar</button>	

				</section>

			</div>
		</form>

	</div>


{% endblock content %}