{% extends "base.html" %}

{% block title %} Nomina {% endblock title %}

{% block content %}

	<div class="Nomina" ng-controller="NominaCtrl">
		
		<div class="generar-nomina">
			
			<mensajeerror> </mensajeerror>
			<mensajeinfo> </mensajeinfo>

			<div class="sub-menu">
				<a href="#" ng-click="toggleGN()">Generar Nomina de la Cooperativa</a>
				<a class="DownArrow" href="#" ng-click="toggleGN()"></a>
			</div>

			<form name="FormGeneraNomina" class="genera-nomina" ng-show="showGN" ng-submit="generarNomina()" novalidate>
				<ul> 
					<li><p class="fecha-nomina">Fecha de la Nomina</p></li>
					<li><input class="fecha-nomina-t" type="text" name="fechaNomina" id="fechaNomina" ng-model="nominaH.fechaNomina" datepicker required/></li>
				</ul>

				<ul>
					<li><p class="tipo-nomina">Tipo de Nomina</p></li>
					<li>
						<select class="tipo-nomina-t field-choices" name="tipoNomina" ng-init="tiposNominas()" ng-model="nominaH.tipoNomina" required>
							<option ng-repeat="item in tiposN" value="[[item.id]]">[[item.descripcion]]</option>
						</select>			
					</li>
				</ul>
				
				<div class="nomina-nota">Nota:</div>
				<textarea class="nomina-nota-t" id="Nota" ng-model="nominaH.nota"> </textarea>

				<button class="icon-cog Boton boton-genera-nomina" type="submit"> Generar Nomina </button>

			</form>
		</div>

		<div class="consultar-nomina">
			
			<div class="sub-menu nomina-consultar">
				<a href="#" ng-click="toggleCN()">Consultar Nominas</a>

				<a class="DownArrow" href="#" ng-click="toggleCN()"></a>

			</div>

			<div class="nominas" ng-show="showCN" ng-init="getNominasGeneradas()">
				
<!-- 				<div class="nominas-select">
					<div class="nomina-sel">Nomina</div>
					<select class="nomina-sel-text" name="NominaSel" ng-model="nominaS" ng-init="getNominasGeneradas()">
						<option ng-repeat="item in nominas" value="[[item.fechaNomina]]"> [[item.fechaNomina | date: 'dd/MM/yyyy']]</option>
					</select>
				</div>
 -->				
				<div class="nominas-content">
					<table class="consultar-nominas-table">
						<tr class="nomina-sel-header">
							<td>Estatus</td>
							<td>Fecha</td>
							<td>Empl.</td>
							<td>Valor</td>
							<td>ISR</td>
							<td>AFP</td>
							<td>ARS</td>
							<td>Cafeteria</td>
							<td>Vac.</td>
							<td title="Otros Ingresos">OI</td>
							<td>Ahorros</td>
							<td>Prestamos</td>
							<td>Tipo Nomina</td>
							<td>Quincena</td>
							<!-- <td>Tipo Pago</td> -->
							<td title="Postear Nomina">Postear</td>
							<td title="Eliminar Nomina">Eliminar</td>
							<td title="Generar Archivo">Archivo</td>
						</tr>

						<tr class="nomina-sel-detail" ng-repeat="item in nominas">
							<td class="align-center">[[item.estatus]]</td>
							<td> <a href="#" class="sp-field" ng-click="getDetalleNomina(item.fechaNomina, item.tipoNomina)" title="[[item.nota]]">[[item.fechaNomina | date: 'dd/MM/yyyy']]</a></td>
							<td class="align-center">[[item.cntEmpleados]]</td>
							<td class="align-right">[[item.valorNomina | number: 2]]</td>
							<td class="align-right">[[item.ISR | number : 2]]</td>
							<td class="align-right">[[item.AFP | number : 2]]</td>
							<td class="align-right">[[item.ARS | number : 2]]</td>
							<td class="align-right">[[item.CAFETERIA | number : 2]]</td>
							<td class="align-right">[[item.VACACIONES | number : 2]]</td>
							<td class="align-right">[[item.OTROSINGRESOS | number : 2]]</td>
							<td class="align-right">[[item.DESCAHORROS | number : 2]]</td>
							<td class="align-right">[[item.DESCPRESTAMOS | number : 2]]</td>
							<td>[[item.tipoNomina]]</td>
							<td class="align-center">[[item.quincena]]</td>
							<!-- <td>[[item.tipoPago]]</td> -->
							<td class="align-center"><a href="#" class="icon-cog icon-postear-nomina" title="Postear Nomina"></a></td>
							<td class="align-center"><a href="#" class="icon-delete icon-delete-nomina" ng-dblclick="eliminarNominaSel(item.fechaNomina, item.tipoNomina)" title="Doble click para eliminar."></a></td>
							<td class="align-center"><a href="#" class="icon-archivo icon-archivo-nomina" ng-click="GeneraArchivoBanco($event, item.valorNomina, item.cntEmpleados)"></a></td>
						</tr>

					</table>
				</div>
				
			</div>
		</div>
		
		<div class="detalle-nomina">
			
			<div class="sub-menu nomina-detalle">
				Detalles de Nomina <span class="nomina-seleccionada"> [[nomina | date : 'dd/MM/yyyy']]</span>
				
			</div>

			<div class="detalle-nomina-desglosado">
				
				<div class="listado-empleados-panel">

						<table class="empleados-table">
							<tr class="empleados-listado-header">
								<td>Codigo</td>
								<td>Empleado</td>
								<td>Pago</td>
							</tr>

							<tr class="empleados-listado-detail" ng-repeat="item in detalle">

								<td>[[item.getcodigo]]</td>
								<td><a href="#" ng-click="selEmpleado(nomina, item)" class="select-item" ng-class="reg[item.id]"> [[item.empleado]]</a></td>
								<td>[[item.pago]]</td>
							</tr>
						</table>
				</div>

				<div class="detalle-empleado-panel">
					<div class="detalle-empleado-title"> Detalles del Empleado <span class="empleado-seleccionado">[[empleado.empleado]]</span></div>
					
					<form name="FormDetalleEmpleado" class="detalle-desglose" ng-submit="guardarDE()" novalidate>

						<table class="detalle-desglose-table">
							<tr>
								<td colspan="2" class="title-ingresos">INGRESOS</td>
								<td colspan="2" class="title-egresos">EGRESOS</td>
								<td rowspan="6"> <button class="icon-save Boton boton-desglose-empleado" type="submit">Guardar</button> </td>
							</tr>
							<tr>
								<td class="first-row" title="Salario Quincenal">Salario Q.</td>
								<td> <input type="text" ng-bind="empleado.salario" ng-model="empleado.salario" select-on-click> </td>
								<td class="egreso-field">ARS </td>
								<td> <input type="text" ng-bind="empleado.ars" ng-model="empleado.ars" select-on-click> </td>
							</tr>
							<tr>
								<td>Vacaciones</td>
								<td> <input type="text" ng-bind="empleado.vacaciones" ng-model="empleado.vacaciones" select-on-click> </td>
								<td class="egreso-field">AFP</td>
								<td> <input type="text" ng-bind="empleado.afp" ng-model="empleado.afp" select-on-click> </td>
							</tr>
							<tr>
								<td>Otros</td>
								<td> <input type="text" ng-bind="empleado.otrosIngresos" ng-model="empleado.otrosIngresos" select-on-click> </td>
								<td class="egreso-field">ISR</td>
								<td> <input type="text" ng-bind="empleado.isr" ng-model="empleado.isr" select-on-click> </td>
							</tr>
							<tr>
								<td>Horas Extras</td>
								<td> <input type="text" ng-bind="empleado.horasExtras" ng-model="empleado.horasExtras" select-on-click> </td>
								
								<td class="egreso-field">Prestamos</td>
								<td> <input type="text" ng-bind="empleado.descPrestamos" ng-model="empleado.descPrestamos" select-on-click> </td>
							</tr>													
							<tr>
								<td></td>
								<td> </td>
								<td class="egreso-field">Ahorros</td>
								<td> <input type="text" ng-bind="empleado.descAhorros" ng-model="empleado.descAhorros" select-on-click> </td>
							</tr>
							<tr>
								<td></td>
								<td> </td>
								<td class="egreso-field">Cafeteria</td>
								<td> <input type="text" ng-bind="empleado.cafeteria" ng-model="empleado.cafeteria" select-on-click> </td>
							</tr>

						</table> 
					</form>
				</div>
			</div>
		</div>

	</div>


{% endblock content %}