{% extends "base.html" %}

{% block title %} Desembolsos {% endblock title %}

{% block content %}

	<div class="Nomina" ng-app="cooperativa">
		
		<div class="sub-menu" ng-controller="GeneraNominaCtrl">
			Generar Nomina de la Cooperativa

			<a class="DownArrow" href="#"></a>

		</div>

		<div class="genera-nomina">
			<ul> 
				<li><p class="fecha-nomina">Fecha de la Nomina</p></li>
				<li><input class="fecha-nomina-t" type="text" name="fechaNomina" id="fechaNomina"/></li>
			</ul>

			<ul>
				<li><p class="tipo-nomina">Tipo de Nomina</p></li>
				<li>
					<select class="tipo-nomina-t" name="tipoNomina">
						<option value="Quincenal"> Quincenal </option>
						<option value="Regalia"> Regalia </option>
						<option value="Otros"> Otros </option>
					</select>			
				</li>
			</ul>
			
			<div class="nomina-nota">Nota:</div>
			<textarea class="nomina-nota-t" id="Nota"> </textarea>

			<button class="icon-cog Boton boton-genera-nomina"> Generar Nomina </button>

		</div>

		<div class="sub-menu nomina-consultar">
			Consultar Nominas

			<a class="DownArrow" href="#"></a>

		</div>

		<div class="nominas">
			<div class="nomina-sel">Nomina</div>
			<select class="nomina-sel-text" name="NominaSel">
				<option value="08/12/2014"> 08/12/2014</option>
				<option value="08/12/2014"> 23/12/2014</option>
				<option value="08/12/2014"> 23/12/2014</option>
			</select>

			<table class="consultar-nominas-table">
				<tr class="nomina-sel-header">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>

				<tr class="nomina-sel-header nomina-sel-detail">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>
				<tr class="nomina-sel-header nomina-sel-detail">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>
				<tr class="nomina-sel-header nomina-sel-detail">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>
				<tr class="nomina-sel-header nomina-sel-detail">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>
				<tr class="nomina-sel-header nomina-sel-detail">
					<td>Estatus</td>
					<td>Fecha</td>
					<td>Empleados</td>
					<td>Valor</td>
					<td>Tipo Nomina</td>
					<td>Quincena</td>
					<td>Tipo Pago</td>
					<td class="icon-cog"></td>
					<td class="icon-delete icon-delete-nomina"></td>
					<td class="icon-archivo icon-archivo-nomina"></td>
				</tr>
			</table>
		</div>
		
		<div class="sub-menu nomina-detalle">
			Detalles de Nomina
			<a class="DownArrow" href="#"></a>
		</div>

		<div class="listado-empleados-panel">
				<table class="empleados-table">
					<tr class="empleados-listado-header">
						<td>Empleado</td>
						<td>Pago</td>
					</tr>

					<tr class="empleados-listado-detail">
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>
					<tr>
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>					
					<tr>
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>					
					<tr>
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>					
					<tr>
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>										
					<tr>
						<td>Rafael Mercedes</td>
						<td>45,000.00</td>
					</tr>										
				</table>
		</div>

		<div class="detalle-empleado-panel">
			<div class="detalle-empleado-title"> Detalles del Empleado</div>
			
			<div class="detalle-desglose">

				<table class="detalle-desglose-table">
					<tr>
						<td colspan="2" class="title-ingresos">INGRESOS</td>
						<td colspan="2" class="title-egresos">EGRESOS</td>
						<td rowspan="6"> <button class="icon-save Boton boton-desglose-empleado">Guardar</button> </td>
					</tr>
					<tr>
						<td class="first-row">Salario</td>
						<td> <input type="text"> </td>
						<td class="egreso-field">ARS </td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Vacaciones</td>
						<td> <input type="text"> </td>
						<td class="egreso-field">AFP</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Otros</td>
						<td> <input type="text"> </td>
						<td class="egreso-field">ISR</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Incentivos</td>
						<td> <input type="text"> </td>
						<td class="egreso-field">Prestamos</td>
						<td> <input type="text"> </td>
					</tr>													
					<tr>
						<td></td>
						<td> </td>
						<td class="egreso-field">Ahorros</td>
						<td> <input type="text"> </td>
					</tr>

				</table>

			</div>
		</div>

	</div>


{% endblock content %}