<div class="head">

{% extends "base.html" %}
{% block title %} Reporte de Descuentos de Ahorros {% endblock title %}

{% block content %}

</div>

<section class="Factura" ng-controller="NominaReporteDescAhorrosCtrl">
	
	<div class="rptUtilidad">
		<div class="align-center">
			<h3>COOPERATIVA INDUSTRIAS NACIONALES </h3>
			<span class="titulo-utilidad"> Validacion de Datos Nominas Descuentos </span> <br/>
			<span class="fecha-utilidad"> Para la 1ra. Quincena del mes de Mayo </span>
			<h2>AHORROS</h2>
		</div>

		<div>
			<p>Impreso: {% now "d/m/Y" %}</p>
			<p>Hora: {% now "h:i a" %}</p>
			<p>Descuentos por Ahorros</p>
		</div>

		<section class="detalle-utilidad">
			<table class="table-producto-factura">
				<tr>
					<td>Codigo</td>
					<td>Nombre del Empleado</td>
					<td class="align-right">Ahorro</td>

				</tr>
				<tr ng-repeat="ahorro in ahorros">
					<td>[[ahorro.codigo]]</td>
					<td>[[ahorro.nombreCompleto]]</td>
					<td class="align-right">[[ahorro.cuotaAhorro | number : 2]]</td>
				</tr>
				<tr>
					<td colspan="2">TOTALES:</td>
					<td class="align-right">[[totalAhorros | number : 2]]</td>
				</tr>
			</table>
		</section>

	</div>
	
</section>


<div class="pie">
{% endblock content %}
	
</div>