<div class="head">

{% extends "base.html" %}
{% block title %} Reporte de Descuentos de Ahorros {% endblock title %}

{% block content %}

</div>

<section class="descAhorros" ng-controller="NominaReporteDescAhorrosCtrl">
	
	<div class="rptUtilidad">
		<div class="align-center">
			<h3>[[empresa]]</h3>
			<span class="titulo-utilidad"> Validacion de Datos Nominas Descuentos </span> <br/>
			<span class="fecha-utilidad"> Para la [[quincena]] Quincena del mes de [[mes]] del [[agno]] </span>
			<h2>AHORROS</h2>
		</div>

		<div>
			<p>Impreso: {% now "d/m/Y" %}</p>
			<p>Hora: {% now "h:i a" %}</p>
			<p>Descuentos por Ahorros</p>
		</div>

		<section class="detalle-utilidad">
			<table class="table-report">
				<tr>
					<td>Codigo</td>
					<td>Nombre del Empleado</td>
					<td class="align-right">Ahorro</td>

				</tr>
				<tr ng-repeat="ahorro in datosReporte" class="[[ahorro.nombreCompleto]]">
					<td>
						<span ng-if="ahorro.nombreCompleto == 'TOTAL'">[[ahorro.departamento]]</span>
						<span ng-if="ahorro.nombreCompleto != 'TOTAL'">[[ahorro.codigo]]</span>
					</td>
					<td>
						<span ng-if="ahorro.nombreCompleto == 'TOTAL'">[[ahorro.codigo]]</span>
						<span ng-if="ahorro.nombreCompleto != 'TOTAL'">[[ahorro.nombreCompleto]]</span>
					</td>
					<td class="align-right">[[ahorro.cuotaAhorro | number : 2]]</td>
				</tr>
				<tr>
					<td colspan="2" class="formatTOTAL">TOTALES</td>
					<td class="align-right formatTOTAL">[[totalAhorros | number : 2]]</td>
				</tr>
				<tr>
					<td colspan="2" class="formatTOTAL">TOTALES (SIN EMPLEADOS COOPERATIVA)</td>
					<td class="align-right formatTOTAL">[[totalAhorros - totalAhorroCOOP | number : 2]]</td>
				</tr>
			</table>
			[[totalAhorrosCOOP]]
		</section>

	</div>
	
</section>


<div class="pie">
{% endblock content %}
	
</div>