{% extends "base.html" %}

{% block title %} Cxp Supercoope {% endblock title%}

{% block content %}

<section id="main" ng-controller="CxpSuperCtrl" ng-init="getAllData()">
		<div class="content-suplidor-table">
			<table class="suplidor-table-search" ng-show="tableSuplidor">
				<tr>
					<td colspan="3" class="cerrar-table">
						<a href="#" class="icon-delete" ng-click="tableSuplidor=false"></a>
					</td>
				</tr>
				<tr class="socios-table-header">
					<td>Codigo</td>
					<td>Nombre</td>
				</tr>
				<tr ng-repeat="s in suplidor" class="socios-table-detail-search">
					<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.id]] </a></td>
					<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.nombre]] </a></td>
				</tr>
			</table>

		</div>

		<div class="cxp-headpanel-super">
			<h4>
				Cuentas por Pager SuperCoop
				<button class="nuevo icon-file" ng-click="nuevoRegistro()" title="Nueva Orden" ></button>
			</h4>
			
		</div>

	<div class="cxp-list" ng-show="vwTablas">
		<table>
			<tr class="listado-table-header">
				<td>Registro</td>
				<td>Suplidor</td>
				<td>Fecha</td>
				<td>Monto</td>
				<td>Descuento</td>
				<td>Estatus</td>
				<td>Imprimir</td>
				<td>Postear</td>
			</tr>
			<tr ng-repeat="cxp in lstCxpOrden" class="listado-entrada-inventario-detail">
				<td style="text-align:center;">[[cxp.id]]</td>
				<td style="width: 30em;">[[cxp.suplidor]]</td>
				<td>[[cxp.fecha |date: 'dd/MM/yyyy']]</td>
				<td>[[cxp.monto | number: 2]]</td>
				<td style="text-align:right;">[[cxp.descuento |number :2]]</td>
				<td style="text-align:center;">[[cxp.estatus | estatusCxp]]</td>
				<td style="text-align:center;">
					<a href="#" class="icon-printer util-noDecoration" ng-click="printRegistros($event, cxp)"></a>
				</td>
				<td style="text-align:center;">
					<div ng-if="cxp.estatus =='P'">
						<span class="icon-cog"></span>
					</div>
					<div ng-if="cxp.estatus !='P'">
						<a href="#" class="icon-cog utils-noDecoration" ng-click="CxpSuperEstatus($event,cxp.id)"></a>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div class="cxp-create" ng-show="vwRegistro">
		<form name="CxpForm" class="data-entry-section" novalidate>
		<div class="cxp-create-header">
			<table>
				<tr>
					<td>
						Suplidor:
					</td>
					<td> 
						<input type="text" ng-model="cxSuperData.suplidorId" ng-disabled="true" class="input-no-editable codigo-socio-field-f">
						<input type="text" ng-model="suplidorNombre" ng-keyup="getSuplidor($event)" ng-focus="tableSup=false" ng-click="tableSup=false; errorShow=false;" class="producto-field-ei" required>

						<a href="#" class="icon-uniE601 icon-buscar" ng-click="suplidorNombre=''; getSuplidor($event)"></a>
					
						<span class="error-ei"> [[suplidorNoExiste]]</span>

					</td>
				</tr>
				<tr>
					<td>Fecha:</td>
					<td>
						<input type="text" ng-model="fecha" datepicker required>
					</td>
				</tr>
				<tr>
					<td>
						Concepto:
					</td>
					<td>
						<textarea name="" id="" cols="45" rows="8" ng-model="cxSuperData.concepto" required></textarea>
					</td>
				</tr>
				<tr>
					<td>
						Monto:
					</td>
					<td>
						<input type="text" ng-model="cxSuperData.monto" required>
					</td>
				</tr>
				<tr>
					<td>
						Descuento:
					</td>
					<td>
						<input type="text" ng-model="cxSuperData.descuento" required>
					</td>
				</tr>
			</table>
		</div>
		<div class="cxp-create-details">
			<table>
				<tr class="listado-table-header">
					<td>
						
					</td>
					<td>
						Registro
					</td>
					<td>
						Fecha
					</td>
					<td>
						Monto
					</td>
				</tr>
				<tr ng-repeat="det in inventarios" class="listado-entrada-inventario-detail">
					<td class="align-center">
						<input type="checkbox" name="c[[det.id]]" ng-checked="valoresChk[det.id]" 
						ng-model="reg[det.id]" ng-click="selectedReg(det)"> 
					</td>
					<td>[[det.id]]</td>
					<td>[[det.fecha | date : 'dd/MM/yyyy']]</td>
					<td>[[det.totalGeneral ]]</td>
				</tr>
			</table>
			<div>
				<button class="smallMargin icon-save Boton"  ng-click="guardarCxp($event)" >Guardar</button>
				<button class="smallMargin icon-delete Boton danger" ng-click="limpiar($event)">Cancelar</button>
			</div>
		</div>
		</form>
	</div>

	<!-- <div class="content-suplidor-table">
				<table class="Super-suplidor-table-search" ng-show="tableSuplidor">
					<tr>
						<td colspan="3" class="cerrar-table">
							<a href="#" class="icon-delete" ng-click="tableSuplidor=false"></a>
						</td>
					</tr>
					<tr class="socios-table-header">
						<td>Codigo</td>
						<td>Nombre</td>
					</tr>
					<tr ng-repeat="s in suplidor" class="socios-table-detail-search">
						<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.id]] </a></td>
						<td><a href="#" class="select-item" ng-click="selSuplidor($event,s)"> [[s.nombre]] </a></td>
						
					</tr>
				</table>
	</div>

	<div class="Solicitud-Flap" ng-show="flap">
			<div>
				<a href="#" class="icon-delete flapClose" ng-click="flap=false"></a>
				<p>Desea Postear o cancelar CXP SuperCoop</p>
				<button class="Boton BusquedaBtn icon-coin" type="submit" ng-click="CxpSuperEstatus($event,'postear')">Postear</button> 
				<button class="Boton BusquedaBtn danger icon-delete" type="reset" ng-click="CxpSuperEstatus($event,'cancelar')">Cancelar</button>
			</div>	
	</div>
	<section  ng-show="vwTablas">
		<div class="sub-menu">
			<div class="menu-entrada-inventario-listado">
				<button class="nuevo icon-file" ng-click="nuevoRegistro()" title="Nuevo Registro" ></button>
			</div>
				<a href="#" ng-click="toggleLF()">CXP Super Coop</a>
			<a class="[[ArrowLF]]" href="#" ng-click="toggleLF()"></a>
			<div class="superFecha"> 
				Fecha inicio : <input type="text" ng-model="sfechai" datepicker>
				Fecha Final  : <input type="text" ng-model="sfechaf" datepicker>
			</div>	
			
		</div>
		<div>
			<table class="super-table-search-panel">
				<tr class="super-table-header">
					<td>Id</td>
					<td>Suplidor</td>
					<td>Factura</td>
					<td>Fecha</td>
					<td>Monto</td>
					<td>Estatus</td>
					<td>Postear</td>
					<td>Solicitar cheque</td>
				</tr>
				<tr ng-repeat="x in lstCxpOrden" class="super-table-detail-search">
					<td>[[x.id]]</td>
					<td>[[x.suplidor]]</td>
					<td>[[x.factura]]</td>
					<td>[[x.fecha |date: 'dd/MM/yyyy']]</td>
					<td>[[x.monto |number: 2]]</td>
					<td>
						<div ng-if="x.estatus =='A'">
							Activo
						</div>
						<div ng-if="x.estatus =='P'">
							Posteado
						</div>
						<div ng-if="x.estatus =='I'">
							Cancelada
						</div>
					</td>
					<td>
						<div ng-if="x.estatus =='A'">
							<a href="#" class="icon-folder estatus-[[x.estatus]]" style="text-decoration: none;" 
							ng-click="workflow($event,x.id)" tooltip="[[x.estatus]]"></a>
						</div>
						<div ng-if="x.estatus =='P'">
							<span class="icon-folder estatus-[[x.estatus]]" ></span>
						</div>
						<div ng-if="x.estatus =='I'">
							<span class="icon-folder estatus-[[x.estatus]]" ></span>
						</div>
					</td>
					<td>
						<div ng-if="x.estatusCh == 'S'">
							<a href="#" class="icon-cog estatus-[[x.estatus]]" style="text-decoration: none;" ng-click="setSolicitud($event,x.id)" tooltip="[[x.estatus]]"></a>
						</div>
						<div ng-if="x.estatusCh != 'S'">
							<span class="icon-cog estatus-[[x.estatus]]"></span>
						</div>
						
					</td>
				</tr>
			</table>
		</div>
	</section>
	
	<section ng-show="vwRegistro">
		<div class="super-panel-reg">
			<form name="CxpSuperForm" class="data-entry-section" novalidate ng-submit="guardarCxp($event)">
				<div class="super-div-reg">
					<table class="super-table-reg">
							<tr>
								<td>Fecha:</td>
								<td>
									<input type="text" ng-model="fecha" datepicker required>
								</td>
							</tr>
							<tr>
								<td>
									Suplidor:
								</td>
								<td>
									<input type="text" ng-model="cxSuperData.suplidor" disabled> <input type="text" ng-model="suplidorNombre" ng-keyup="getSuplidor($event)" ng-focus="tableSuplidor=false" placeholder="Código o nombre del suplidor"  ng-click="tableSuplidor=false; errorShow=false;" class="producto-field-ei" required>
								</td>
							</tr>
							<tr>
								<td>
									# Factura:
								</td>
								<td>
									<input type="text" ng-model="cxSuperData.factura" value="0" required>
								</td>
							</tr>
							<tr>
								<td>Concepto:</td>
								<td>
									 <textarea cols="30" rows="6" ng-model="cxSuperData.concepto">
								
									 </textarea>
								</td>
							</tr>
							<tr>
								<td>
									Monto:
								</td>
								<td>
									<input type="text" ng-model="cxSuperData.monto" required>  
								</td>
							</tr>
							<tr>
								<td>
									Descuento:
								</td>
								<td>
									<input type="text" ng-model="cxSuperData.descuento" value="0">
								</td>
							</tr>

						</tr>
					</table>
					<div class="bancoItem">
							<button class="Boton  BusquedaBtn icon-save" type="submit" >Guardar</button>
							<button class="Boton  BusquedaBtn  danger icon-delete" type="reset" ng-click="limpiar($event)">Limpiar</button>
						</div>
	      		    </div>
			</form>
		</div>
	</section> -->

</section>
{% endblock content %}