{% extends "base.html" %}

{% block title %} Inventario {% endblock title %}

{% block content %}

	<div class="Inventario" ng-controller="ListadoEntradaInvCtrl">
		
			<div class="sub-menu">	
				<div class="menu-entrada-inventario-listado">
					<button class="nuevo icon-file" title="Nueva entrada de Inventario" ng-click="nuevaEntrada('{{user}}')"></button>
				</div>
					Listado Entradas de Inventario
				<a class="[[ArrowLEI]]" href="#" ng-click="toggleLEI()"></a>
			</div>

		<div id="prueba" class="Listado-Entrada-Inventario cssSlideUp" ng-show="showLEI" ng-init="listadoEntradas()" >
			
			<section class="listado-reg-inventario">
				<span> Documento No. </span>
				<input type="text" class="doc-no-ei" id="DocumentoNo" ng-model="NoDoc" ng-keypress="buscarDoc($event, NoDoc)">
				<a href="#" class="icon-uniE601 icon-buscar" ng-click="filtrarPorNoDoc(NoDoc)"></a>
				<span class="error-ei"> [[NoFoundDoc]]</span>
				<a href="#" class="[[verTodos]] icon-buscar" ng-click="listadoEntradas()">Ver todos</a>
				
				<div class="posteo-ei">
					<span>Posteadas</span>
					<select name="posteo" id="posteo" ng-model="posteof" ng-change="filtrarPosteo()">
						<option value="*">TODOS</option>
						<option value="S">SI</option>
						<option value="N">NO</option>
					</select>
				</div>

				<section class="registrosPanel">
					
					<table class="listado-table-ei" id="table-ei-listado">
						<tr class="listado-table-header-ei">
							<td><input type="checkbox" ng-model="regAll" ng-click="seleccionAll()" > </td>
							<td>Estatus</td>
							<td>Doc. No.</td>
							<td>Fecha</td>
							<td>NCF</td>
							<td>Factura No.</td>
							<td>Suplidor</td>
							<td>Total</td>
							<td>Imprimir</td>
						</tr>

						<tr ng-repeat="entrada in entradas" class="listado-entrada-inventario-detail">
							<td><input type="checkbox" name="c[[entrada.id]]" ng-disabled="[[entrada.posteo | posteo]]" ng-checked="valoresChk[entrada.id]" ng-model="reg[entrada.id]" ng-click="selectedReg(entrada)"> </td>
							<td class="icon-coin posteo-[[entrada.posteo]]"></td>
							<td> <a href="#" class="sp-field" ng-click="visualizarDoc(entrada.id)"> [[entrada.id | numberFixedLen: 8]] </a> </td>
							<td>[[entrada.fecha | date: 'dd-MM-yyyy']]</td>
							<td>[[entrada.ncf]]</td>
							<td>[[entrada.factura]]</td>
							<td>[[entrada.suplidor]]</td>
							<td>[[entrada.totalGeneral]]</td>
							<td><span class="icon-printer imprimir-inventario"></span> </td>
							
						</tr>								
					</table>

				</section>

				<button class="Boton boton-postear-inventario" ng-click=""> Postear</button>
			</section>
		</div>
		<!-- [[entradasSeleccionadas]] -->

		<!--ENTRADA DE INVENTARIO-->
		<div class="sub-menu">	
	
				Entrada de Inventario
		</div>

		<section class="data-entry-section">
			<div class="data-entry-inventario-header">
				
				<!-- <div ng-init="getSuplidor()">
					<ul ng-repeat="suplidor in suplidores">
						<li>[[suplidor]]</li>
					</ul>
					
				</div> -->
				
				<table class="data-entry-header-table">
					<tr>
						<td>Suplidor</td>
						<td> <input type="text" class="id-suplidor-ei" ng-model="dataH.idSuplidor" ng-focus="[[focusSuplidor]]" ng-blur="getSuplidor(dataH.idSuplidor)"> <input type="text" class="nombre-suplidor-ei" ng-model="dataH.suplidorNombre"> </td>
						<td>Entrada No.</td>
						<td> <input type="text" ng-disabled="true"> </td>
					</tr>
					<tr>
						<td>Factura No.</td>
						<td> <input type="text" ng-model="dataH.factura"> </td>
						<td>Orden No.</td>
						<td> <input type="text" ng-model="dataH.ordenNo"> </td>
					</tr>
					<tr>
						<td>NCF</td>
						<td> <input type="text" class="ncf-ei" ng-model="dataH.ncf"> </td>
						<td>Fecha</td>
						<td> <input type="text" ng-model="dataH.fecha" ng-blur="venceFecha()" datepicker> </td>
					</tr>
					<tr>
						<td>Condicion</td>
						<td> 
							<select name="condicion" id="condicion" ng-model="dataH.condicion">
								<option value="Contado">Contado</option>
								<option value="Credito">Credito</option>
							</select>
						</td>
						<td>Dias Plazo</td>
						<td> 
							<select name="diasPlazo" id="DiasPlazo" ng-model="dataH.venceDias" ng-change="venceFecha()">
								<option value="30">30</option>
								<option value="60">60</option>
								<option value="90">90</option>
								<option value="120">120</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Nota</td>
						<td> <textarea name="nota" id="nota" cols="43" rows="2" ng-model="dataH.nota"></textarea> </td>
						<td>Vence</td>
						<td> <input type="text" disabled ng-model="dataH.fechaVence"> </td>
					</tr>

				</table>

				<div class="producto-find">
					<span>Producto</span>
					<input type="text" ng-model="producto" ng-keyup="getProducto()" ng-focus="tableProducto=false" ng-click="tableProducto=false">
					<a href="#" class="icon-uniE601 icon-buscar" ng-click="getProducto()"></a> 

					<span>Almacen</span>
					<select name="almacen" id="almacen">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>	

					<table class="productos-table-search" ng-show="tableProducto">
						<tr class="productos-table-header">
							<td>Codigo</td>
							<td>Descripcion</td>
							<td>Costo</td>
							
						</tr>

						<tr ng-repeat="prod in productos" class="productos-table-detail-search">
							<td>[[prod.codigo]]</td>
							<td><a href="javascript: return false" class="select-producto" ng-click="addProducto(prod)"> [[prod.descripcion]] </a></td>
							<td>[[prod.costo]]</td>
						</tr>

					</table>



					<span class="error-ei"> [[productoNoExiste]]</span>

				</div>
				

				<section class="productos-section">
					<table class="productos-table">
						<tr class="productos-table-header">
							<td>Codigo</td>
							<td>Descripcion</td>
							<td>Unidad</td>
							<td>Cantidad</td>
							<td>Costo</td>
							<td>Subtotal</td>
							<td>Eliminar</td>
						</tr>
						<tr class="productos-table-detail" ng-repeat="item in dataD">
							<td>[[item.codigo]]</td>
							<td>[[item.descripcion]]</td>
							<td>[[item.unidad]]</td>
							<td><input type="text" ng-model="item.cantidad" ng-bind="item.cantidad"></td>
							<td>[[item.costo]]</td>
							<td>[[item.cantidad | number: 000 * item.costo]]</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						
					</table>

					<div class="totales-section">
						<ul class="totales-ul">
							<li><span>SubTotal</span> <input type="text"></li>
							<li><span>ITBIS</span> <input type="text"></li>
							<li><span>Total</span> <input type="text"></li>
						</ul>
					</div>

					<button class="icon-save Boton boton-guarda-inventario" ng-click="guardarEI()">Guardar</button>
				</section>

			</div>
		</section>
		
		</div>
		
	</div>

{% endblock content %}