{% extends "base.html" %}

{% block title %} Inventario {% endblock title %}

{% block content %}


	<div class="Inventario" ng-controller="ListadoEntradaInvCtrl">
		
			<div class="sub-menu">	
				<div class="menu-entrada-inventario-listado">
					<button class="nuevo icon-file" title="Nueva entrada de Inventario"></button>
				</div>
					Listado Entradas de Inventario
				<a class="DownArrow" href="#" ng-click="toggleLEI()"></a>
			</div>

		<div class="Listado-Entrada-Inventario" ng-show="showLEI">
			
			<section class="listado-reg-inventario">
				<span> Documento No. </span>
				<input type="text" id="DocumentoNo">

				<table class="listado-table">
					<tr class="listado-table-header">
						<td><input type="checkbox" ng-click="seleccion()" ng-model="entradas[1].posteo"> </td>
						<td>Estatus</td>
						<td>Doc. No.</td>
						<td>Fecha</td>
						<td>NCF</td>
						<td>Factura No.</td>
						<td>Suplidor</td>
						<td>Total</td>
						<td>Imprimir</td>
					</tr>

					<tr ng-repeat="entrada in entradas" class="listado-entrada-inventario-detail">
						<td><input type="checkbox" name="c[[entrada.id]]" ng-model="entrada[[entrada.id]]"> </td>
						<td class="icon-coin posteo-[[entrada.posteo]]"></td>
						<td>[[entrada.id]]</td>
						<td>[[entrada.fecha]]</td>
						<td>[[entrada.ncf]]</td>
						<td>[[entrada.factura]]</td>
						<td>[[entrada.suplidor]]</td>
						<td>[[entrada.totalGeneral]]</td>
						<td><span class="icon-printer imprimir-inventario"></span> </td>
					</tr>								
				</table>

				<button class="Boton boton-postear-inventario"> Postear</button>
			</section>
		</div>
		

		<!--ENTRADA DE INVENTARIO-->
		<div class="sub-menu">	
	
				Entrada de Inventario
		</div>

		<section class="data-entry-section">
			<div class="data-entry-inventario-header">
				
				<table class="data-entry-header-table">
					<tr>
						<td>Suplidor</td>
						<td> <input type="text"> </td>
						<td>Entrada No.</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Factura No.</td>
						<td> <input type="text"> </td>
						<td>Orden No.</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>NCF</td>
						<td> <input type="text"> </td>
						<td>Fecha</td>
						<td> <input type="text"> </td>
					</tr>
					<tr>
						<td>Condicion</td>
						<td> 
							<select name="condicion" id="condicion">
								<option value="Contado">Contado</option>
								<option value="Credito">Credito</option>
							</select>
						</td>
						<td>Dias Plazo</td>
						<td> 
							<select name="diasPlazo" id="DiasPlazo">
								<option value="30">30</option>
								<option value="60">60</option>
								<option value="90">90</option>
								<option value="120">120</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>Nota</td>
						<td> <textarea name="nota" id="nota" cols="30" rows="2"></textarea> </td>
						<td>Vence</td>
						<td> <input type="text"> </td>
					</tr>

				</table>

				<div class="producto-find">
					<span>Producto</span>
					<input type="text">

					<span>Almacen</span>
					<select name="almacen" id="almacen">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
					</select>	
				</div>
				

				<section class="productos-section">
					<table class="productos-table">
						<tr class="productos-table-header">
							<td>Codigo</td>
							<td>Descripcion</td>
							<td>Unidad</td>
							<td>Cantidad</td>
							<td>Costo</td>
							<td>Subtotal</td>
							<td>Eliminar</td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>
						<tr class="productos-table-detail">
							<td>AC001</td>
							<td>Aceite Crisol 120oz del bueno</td>
							<td>Unidad</td>
							<td>2</td>
							<td>500</td>
							<td>1,000</td>
							<td><button class="icon-delete eliminar-entrada-producto"></button></td>
						</tr>											
					</table>

					<div class="totales-section">
						<ul class="totales-ul">
							<li><span>SubTotal</span> <input type="text"></li>
							<li><span>ITBIS</span> <input type="text"></li>
							<li><span>Total</span> <input type="text"></li>
						</ul>
					</div>

					<button class="icon-save Boton boton-guarda-inventario">Guardar</button>
				</section>

			</div>
		</section>


		
		</div>

		
	</div>



{% endblock content %}