{% extends "base.html" %}

{% block title %} Transferencia Inventario {% endblock title %}

{% block content %}

	<div class="TransferenciaInv">
		
		<div class="conteo-fisico">
			
			<!--CONTEO FISICO-->
			<div class="sub-menu">	
					Conteo Fisico
				<a class="DownArrow" href="#"></a>
			</div>

			<section class="data-entry-section">
				<div class="data-entry-transf-header">
					
					<table class="data-entry-header-table">
						<tr>
							<td>Numero</td>
							<td> <input type="text"> </td>
							<td>Fecha</td>
							<td> <input type="text"> </td>

						</tr>
						<tr>
							<td>Almacen</td>
							<td>
								<select name="almacen" id="almacen">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
								</select>
							</td>
							<td>Nota</td>
							<td> <input type="text"> </td>
							
						</tr>
					</table>

					<div class="producto-find">
						<span>Producto</span>
						<input type="text">
		
					</div>
					

					<section class="productos-section-transf">
						<table class="productos-table-transf">
							<tr class="productos-table-header-transf">
								<td>Codigo</td>
								<td>Descripcion</td>
								<td>Almacen</td>
								<td>Cantidad</td>
								<td>Teorico</td>
								<td>Diferencia</td>
								<td>Eliminar</td>
							</tr>
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td><input type="text" value="500" class="text-field-num-table"></td>
								<td><input type="text" value="400" class="text-field-num-table"></td>
								<td>100</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td><input type="text" value="500" class="text-field-num-table"></td>
								<td><input type="text" value="400" class="text-field-num-table"></td>
								<td>100</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td><input type="text" value="500" class="text-field-num-table"></td>
								<td><input type="text" value="400" class="text-field-num-table"></td>
								<td>100</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td><input type="text" value="500" class="text-field-num-table"></td>
								<td><input type="text" value="400" class="text-field-num-table"></td>
								<td>100</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
							<tr class="productos-table-detail">
								<td>AC003</td>
								<td>Aceite Crisol 20 oz. del bueno</td>
								<td>2</td>
								<td><input type="text" value="500" class="text-field-num-table"></td>
								<td><input type="text" value="400" class="text-field-num-table"></td>
								<td>100</td>
								<td><a class="icon-delete icon-eliminar" href=""></a></td>
							</tr>		
						</table>


						<button class="icon-save Boton boton-guarda-transf">Guardar</button>
					</section>

				</div>
			</section>

		</div>
		
	</div>



{% endblock content %}