<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
	<meta charset="UTF-8">
	<title>{% block title %} {% endblock title%}</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" type="text/css" href={% static "css/estilos.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>

	<link rel="shortcut icon" type="image/png" href={% static "images/logoCoop.png" %} />

</head>
<body ng-app="cooperativa">

	<header class="header">
		<figure class="content-logo">
			<img class="logo" src={% static "images/logoCoop.png" %} alt="">
		</figure>

		<div class="icon-user usuario"> login </div>

		<div class="content-title">
			<p class="titleCoop"> Cooperativa de Ahorros, Creditos y Servicios Multiples, INC.</p>
			<p class="titleCoop titleCoop2"> de los Empleados de Industrias Nacionales</p>			
		</div>

	</header>
	<nav class="nav-menu" ng-controller="MenuController">
		<ul class="ul-menu">
			<li class="menu-item" id="menu1"> <a class="menu-opcion" ng-click="setMenu(1);" href="#">Ahorros</a> </li>
			<li class="menu-item" id="menu2"> <a class="menu-opcion" ng-click="setMenu(2);" href="/prestamos/solicitudP/">Prestamos</a> </li>
			<li class="menu-item" id="menu3"> <a class="menu-opcion" ng-click="setMenu(3);" href="#">Activos Fijos</a> </li>
			<li class="menu-item" id="menu4"> <a class="menu-opcion" ng-click="setMenu(4);" href="#">Contabilidad</a></li>
			<li class="menu-item" id="menu5"> <a class="menu-opcion" ng-click="setMenu(5);" href="#">Recibos de Ingresos</a></li>
			<li class="menu-item" id="menu6"> <a class="menu-opcion" ng-click="setMenu(6);" href="/desembolso">Desembolsos</a></li>
			<li class="menu-item" id="menu7"> <a class="menu-opcion" ng-click="setMenu(7);" href="/inventario">Inventario</a></li>
			<li class="menu-item" id="menu8"> <a class="menu-opcion" ng-click="setMenu(8);" href="/facturacion">Facturacion</a></li>
			<li class="menu-item" id="menu9"> <a class="menu-opcion" ng-click="setMenu(9);" href="#">Conciliacion</a></li>
			<li class="menu-item" id="menu10"> <a class="menu-opcion" ng-click="setMenu(10);" href="/nomina">Nomina</a></li>
			<li class="menu-item" id="menu11"> <a class="menu-opcion" ng-click="setMenu(11);" href="#">CxP</a></li>
			<li class="menu-item" id="menu12"> <a class="menu-opcion" ng-click="setMenu(12);" href="/admin">Administracion</a></li>
		</ul>
	</nav>

	{% block content %}

	{% endblock content %}
	
	<!-- <footer class="footer">
 		Angular Integrado: [[9+9 ]]
		
		<div class="copyright"> Copyright Yeison Segura y Rafael Mercedes </div>

	</footer> -->

	<script type="text/javascript" src={% static "js/lib/angular.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/angular-router.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/jquery-1.11.1.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/jquery-ui.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/app.js" %} ></script>
	<script type="text/javascript" src={% static "js/menu.js" %} ></script>
	<script type="text/javascript" src={% static "js/nomina.js" %} ></script>


</body>
</html>