<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Sistema de la Cooperativa de Industrias Nacionales">
	<meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

	<title>{% block title %} {% endblock title%}</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet" type="text/css" href={% static "css/estilos.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/print_estilos.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/jquery-ui.css" %}>

	<link rel="shortcut icon" type="image/png" href={% static "images/logoCoop.png" %} />

</head>

<body ng-app="cooperativa">
	<header class="header">
		<figure class="content-logo">
			<a href="/"><img class="logo" src={% static "images/logoCoop.png" %} alt=""></a>
			
		</figure>

		<div class="icon-user usuario">{{user}} | {{localidad}}</div>

		<div class="content-title">
			<p class="titleCoop"> Cooperativa de Ahorros, Creditos y Servicios Multiples, INC.</p>
			<p class="titleCoop titleCoop2"> de los Empleados de GerdauMetaldom</p>			
		</div>

	</header>
	
	<nav id="idmenu" class="nav-menu" ng-controller="MenuController">
		<ul class="ul-menu">
			<li class="menu-item" id="menu1" ng-hide="{{Ahorro}}"> 
				<a class="menu-opcion" href="#" ng-click="ShowSubMenuAhorro(true)" ng-mouseleave="ShowSubMenuAhorro(false)">Ahorros</a> 
			</li>

			<li ng-disabled="true" class="menu-item" id="menu2"> 

				<a class="menu-opcion" ng-click="ShowSubMenuP(true)" ng-mouseleave="ShowSubMenuP(false)" href="#" >Prestamos</a> </li>

			<li class="menu-item" id="menu3"> 
				<a class="menu-opcion" ng-click="ShowSubMenuActivo(true)" 
				ng-mouseleave="ShowSubMenuActivo(false)" href="#">Activos Fijos</a>
			 </li>

			<li ng-hide="{{contabilidad}}" class="menu-item" id="menu4">
				 <a class="menu-opcion" ng-click="ShowSubMenuCont(true)"
							ng-mouseleave-"ShowSubMenuCont(false)" href="#">Contabilidad</a>
			</li>

			<li class="menu-item" id="menu5"> <a class="menu-opcion" href="#">Recibos de Ingresos</a></li>
			<li class="menu-item" id="menu6"> <a class="menu-opcion" href="/desembolso">Desembolsos</a></li>
			
			<li ng-hide="{{inventario}}" class="menu-item" id="menu7"> <a class="menu-opcion" ng-click="ShowSubMenuInv(true)" ng-mouseleave="ShowSubMenuInv(false)" href="#">Inventario</a> </li>
			<li ng-hide="{{facturacion}}" class="menu-item" id="menu8"> <a class="menu-opcion" ng-click="ShowSubMenuFact(true)" ng-mouseleave="ShowSubMenuFact(false)" href="#">Facturacion</a> </li>

			<li class="menu-item" id="menu9"> <a class="menu-opcion" href="#">Conciliacion</a></li>
			<li ng-hide="{{nomina}}" class="menu-item" id="menu10"> <a class="menu-opcion" ng-click="ShowSubMenuNomina(true)" ng-mouseleave="ShowSubMenuNomina(false)" href="#">Nomina</a> </li>

			<li ng-hide="{{cxp}}" class="menu-item" id="menu11"> <a class="menu-opcion" ng-click="ShowSubMenuCxp(true)" ng-mouseleave="ShowSubMenuCxp(false)" href="#">CxP</a></li>
			<li class="menu-item" id="menu12"> <a class="menu-opcion"  href="/admin">Administracion</a></li>
		</ul>

	<!-- SUB MENU DE PRESTAMOS -->
	<ul class="sub-menu-prestamos" ng-show="SubMPrestamo" ng-mouseover="ShowSubMenuP(true)" ng-mouseleave="ShowSubMenuP(false)">
		<li><a href="/prestamos/solicitudP" a-disabled="{{SolicitudPrestamo}}">Solicitud de Prestamo</a></li>
		<li><a href="/prestamos/solicitudOD" a-disabled="{{SolicitudOrdenDespacho}}">Solicitud de Orden de Despacho</a></li>
		<li><a href="/prestamos/maestra" a-disabled="{{MaestraPrestamos}}">Maestra de Prestamos</a></li>
		<li><a href="/prestamos/desembolso" a-disabled="{{DesembolsoElectronico}}">Desembolso Electronico</a></li>
		<li><a href="/prestamos/nd" a-disabled="{{NotaDebito}}">Nota de Debito</a></li>
		<li><a href="/prestamos/nc" a-disabled="{{NotaCredito}}">Nota de Credito</a></li>
		<li><a href="/prestamos/nce" a-disabled="{{NotaCreditoEspecial}}">Nota de Credito Especial</a></li>
		<li><a href="/prestamos/distribucion-intereses" a-disabled="{{DistribucionIntereses}}">Distribucion de Intereses</a></li>
		<li><hr/></li>

		<li><a href="/prestamos/reportes/solicitudesPrestamos/" a-disabled="{{SolicitudPrestamosEmitidas}}">Solicitudes de Prestamos Emitidas</a></li>
		<li><a href="/prestamos/reportes/solicitudesOD/" a-disabled="{{SolicitudesOrdenDespacho}}">Solicitudes Orden de Despacho</a></li>
		<li><a href="/prestamos/reportes/prestamos" a-disabled="{{ConsultaPrestamos}}">Consulta Prestamos</a></li>
		<li><a href="/prestamos/reportes/prestamosClasif" a-disabled="{{PrestamosPorClasificacionResumido}}">Prestamos por Clasificacion (Resumido)</a></li>
		<li><a href="/prestamos/reportes/nc" a-disabled="{{ReporteNotasCredito}}">Reporte Notas de Credito</a></li>
		<li><a href="/prestamos/reportes/nd" a-disabled="{{ReporteNotasDebito}}">Reporte Notas de Debito</a></li>
		<li><a href="/prestamos/reportes/cartera" a-disabled="{{CarteraGeneralPrestamos}}">Cartera General de Prestamos</a></li>
		<li><a href="/prestamos/reportes/prestamosPosteados" a-disabled="{{PrestamosPosteados}}">Prestamos Posteados</a></li>

	</ul>	
	<!-- Sub Menu Ahorro -->
	<ul class="sub-menu-ahorro" ng-show="SubMAhorro" ng-mouseover="ShowSubMenuAhorro(true)" ng-mouseleave="ShowSubMenuAhorro(false)">
		<li><a href="/ahorro">Retiro Ahorro</a></li>
		<li><a href="/generarAhorro">Generar Ahorro</a></li>
		<li><a href="/generarInteres">Generar Interes</a></li>
		<li><hr></li>
	</ul>

	<!-- SUB MENU DE INVENTARIO -->
	<ul class="sub-menu-inventario" ng-show="SubMInventario" ng-mouseover="ShowSubMenuInv(true)" ng-mouseleave="ShowSubMenuInv(false)">
		<li><a href="/inventario">Entrada de Inventario</a></li>
		<li><a href="/inventario/salida/">Salida de Inventario</a></li>
		<li><a href="/inventario/ajuste">Ajuste de Inventario</a></li>
		<li><a href="/inventario/transferencia">Transferencia entre Almacenes</a></li>
		<li><hr></li>
		<li><a href="/inventario/reportes/existenciaArticulo/">Reporte de Existencia de Articulo</a></li>
		<li><a href="/inventario/reportes/conteoFisico">Reporte Conteo Fisico</a></li>
		<li><a href="/inventario/reportes/histMovArt">Historico Movimiento de Articulo</a></li>

	</ul>

	<!-- SUB MENU DE FACTURACION -->
	<ul class="sub-menu-facturacion" ng-show="SubMFacturacion" ng-mouseover="ShowSubMenuFact(true)" ng-mouseleave="ShowSubMenuFact(false)">
		<li><a href="/facturacion">Crear/Modificar Factura</a></li>
		<li><hr/></li>
		<li><a href="/facturacion/reportes/ventasDiarias/">Reporte de Ventas Diarias</a></li>
		<li><a href="/facturacion/reportes/ventasResumido/">Reporte Resumen de Ventas</a></li>
		<li><a href="/facturacion/reportes/utilidades/vista/">Reporte de Utilidades</a></li>

	</ul>

	<!-- SUB MENU DE NOMINA -->
	<ul class="sub-menu-nomina" ng-show="SubMNomina" ng-mouseover="ShowSubMenuNomina(true)" ng-mouseleave="ShowSubMenuNomina(false)">
		<li><a href="/nomina/descuentos/" title="Generar archivo de prestamos/ahorros para nomina Empresa">Prestamos / Ahorros </a></li>
		<li><a href="/nomina/">Generar Nomina Cooperativa</a></li>
		<li><hr/></li>
		<li><a href="/nomina/reporte/general">Reporte de Nomina</a></li>
	</ul>
	<!-- SUB MENU DE CXP -->
	<ul class="sub-menu-cxp" ng-show="SubCxp" ng-mouseover="ShowSubMenuCxp(true)" ng-mouseleave="ShowSubMenuCxp(false)">
		<li><a href="/cxp/cxpOrden">Cxp Orden de Compra</a></li>
		<li><a href="">Cxp Factura AceroCoop</a></li>
	</ul>

	<!-- Sub Menu de Contabilidad -->
	<ul class="sub-menu-contabilidad" ng-show="SubCont" ng-mouseover="ShowSubMenuCont(true)" ng-mouseleave="ShowSubMenuCont(false)">
		<li><a href="/contabilidad/DiarioGeneral">Diario General</a></li>
		<li><a href="/contabilidad/MayorGeneral">Mayor General</a></li>
		<li><a href="#">Balance General</a></li>
		<li><a href="#">Estado de Resultado</a></li>
		<li><a href="#">Estado de Sutuación</a></li>
	</ul>

	<ul class="sub-menu-activo" ng-show="SubActivo " ng-mouseover="ShowSubMenuActivo(true)" ng-mouseleave="ShowSubMenuActivo(false)">
		<li> <a href="/activos">Activos</a></li>
		<li><a href="/depresiacion">Generar Depresiación</a></li>
		<li><a href="#">Reporte de Activo</a></li>
		<li><a href="#">Reporte Activos Depreciados</a></li>
		
	</ul>
		
	</nav>

	{% block content %}

	{% endblock content %}
	
	<!-- <footer class="footer">
 		Angular Integrado: [[9+9 ]]
		
		<div class="copyright"> Copyright Yeison Segura y Rafael Mercedes </div>

	</footer> -->

	<script type="text/javascript" src={% static "js/lib/underscore-min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/jquery-1.11.1.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/jquery-ui.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/angular.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/angular-router.min.js" %} ></script>
	<script type="text/javascript" src={% static "js/lib/angular-animate.min.js" %} ></script>

	<script type="text/javascript" src={% static "js/lib/jspdf/jspdf.js" %}></script>
	<script type="text/javascript" src={% static "js/lib/jspdf/jspdf.plugin.standard_fonts_metrics.js" %}></script> 
	<script type="text/javascript" src={% static "js/lib/jspdf/jspdf.plugin.split_text_to_size.js" %}></script>
	<script type="text/javascript" src={% static "js/lib/jspdf/jspdf.plugin.from_html.js" %}></script>
	<script type="text/javascript" src={% static "js/lib/NumeroALetras.js" %}></script>

	<script type="text/javascript" src={% static "js/app.js" %} ></script>
	<script type="text/javascript" src={% static "js/menu.js" %} ></script>
	<script type="text/javascript" src={% static "js/homepage.js" %} ></script>
	<script type="text/javascript" src={% static "js/nomina.js" %} ></script>
	<script type="text/javascript" src={% static "js/facturacion.js" %} ></script>
	<script type="text/javascript" src={% static "js/inventario.js" %} ></script>
	<script type="text/javascript" src={% static "js/rpt_inventario.js" %} ></script>
	<script type="text/javascript" src={% static "js/fondoscajas.js" %} ></script>
	<script type="text/javascript" src={% static "js/solicitudprestamo.js" %} ></script>
	<script type="text/javascript" src={% static "js/solicitudordendespacho.js" %} ></script>
	<script type="text/javascript" src={% static "js/desembolsoelectr.js" %} ></script>
	<script type="text/javascript" src={% static "js/maestraprestamo.js" %} ></script>
	<script type="text/javascript" src={% static "js/desembolsoelectr.js" %} ></script>
	<script type="text/javascript" src={% static "js/notacredito.js" %} ></script>
	<script type="text/javascript" src={% static "js/notadebito.js" %} ></script>
	<script type="text/javascript" src={% static "js/libs/ahorro.js" %}></script>
	<script type="text/javascript" src={% static "js/libs/cxp.js" %}></script>
	<script type="text/javascript" src={% static "js/libs/contabilidad.js" %}></script>
	<script type="text/javascript" src={% static "js/libs/activos.js"%}></script>
	<script type="text/javascript" src={% static "js/libs/cheques.js"%}></script>
	<script type="text/javascript" src={% static "js/libs/ConciliacionBanco.js"%}></script>
	<script type="text/javascript" src={% static "js/libs/ConsiSolicitud.js"%}></script>
	<script type="text/javascript" src={% static "js/libs/notasConciliacion.js"%}></script>




</body>
</html>