{% extends "base.html" %}

{% block title %} Cooperativa {% endblock title %}

{% block content %}
<!-- 
	<div class="HomePage" ng-controller="">
		<figure class="imgHome-content">
			<img src="/static/images/fondoCoop.jpg" alt="" class="imgHome">
		</figure>
	</div>
 --> 
 	<input type="hidden" name="text" value="{{ next }}" />
 	
	<div class="HomePage" ng-controller="HomePageCtrl">
		<figure class="imgHome-content">
			<img src="/static/images/fondoCoop2.jpg" alt="" class="imgHome">
		</figure>
		<h1>Poner ayuda en cada modulo de como crear o iniciar con el proceso</h1>
		<h2>Ejemplo para crear una factura a credito debe tener: etc. etc. etc.</h2>
		<h3>Unir con Yeison el pago de cuotas de Prestamos, ya que puede ser por nomina o un recibo en efectivo o un pago desde los ahorros.</h3>
	</div>

{% endblock content %}