{% extends "base.html" %}

{% block title %} Cooperativa {% endblock title %}

{% block content %}
<!-- 
	<div class="HomePage" ng-controller="">
		<figure class="imgHome-content">
			<img src="/static/images/fondoCoop.jpg" alt="" class="imgHome">
		</figure>
	</div>
 --> 
 	<input type="hidden" name="text" value="{{ next }}" />
 	
	<div class="HomePage" ng-controller="HomePageCtrl">
		<figure class="imgHome-content">
			<img src="/static/images/logoacerocoop.jpg" alt="" class="imgHome">
			<img src="/static/images/fondoCoop2.jpg" alt="" class="imgHome2">
		</figure>
	</div>

{% endblock content %}