<section class="posteo-contabilidad-panel" ng-show="showPostear" ng-disabled="true">
	
	<div class="fondo-opaco">
	</div>

	<div class="cssSlideUpInfo">

		<span class="infoMessage"> [[infoMsg]] </span>
		<a href="#" class="cerrarError" ng-click="toggleInfo()">X</a>

		<section class="content-cuentas-posteo">
			<div ng-show="iDocumentos < 2" class="section-agregar-cuenta">

				<ul class="posteo-cuenta-agregar">
					<li><input type="text" class="descrp-cuenta-posteo" placeholder="Codigo ó Descripcion de Cuenta" ng-model="Postear.cuentaBuscar" ng-change="cuentasBuscar($event)"></li>
				</ul>
				
				<div class="cuentas-contables-posteo">
					<cuentasSearch> </cuentasSearch>
				</div>
			</div>

			<div class="table-posteo-cuentas">
				<table>
					<tr class="table-posteo-cuentas-header">
						<td>Cod. Cta</td>
						<td>Descripcion Cuenta</td>
						<td>Doc. Ref.</td>
						<td>DEBITO</td>
						<td>CREDITO</td>
						<td class="align-center">Quitar</td>
					</tr>
					<tr class="table-posteo-cuentas-detail" ng-repeat="desgloseC in desgloseCuentas">
						<td>[[desgloseC.cuenta]]</td>
						<td>[[desgloseC.descripcion]]</td>
						<td>[[desgloseC.ref]]</td>
						<td><input type="text" class="cantidad bg-transparent align-right resaltar-valor" ng-model="desgloseC.debito" ng-bind="desgloseC.debito"></td>
						<td><input type="text" class="cantidad bg-transparent align-right resaltar-valor" ng-model="desgloseC.credito" ng-bind="desgloseC.credito"></td>
						<td class="align-center"><a href="#" class="icon-delete icon-eliminar" ng-click="quitarCC(desgloseC)"></a></td>
					</tr>
					<tr>
						<td colspan="3" class="resaltar-valor">TOTALES:</td>
						<td class="resaltar-valor verde align-right">[[totalDebito | number : 2]]</td>
						<td class="resaltar-valor verde align-right">[[totalCredito | number : 2]]</td>
						<td></td>
					</tr>

				</table>

			</div>
			<div class="accion-posteo">
				<button class="Boton boton-llevar-contab">Llevar a Contabilidad</button>
			</div>
			
		</section>
	</div>
</section>
