<section class="posteo-contabilidad-panel" ng-show="showPostear">
	
	<div class="fondo-opaco">
	</div>

	<div class="cssSlideUpInfo">

		<span class="infoMessage"> [[infoMsg]] </span>
		<a href="#" class="cerrarError" ng-click="toggleInfo()">X</a>

		<section class="content-cuentas-posteo">
			<div class="section-agregar-cuenta">

				<ul class="posteo-cuenta-agregar">
					<li><input type="text" class="codigo-cuenta-posteo" placeholder="Codigo Cuenta" ng-model="Postear.cuentaCodigo"></li>
					<li><input type="text" class="descrp-cuenta-posteo" placeholder="Descripcion Cuenta" ng=model="Postear.cuentaDescrp"></li>
					<li><button class="Boton boton-agregar-cuenta-posteo">Agregar</button></li>
				</ul>
			</div>

			<div class="table-posteo-cuentas">
				<table>
					<tr class="table-posteo-cuentas-header">
						<td>Cod. Cta</td>
						<td>Descripcion Cuenta</td>
						<td>Doc. Ref.</td>
						<td>DEBITO</td>
						<td>CREDITO</td>
						<td>Quitar</td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>8,900</td>
						<td>0</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>8,900</td>
						<td>0</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>1001001</td>
						<td>Cuenta por Cobrar Suplidor</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>
					<tr class="table-posteo-cuentas-detail">
						<td>100192001</td>
						<td>Cuenta por Cobrar Suplidorxxxxxxxxxxxxxxxxxx</td>
						<td>INV-000034</td>
						<td>0</td>
						<td>8,900</td>
						<td><a href="#" class="icon-delete icon-eliminar"></a></td>
					</tr>

				</table>

			</div>
			<div class="accion-posteo">
				<button class="Boton boton-llevar-contab">Llevar a Contabilidad</button>
			</div>
			
		</section>
	</div>
</section>
