<div class="ahorroPrint">
	{% extends "base.html" %}
	{% block title %} Retiro Socio {% endblock title %}

	{% block content %}
</div>

<div ng-controller="ImpHistorico" ng-init="registro()">	
	<div class="header-ahorro">
		<span class="printAHorroFecha">Fecha: [[fecha]]</span>
		<table class="header-table">
			<tr>
				<td><strong>Código socio:</strong> </td>
				<td>[[ahorroDt.socioId]]</td>
			</tr>
			<tr>
				<td><strong>Nombre:</strong> </td>
				<td>[[ahorroDt.socio]]</td>
			</tr>
			<tr>
				<td><strong>Balance: </strong></td>
				<td>[[ahorroDt.balance |number: 2]]</td>
			</tr>
			<tr>
				<td><strong>Disponible: </strong></td>
				<td>[[ahorroDt.disponible |number: 2]]</td>
			</tr>
		</table>
	</div>

	<div class="body-ahorro">
			<p>
				<span>
					<strong>Fecha</strong>
				</span>
				<span>
					<strong>Balance</strong>
				</span>
				<span>
					<strong>Disponible</strong>
				</span>
			</p>
			<p ng-repeat="registro in AhorroDataRegistro">
				<span>
					[[registro.fecha | date: 'dd/MM/yyyy']]
				</span>
				<span>
					[[registro.balance]]
				</span>
				<span>
					[[registro.disponible | number:2]]
				</span>
			</p>
	</div>



</div>
	

{% endblock content %}