<div class="ahorroPrint">
	{% extends "base.html" %}
	{% block title %} Retiro Socio {% endblock title %}

	{% block content %}
</div>

<div ng-controller="ImprimirAhorroController" ng-init="registro()">
	
	<div class="header-ahorro">
		<span class="printAHorroFecha">Fecha: [[fecha]]</span>
		<table class="header-table">
			<tr>
				<td><strong>Código socio:</strong> </td>
				<td>[[ahorroDt.socioId]]</td>
			</tr>
			<tr>
				<td><strong>Nombre:</strong> </td>
				<td>[[ahorroDt.socio]]</td>
			</tr>
			<tr>
				<td><strong>Balance: </strong></td>
				<td>[[ahorroDt.balance |number: 2]]</td>
			</tr>
			<tr>
				<td><strong>Disponible: </strong></td>
				<td>[[ahorroDt.disponible |number: 2]]</td>
			</tr>
		</table>
	</div>
	<div class="body-ahorro">
			<p>
				<span>
					<strong style="padding-right: 12.3em;">Fecha</strong> <span>[[retiro.fecha | date: 'dd/MM/yyyy']]</span>
				</span>
				</br>
				<span>
					<strong style="padding-right: 3em;">Balance Anters del Retiro</strong> [[ahorroDt.balance | number:2]]
				</span>
				</br>
				<span>
					<strong style="padding-right: .7em;">Balance Deuda Por prestamos</strong> [[ahorroDt.deuda | number:2]]
				</span>
				</br>
				<span>
					<strong style="padding-right: 9em;">Ahorro Libre </strong> [[ahorroDt.disponible | number:2]]
				</span>
				</br>
				<span>
					<strong style="padding-right: 7.3em;">Monto a retirado </strong> [[ahorroDt.retiro | number:2]]
				</span>
				</br>
				</br>
				<span>
					<strong style="padding-right: 1.7em;">Balance despues del retiro</strong> [[ahorroDt.balance | number:2]]
				</span>
			</p>
	</div>
	<!-- <div class="footer-ahorro">
	
		
	</div> -->
	<div class="ahorroPrint">
		<button class="Boton  Boton-down icon-printer" ng-click="imprimir()">
			Imprimir
		</button>
	</div>
</div>
{% endblock content %}