{% extends "base.html" %}

{% block title %} Ahorro {% endblock title %}

{% block content %}
	<!-- Visualizar Ahorros-->
	<div class="Ahorro" ng-controller="AhorroController">
		<mensajeerror> </mensajeerror>
		<mensajeinfo> </mensajeinfo>
		<div class="sub-menu">
			Ahorros
			<a href="#" class="[[ArrowAhorro]]" ng-click="toggleAhorroPanel()"></a>
		</div>
		<div ng-show="[[AhorroPanel]]">
			<section id="mainSection">
				<section class="Ahorro-main" ng-init="getListaAhorro()">
					<section class="Ahorro-main-search">
						<div class="Ahorro-main-search-box">
							<input id="finder" type="text" class="search-item" placeholder="Código de colaborador o Beneficiario">
							<a href="#" class="icon-uniE601 icon-search" ng-click="setAhorro()"></a>
						</div>
					</section>
				</section>

				<section class="Ahorro-main-list">
						<div class="registrosPanel--grande">
							<table id='tabla-ahorros' class='listado-table noTop'>
								<tr class="listado-table-nc-header">
									<th>Registro</th>
									<th>Socio</th>
									<th>Balance</th>
									<th>Disponible</th>
									<th>Imprimir</th>
								</tr>
								<tr ng-repeat="ahorro in Ahorros" class="listado-ar-detail">
									<td><a href="#" ng-click="AhorroById([[ahorro.id]])" class='utils-gr utils-noDecoration icon-pencil '><span class=""></span> </a></td>
									<td>[[ahorro.socio]] </td>
									<td class="utils-alingTRight"> [[ahorro.balance |number:2]]</td>
									<td class="utils-alingTRight"> [[ahorro.disponible |number:2]] </td>
									<td> <a href="#" class="utils-paddingLSmallx2 utils-noDecoration icon-printer" ng-click="setAhorro()"></a></td>
								</tr>
								
							</table>
						</div>
					</section>
			</section>
		</div>
		<div>
			<section class="Ahorro-detalle">
				<div class="sub-menu">
					Ahorros - Detalle
					<a href="#" class="[[ArrowDetalle]]" ng-click="toggleAhorroPanel()"></a>
				</div>
				<div class="DiarioSearch">
					<table>
						<tr>
							<td style="margin-right:.5em:"><strong> Registro </strong></td>
							<td>[[AhorrosPorSocio[0].id]]</td>
						</tr>
						<tr>
							<td style="margin-right:.5em:">
								<strong>Socio</strong> 
							</td>
							<td style="margin-right:.5em:">
								[[AhorrosPorSocio[0].socio]]
							</td>
						</tr>
						<tr>
							<td style="margin-right:.25em:"><strong>Balance</strong> </td>
							<td>[[AhorrosPorSocio[0].balance |number:2]]</td>
						</tr>
						<tr>
							<td style="margin-right:.5em:">
								<strong> Disponible</strong>
							</td>
							<td >[[AhorrosPorSocio[0].disponible]]</td>
						</tr>
					</table>
					
				</div>
				<div class="Ahorro-detalle-cuentas">
					<div class="registroPanel">
						<table id="tabla-detalleCuentas" class="listado-table ">
							<tr class="listado-table-header-ei utils-upperBorderR">
								<th>Registro</th>
								<th>Fecha</th>
								<th>Monto</th>
								<th>Interes</th>
								<th>Balance</th>
								<th>Estatus</th>
							</tr>
							<tr ng-repeat="registro in AhorrosPorSocio[0].maestra" class="listado-ardt-detail">
							<td><a href="#" ng-click="getCuentaMaestra([[registro.id]])" class='utils-gr utils-noDecoration icon-pencil' ></a></td>
							<td>[[registro.fecha]]</td>
							<td>[[registro.monto |number:2]]</td>
							<td>[[registro.interes |number:2]]</td>
							<td>[[registro.balance |number:2]]</td>
							<td><input type="checkbox" name="[[maestra.estatus]]" id=""></td>
								
							</tr>
						</table>
					</div>
				</div>
			</section>
		</div>
		<section>
			<div class="sub-menu">
			Retiro ahorro
			<a href="#" class="[[ArrowLF]]" ng-click="toggleLF()"></a>
		</div>
		</section>

	</div>

{% endblock content %}